<div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand collapsed visible-xs-inline" href="#">
            <div class="logo-img-mobile">
                <span class="logo-text-mobile">Query Analytics</span>
            </div>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="hidden-xs">
                        <a class="navbar-brand" href="#">
                            <div class="logo-img">
                                <span class="logo-text">Query Analytics</span>
                            </div>
                        </a>
                    </li>
                    <li>
                    <p class="well navbar-text"
                       style="padding: 0px 5px 0px 5px; margin-bottom: 0px; min-width: 325px;">{{ begin }} to {{ end }}</p>
                    </li>
                    <li>
                        <p class="navbar-text">Time Range:</p>
                        <div class="btn-group">
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'1h'">1h</label>
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'1d'">1d</label>
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'1w'">1w</label>
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'1m'">1m</label>
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'3m'">3m</label>
                            <label class="btn btn-default navbar-btn" ng-model="time_range" btn-radio="'1y'">1y</label>
                            <div class="btn-group">
                                <label class="btn btn-default navbar-btn dropdown-toggle"
                                       type="button"
                                       ng-model="time_range"
                                       btn-radio="'cal'"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span class="caret"></span>
                                </label>
                                <div class="dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <table style="padding: 10px; border-spacing: 10px; border-collapse: separate;">
                                        <tr>
                                            <td>
                                                From: {{ fromDateCal | date:'yyyy-MM-dd HH:mm:ss' }}
                                            </td>
                                            <td>
                                                To: {{ toDateCal | date:'yyyy-MM-dd HH:mm:ss' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="well">
                                                <datetimepicker data-ng-model="fromDateCal"
                                                data-datetimepicker-config="{ startView:'day', minView:'hour' }" />
                                                </div>
                                            </td>
                                            <td>
                                            <div class="well">
                                                <datetimepicker data-ng-model="toDateCal"
                                                data-datetimepicker-config="{ startView:'day', minView:'hour' }" />
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td class="pull-right">
                                                <button type="submit" ng-click="setCalRange();" class="btn btn-primary">Apply</button>
                                                <button type="button" ng-click="cancelCalRange();" class="btn btn-default">Cancel</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <label class="btn btn-default navbar-btn">UTC</label>
                        </div>
                    </li>
                    <!--li>
                        <p class="navbar-text">Hosts:</p>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="host">
                            <div class="form-group">
                                <select class="form-control" id="host" name="host">
                                    <option value="848fa7964b694b1962a51f5482133090" selected="selected">ubuntu</option>
                                </select>
                            </div>
                        </form>
                    </li>
                    <li>
                    <p class="navbar-text">Sort by:</p>
                    <div class="btn-group">
                        <label class="btn btn-default navbar-btn" ng-model="sort_by" btn-radio="'Max'">Max</label>
                        <label class="btn btn-default navbar-btn" ng-model="sort_by" btn-radio="'Min'">Min</label>
                    </div>
                    </li-->
                </ul>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
