<form #addInstanceForm="ngForm" (ngSubmit)="onSubmit(addInstanceForm)" class="add-instance-form">
    <h5 class="add-instance-form__title">Add remote {{instanceType}} Instance</h5>
    <div *ngIf="!showAddNodePanel" class="add-instance-panel">
        <ng-select [(ngModel)]="remoteInstanceCredentials.node_id"
                   [items]="nodes"
                   [clearable]="true"
                   (change)="onChangeNode($event)"
                   bindLabel="node_name"
                   bindValue="node_id"
                   name="NodeSelect" id="nodeselect"
                   class="pmm-select pmm-select--inventory  pmm-select--column pmm-select--column-main">
        </ng-select>
        <div>
            <a (click)="enableAddNodeForm()" class="button button--dark" id="addService">Add Instance</a>
          <span class="description">
            Select host from existed one or add new one
          </span>
        </div>
    </div>

    <div *ngIf="showAddNodePanel" class="add-instance-panel">
        <h6>Node params</h6><span></span>
        <input [(ngModel)]="remoteInstanceCredentials.add_node.node_name"
               [class.input--invalid]="nodename?.errors && isSubmitted"
               #nodename="ngModel"
               type="text" class="input-field  input-field--dark"
               placeholder="*Node name" name="Nodename" id="nodename" required>
        <span class="description">
            Name for new node. Should be unique across all Nodes. Can't be changed.
        </span>
        <ng-select
                   [items]="nodeTypes"
                   [clearable]="false"
                   (change)="onChangeNodeType($event)"
                   bindLabel="label"
                   bindValue="value"
                   name="NodeTypeSelect" id="nodetypeselect"
                   class="pmm-select pmm-select--inventory  pmm-select--column pmm-select--column-main">
        </ng-select>
        <span class="description">
            Node type to be registered
        </span>

        <textarea [(ngModel)]="nodeCustomLabels"
                  rows="4"
                  type="text" class="input-field input-field--textarea input-field--dark"
                  placeholder="Custom labels" id="nodeCustomLabels" name="nodeCustomLabels"></textarea>
        <div class="description custom-labels">
            <a>What is Custom labels</a>
            <span>
Format:
key1:value1
key2:value2
            </span>
        </div>
    </div>

    <div class="add-instance-panel">
        <h6>Main details</h6><span></span>
        <input [(ngModel)]="remoteInstanceCredentials.address"
               [class.input--invalid]="hostname?.errors && isSubmitted"
               #hostname="ngModel"
               type="text" class="input-field  input-field--dark"
               placeholder="*Hostname" name="Hostname" id="hostname" required>
        <span class="description">
            Public DNS hostname of your instance
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.service_name" #name="ngModel"
               type="text" class="input-field input-field--dark"
               placeholder="Service name (default: Hostname)" id="name" name="Name">
        <span class="description">
            Service name to use.
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.port" #port="ngModel"
               type="text" class="input-field input-field--dark" placeholder="Port"
               [placeholder]="instanceType === 'PostgreSQL' ? 'Port (default: 5432)' : '(default: 3306)'"
               id="port" name="Port">
        <span class="description">
            Port your service is listening on
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.username"
               [class.input--invalid]="username?.errors && isSubmitted"
               #username="ngModel"
               type="text" class="input-field input-field--dark"
               placeholder="*Username" name="Username" id="username" required>
        <span class="description">
            Your database user name
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.password"
               [class.input--invalid]="password?.errors && isSubmitted"
               #password="ngModel"
               type="password" class="input-field input-field--dark"
               placeholder="*Password" name="Password" id="password" required>
        <span class="description">
            Your database password
        </span>
    </div>

    <div class="add-instance-panel">
        <h6>Labels</h6><span></span>
        <input [(ngModel)]="remoteInstanceCredentials.environment"
               type="text" class="input-field  input-field--dark"
               placeholder="Environment" name="environment" id="environment">
        <span class="description">
            <a>What is Environment label</a>
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.replication_set"
               type="text" class="input-field input-field--dark"
               placeholder="Replication set" id="replication_set" name="replication_set">
        <span class="description">
            <a>What is Replication set label</a>
        </span>

        <input [(ngModel)]="remoteInstanceCredentials.cluster"
               type="text" class="input-field input-field--dark"
               placeholder="Cluster" id="cluster" name="cluster">
        <span class="description">
            <a>What is Cluster label</a>
        </span>

        <textarea [(ngModel)]="customLabels"
                  rows="4"
               type="text" class="input-field input-field--textarea input-field--dark"
                  placeholder="Custom labels" id="customlabels" name="customlabels"></textarea>
        <div class="description custom-labels">
            <a>What is Custom labels</a>
            <span>
Format:
key1:value1
key2:value2
            </span>
        </div>
    </div>

    <div class="add-instance-panel">
        <h6>Additional options</h6><span></span>
        <div>
            <input [(ngModel)]="remoteInstanceCredentials.skip_connection_check"
                   type="checkbox" class="input-field--dark"
                   name="skip_connection_check" id="skip_connection_check">
            <label class="description" for="skip_connection_check">
                Skip connection check
            </label>
        </div>
        <span class="description">
            <a>What does it mean</a>
        </span>
    </div>

    <div class="add-instance-form__submit-block">
        <button type="submit" [disabled]="isDemo" class="button button--dark" id="addInstance">Add service</button>
        <div *ngIf="errorMessage && isSubmitted && addInstanceForm.valid">*{{ errorMessage }}</div>
        <div *ngIf="isSubmitted && !addInstanceForm.valid">Fields marked with an asterisk (*) are required</div>
        <div *ngIf="isLoading" class="spinner-wrapper">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
    </div>
</form>
