.add-instance-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-gap: 1em;
  align-items: baseline;
  max-width: 775px;
  width: 100%;
  padding: 40px 0 40px 10%;
  background-color: var(--element-background);
}

.add-instance-form__title,
.add-instance-form__submit-block {
  grid-column: 1 / 3;
}

.add-instance-form__submit-block {
  display: flex;
  align-items: center;
}

.add-instance-form__submit-block > *:first-child {
  margin-right: 15px;
}

.input-field {
  height: 40px;
  font-weight: 300;
}

.fa-info-circle {
  font-size: 20px;
}

div.app-tooltip {
  position: relative;
  width: min-content;
}

div.app-tooltip::before {
  left: 25px;
  top: -3px;
  padding: 5px;
}

div.app-tooltip--hostname::before {
  content: 'Public DNS hostname of your instance';
}

div.app-tooltip--name::before {
  content: 'Instance name to use';
}

div.app-tooltip--port::before {
  content: 'Port your instance is listening on';
}

div.app-tooltip--username::before {
  content: 'Your database user name';
}

div.app-tooltip--password::before {
  content: 'Your database password';
}
