:host {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.content-table-wrapper {
  min-height: var(--min-qan-height);
}

.main-wrapper {
  --table-height: 0;

  position: relative;
  min-height: inherit;
}

.add-column-btn {
  --button-color: #a8a8a8;

  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 20px;
  color: var(--button-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.table-wrapper--outer {
  position: relative;
  min-height: 400px;
  margin-right: 20px;
  border-top: 1px solid var(--main-border-color);
  background-color: var(--page-background);

  .right-table-border {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: var(--table-height);
    background-color: var(--main-border-color);
  }
}

.pmm-scrollbar,
::ng-deep .pmm-scrollbar > .ps {
  min-height: inherit !important;
}

::ng-deep .pmm-scrollbar > .ps.ps--active-x > .ps__rail-x {
  top: calc(var(--table-height) + (var(--main-bottom-indent) / 2)) !important;
}

.table-wrapper--inner {
  --row-heigth: 40px;
  --first-c-width: 30px;
  --second-c-width: 250px;

  margin-top: -1px;
  margin-left: calc(var(--first-c-width) + var(--second-c-width));
  padding-bottom: var(--main-bottom-indent);
}

.qan-table {
  width: 100%;
  border-collapse: collapse;
}

.qan-table__row {
  cursor: pointer;
  background-color: var(--page-background);
  border-bottom: 1px solid var(--main-border-color);

  &:focus {
    outline: none;
  }
}

.qan-table__row--active,
.qan-table__row--active.qan-table__row--first-seen {
  background-color: var(--pmm-row-active);
}

.qan-table__row--first-seen {
  background: var(--pmm-row-first-seen);
}

.qan-table__cell {
  height: var(--row-heigth);
  white-space: nowrap;
}

.qan-table__cell--fixed {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 30px;
  background-color: inherit;
}

.qan-table__cell--fixed {
  height: calc(var(--row-heigth) + 1px);
  border-bottom: 1px solid var(--main-border-color);
}

.qan-table__cell--first-c {
  left: 0;
  width: var(--first-c-width);
  border-left: 1px solid var(--main-border-color);
}

.qan-table__cell--second-c {
  left: var(--first-c-width);
  width: var(--second-c-width);
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
}

.qan-table__cell--second-c ~ .qan-table__cell {
  border-left: 1px solid var(--main-border-color);
}

.qan-table__cell--second-c + .qan-table__cell {
  border-left: none;
}

th.qan-table__cell:first-child,
td.qan-table__cell {
  padding: 5px;
}

th.qan-table__cell--fixed {
  z-index: 4;
}

.qan-table__abstract {
  cursor: pointer;
  color: var(--main-highlight-color);
  text-align: left;
  background-color: inherit;
}

.pagination-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
}

.results-per-page {
  display: flex;
  justify-content: space-between;
  width: max-content;
  margin-right: 20px;
  border-radius: 2px;
  border: 1px solid var(--main-border-color);
  border-right: none;

  .pmm-select {
    width: max-content;
    min-width: 60px;
  }

  span {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(32, 34, 39);
  }
}

.pmm-pagination::ng-deep .ngx-pagination .pagination-next a::after,
.pmm-pagination::ng-deep .ngx-pagination .pagination-next.disabled::after {
  content: '';
  margin-left: 0;
}

.pmm-pagination::ng-deep .ngx-pagination .pagination-previous a::before,
.pmm-pagination::ng-deep .ngx-pagination .pagination-previous.disabled::before {
  content: '';
  margin-right: 0;
}

.pmm-pagination::ng-deep .ngx-pagination .pagination-previous.disabled,
.pmm-pagination::ng-deep .ngx-pagination .pagination-next.disabled {
  background-color: transparent;
}

.pmm-pagination::ng-deep .ngx-pagination {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.pmm-pagination::ng-deep .ngx-pagination li {
  --pagination-button-size: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: var(--pagination-button-size);
  height: var(--pagination-button-size);

  color: inherit;
  border-radius: 5px;
  border: 1px solid var(--highlight-background);
  background-color: var(--highlight-background);
}

.pmm-pagination::ng-deep .ngx-pagination a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 0;

  color: inherit;
}

.pmm-pagination::ng-deep .ngx-pagination a:hover {
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--highlight-background);
}

.pmm-pagination::ng-deep .ngx-pagination li:not(:last-child) {
  margin-right: 10px;
}

.pmm-pagination::ng-deep .ngx-pagination li.small-screen {
  display: none;
}

.pmm-pagination::ng-deep .ngx-pagination .current {
  cursor: default;
  background-color: transparent;
}
