<div class="content-table-wrapper">
  <div class="main-wrapper" #mainTableWrapper>
    <div class="table-wrapper--outer">
      <perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar">
        <div class="table-wrapper--inner">
          <table class="qan-table" #qanTable>
            <ng-container
              *ngFor="let row of tableData | paginate: paginationConfig; let index = index; let last = last" #tableRows>
              <tr *ngIf="!index" class="qan-table__row qan-table__row--heading">
                <th class="qan-table__cell qan-table__cell--fixed qan-table__cell--first-c">#</th>
                <th class="qan-table__cell qan-table__cell--fixed qan-table__cell--second-c">
                  <app-main-cell></app-main-cell>
                </th>
                <ng-container *ngFor="let metric of row.metrics; let indexMetrics = index">
                  <app-qan-table-header-cell [currentColumnName]="metric.metricName"
                                             [fullData]="tableData"
                                             [metrics]="metrics"
                                             [processIndex]="indexMetrics"
                                             [rowMetrics]="row.metrics">
                  </app-qan-table-header-cell>
                </ng-container>
              </tr>
              <tr (click)="showDetails(row.dimension, row?.fingerprint)"
                  [class.qan-table__row--active]="row.dimension === detailsBy"
                  class="qan-table__row qan-table--body">
                <td class="qan-table__cell qan-table__cell--first-c qan-table__cell--fixed">
                  {{index ? currentPage * perPage - perPage + index : ''}}
                </td>
                <td class="qan-table__cell qan-table__cell--second-c qan-table__cell--fixed ">
                  <div class="overlay-container">
                    <span *ngIf="!row.fingerprint" class="overlay-container__item qan-table__abstract">
                      {{row.dimension || 'TOTAL'}}
                    </span>
                    <span *ngIf="row.fingerprint" class="overlay-container__item qan-table__abstract">
                      {{index ? row.fingerprint : 'TOTAL'}}
                    </span>
                  </div>
                </td>
                <ng-container *ngFor="let metric of row.metrics; let index = index">
                  <app-qan-table-cell [metricData]="metric"
                                      [sparklineData]="row.sparkline"
                                      [checkSparkline]="!index"
                                      [totalSum]="tableData[0][metric.metricName]">
                  </app-qan-table-cell>
                </ng-container>
              </tr>
            </ng-container>
          </table>
        </div>
      </perfect-scrollbar>
      <span class="right-table-border"></span>
    </div>
    <button (click)="addColumn()" class="add-column-btn">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="paginationConfig.totalItems > 10" class="pagination-tools">
    <pagination-controls id="qan-table-pagination"
                         class="pmm-pagination"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"
                         (pageChange)="pageChanged($event)">
    </pagination-controls>
    <div class="results-per-page">
      <span>Results per page</span>
      <ng-select [searchable]="false"
                 [(ngModel)]="perPage"
                 [items]="selectPaginationConfig"
                 [clearable]="false"
                 (change)="onChangePerPage($event)"
                 class="pmm-select pmm-select--column pmm-select--column-main">
      </ng-select>
    </div>
  </div>
</div>
