<div class="card">
    <div class="card-header" id="query_profile_heared">
        <span id="query_profile_top">Top {{ totalAmountOfQueries ? (queryProfile?.length - 1) : 0 }} of {{ totalAmountOfQueries }} Queries by % Grand Total Time (%GTT)</span>
        <span class="pull-right" id="selected_time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <b class="text-info">{{ fromDate }}</b>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <b class="text-info">{{ toDate }}</b>
        </span>
    </div>
    <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading-in-front"></i>
    <table class="table table-bordered table-striped table-hover table-sm mb-0" id="query_profile_table">
        <thead class="thead-default">
            <tr>
                <th title="Rank">#</th>
                <th style="width: 14em;" title="Query Abstract">Query Abstract</th>
                <th style="width: 10em;" title="ID">ID</th>
                <th title="Load" colspan="2">Load</th>
                <th title="Count" colspan="3">Count</th>
                <th colspan="3" title="Latency">Latency</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of queryProfile; let i = index; let first = first;"
                [routerLink]="['./', 'report']"
                [queryParams]="composeQueryParamsForGrid(row.Id)"
                routerLinkActive="table-success">
                <td class="text-xs-right">{{ i || '' }}</td>
                <td>
                    <a [routerLink]="['./', 'report']"
                       [queryParams]="composeQueryParamsForGrid(row.Id)"
                       href="javascript:void(0);" title="{{ row.Fingerprint }}">
                       {{ ((row.Abstract ? row.Abstract : 'TOTAL') | slice:0:22) + (row.Abstract.length > 22 ? '...' : '') }}
                    </a>
                </td>
                <td title="{{ row.Id }}">{{ row.Id }}</td>
                <td class="no-right-border" style="width: 6em;">
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="row.Log" data-tooltip="Loading..."
                         xkey="Start_ts" ykey="Query_time_sum" measurement="number"></div>
                </td>
                <td class="no-left-border text-xs-right">
                    {{ row.Load | humanize : 'number' }} ({{ row.Percentage | humanize : 'percent' }})
                </td>
                <td class="no-right-border text-xs-right">
                    {{row.QPS | humanize : 'number'}}&nbsp;QPS
                </td>
                <td class="no-left-border no-right-border" style="width: 6em;">
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="row.Log" data-tooltip="Loading..."
                         xkey="Start_ts" ykey="Query_count" measurement="number" >

                    </div>
                </td>
                <td class="no-left-border text-xs-right">
                    {{row.Stats.Cnt | humanize : 'number'}} ({{ (row.Stats.Cnt / profileTotal?.Stats.Cnt * 100).toFixed(2) }}%)
                </td>
                <td class="no-right-border chart-td" style="width: 6em;">
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="row.Log" data-tooltip="Loading..."
                         xkey="Start_ts" ykey="Query_time_avg" measurement="time"></div>
                </td>
                <td class="no-right-border no-left-border text-xs-right">
                    {{ row.Stats.Avg | humanize }}&nbsp;avg
                </td>
                <td style="width: 6em;" class="no-left-border chart-td" popover-trigger="mouseenter" popover-append-to-body="true" popover-placement="top"
                    popover-template=" 'latencyPopoverRow.html' ">
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time" [appLatencyChart]="row.Stats"></div>
                </td>
            </tr>
            <tr *ngIf="totalAmountOfQueries === 0">
                <td id="query_profile_no_data" class="text-center" colspan="11">No data for selected time-range.</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="totalAmountOfQueries">
    <button id="show_more" type="button" class="btn btn-outline-primary btn-block" (click)="loadMoreQueries()" [disabled]="leftInDbQueries === 0">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        <span *ngIf="leftInDbQueries > 0">Load next {{ leftInDbQueries > 10 ? 10 : leftInDbQueries }} queries</span>
        <span *ngIf="leftInDbQueries === 0">No more queries for selected time range</span>
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
</div>
<router-outlet></router-outlet>