.queries-viewer {
  margin-bottom: var(--main-bottom-indent);
}

.scaling-svg-container {
  background-color: rgb(31, 29, 29);
}

.scaling-svg-container {
  width: 130px;
}

.action-tools {
  padding: var(--tb-config-menu-indent) var(--lr-config-menu-indent);
  background-color: var(--main-border-color);
  margin-bottom: var(--main-bottom-indent);
}

.actions-tools__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-column-gap: 15px;
  grid-template-rows: var(--qan-search-height);
  width: 100%;
}
