.queries-viewer {
  margin-bottom: var(--main-bottom-indent);
}

.scaling-svg-container {
  background-color: rgb(31, 29, 29);
}

.scaling-svg-container {
  width: 130px;
}

.action-tools {
  padding: var(--tb-config-menu-indent) var(--lr-config-menu-indent);
  background-color: var(--main-border-color);
  margin-bottom: var(--main-bottom-indent);
}

.actions-tools__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-column-gap: 15px;
  grid-template-rows: var(--qan-search-height);
  width: 100%;
}

.pmm-qan {
  --grid-gap: 10px;
  display: grid;
  grid-template-areas: 'search search search' 'filter table add-column';
  grid-template-columns: 300px minmax(1000px, 1fr) 20px;
}

.pmm-qan__search {
  grid-area: search;
  margin-bottom: var(--grid-gap);
}

.pmm-qan__filter {
  grid-area: filter;
}

.pmm-qan__table {
  grid-area: table;
  margin-left: var(--grid-gap);
}

.btn-column-wrapper {
  margin-left: 3px;
}

.pmm-qan__add-column-btn {
  grid-area: add-column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 20px;
  color: var(--main-border-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#search-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  clip: (0, 0, 0, 0);
}
