.queries-viewer {
  margin-bottom: var(--main-bottom-indent);
}

.scaling-svg-container {
  background-color: rgb(31, 29, 29);
}

.scaling-svg-container {
  width: 130px;
}

.action-tools {
  padding: var(--tb-config-menu-indent) var(--lr-config-menu-indent);
  background-color: var(--main-border-color);
  margin-bottom: var(--main-bottom-indent);
}

.actions-tools__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-column-gap: 15px;
  grid-template-rows: var(--qan-search-height);
  width: 100%;
}

.pmm-qan {
  --grid-gap: 10px;
  display: grid;
  grid-template-areas: 'search search search' 'filter table add-column';
  grid-template-columns: 300px minmax(1000px, 1fr) 20px;
}

.pmm-qan__search {
  grid-area: search;
  margin-bottom: var(--grid-gap);
}

.pmm-qan__filter {
  grid-area: filter;
}

.pmm-qan__table {
  grid-area: table;
  margin-left: var(--grid-gap);
}

.btn-column-wrapper {
  margin-left: 3px;
}

.pmm-qan__add-column-btn {
  grid-area: add-column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 20px;
  color: var(--main-border-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.table-wrapper {
  position: relative;
  overflow: auto;
  overflow-y: scroll;
  width: 100%;
}

.sticky-wrapper {
  position: relative;
  overflow-x: scroll;
  z-index: 1;
  border-right: 1px solid var(--main-border-color);
}

.pmm-table {
  --pmm-row-active: rgb(35, 70, 130);
  --pmm-row-first-seen: rgb(13, 35, 59);
  --row-height: 40px;
  --first-c-width: 30px;
  --second-c-width: 250px;
  --column-quantity: 12;

  display: inline-grid;
  grid-template-columns: 30px 320px repeat(var(--column-quantity) ,minmax(250px, auto));
  grid-template-rows: var(--row-height);
  grid-auto-rows: var(--row-height);

  border-top: 1px solid var(--main-border-color);

  & > .pmm-table__cell {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    width: auto;
    padding: 5px;
    border-bottom: 1px solid var(--main-border-color);
    background-color: var(--page-background);
  }

  .pmm-table__cell--title {
    cursor: default;
  }

  .pmm-table__cell--sticky {
    position: sticky;
  }

  .pmm-table__cell--first-c {
    left: 0;
    width: var(--first-c-width);
    border-left: 1px solid var(--main-border-color);
  }

  .pmm-table__cell--second-c {
    left: var(--first-c-width);
    color: #27b2e5;
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
  }

  .pmm-table__cell--second-c ~ .pmm-table__cell {
    border-left: 1px solid var(--main-border-color);
  }

  .pmm-table__cell--second-c + .pmm-table__cell {
    border-left: none;
  }

  .pmm-table__cell--first-seen {
    background: var(--pmm-row-first-seen);
  }

  .pmm-table__cell--active,
  .pmm-table__cell--active.pmm-table__cell--first-seen {
    background-color: var(--pmm-row-active);
  }
}

#search-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  clip: (0, 0, 0, 0);
}
