<div *ngIf="isQueryDataAbsent" class="alert alert-warning w-75 mx-auto text-center wrap no-data-message" role="alert">
  There is no any data from this host for this period. Maybe monitoring wasn't available at this moment. Please select
  wider period of time or wait for several minutes to collect some data
</div>
<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap invalid-name-message" role="alert">
  Host name is not valid, please click the Host dropdown and select a valid host. If the Host list is empty, use
  <code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a
  monitoring service,
  consult
  <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"
     target="blank">PMM documentation.</a>
</div>
<div *ngIf="dbServer !== null && dbServer !== undefined" class="content-wrapper">
  <section *ngIf="!noQueryError" class="pmm-qan">
    <app-qan-search class="pmm-qan__search"></app-qan-search>
    <app-qan-filter class="pmm-qan__filter"></app-qan-filter>
    <div class="pmm-qan__table">
      <!--<ng-select [searchable]="false"-->
      <!--[items]="queryTypes"-->
      <!--[clearable]="false"-->
      <!--bindLabel="name"-->
      <!--#column-->
      <!--bindValue="name"-->
      <!--class="pmm-select pmm-select&#45;&#45;column">-->
      <!--<ng-template ng-header-tmp>-->
      <!--<input (input)="column.filter($event.target.value)" class="input-field" placeholder="Type to search">-->
      <!--<button><img src="assets/search.svg" alt="search"></button>-->
      <!--</ng-template>-->
      <!--<ng-template ng-footer-tmp>-->
      <!--<button>Remove this column</button>-->
      <!--</ng-template>-->
      <!--</ng-select>-->
      <!--<ng-select [searchable]="false"-->
      <!--[items]="queryTypes"-->
      <!--[clearable]="false"-->
      <!--bindLabel="name"-->
      <!--bindValue="name"-->
      <!--class="pmm-select pmm-select&#45;&#45;column pmm-select&#45;&#45;column-main">-->
      <!--</ng-select>-->
      <!--<div class="table-wrapper&#45;&#45;outer">-->
      <!--<div class="table-wrapper&#45;&#45;inner">-->
      <!--<table *ngIf="!isQuerySwitching" class="pmm-grid-table" id="qanTable">-->
      <!--<tr class="pmm-grid-table__row">-->
      <!--<th class="pmm-grid-table__cell pmm-grid-table__cell&#45;&#45;fixed">#</th>-->
      <!--<th class="pmm-grid-table__cell pmm-grid-table__cell&#45;&#45;fixed pmm-grid-table__cell&#45;&#45;main">-->
      <!--</th>-->
      <!--<th class="pmm-grid-table__cell">-->
      <!--Rows Scanned-->
      <!--</th>-->
      <!--<th class="pmm-grid-table__cell">-->
      <!--<div class="cell__content&#45;&#45;max">Rows Scanned</div>-->
      <!--</th>-->
      <!--</tr>-->
      <!--<tr *ngFor="let row of queryProfile; let i = index;"-->
      <!--[routerLink]="['./', 'report', dbServer.Subsystem]"-->
      <!--[queryParams]="composeQueryParamsForGrid(row.Id)" routerLinkActive="pmm-grid-table__row&#45;&#45;active"-->
      <!--[class.pmm-grid-table__row&#45;&#45;first-seen]="checkFirstSeen(row)"-->
      <!--class="pmm-grid-table__row">-->
      <!--<td class="pmm-grid-table__cell pmm-grid-table__cell&#45;&#45;fixed">-->
      <!--{{i || ''}}-->
      <!--</td>-->
      <!--<td class="pmm-grid-table__cell pmm-grid-table__cell&#45;&#45;fixed pmm-grid-table__cell&#45;&#45;main">-->
      <!--<div>-->
      <!--<button class="pmm-grid-table__details-button">-->
      <!--{{ row.Rank ? (row.Abstract || 'Low Ranking Queries') : 'TOTAL' }}-->
      <!--</button>-->
      <!--</div>-->
      <!--</td>-->
      <!--<td class="pmm-grid-table__cell">-->
      <!--&lt;!&ndash;<div [ngSwitch]="currentColumn" class="pmm-grid-table__sub-table">&ndash;&gt;-->
      <!--&lt;!&ndash;<div *ngIf="selectedColumnConfig?.sparkline" class="scaling-svg-container app-tooltip"&ndash;&gt;-->
      <!--&lt;!&ndash;[appLoadSparklines]="row.Log"&ndash;&gt;-->
      <!--&lt;!&ndash;data-tooltip="Loading..."&ndash;&gt;-->
      <!--&lt;!&ndash;xkey="Start_ts" ykey="{{yKey}}"&ndash;&gt;-->
      <!--&lt;!&ndash;measurement="{{measurement}}"&ndash;&gt;-->
      <!--&lt;!&ndash;id="sparkline">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Load'">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.value">&ndash;&gt;-->
      <!--&lt;!&ndash;{{ row.Load | humanize : 'number' }}&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Count'" class="unit unit&#45;&#45;qps" id="countQueriesPerSecond">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.queriespersecond">{{row.QPS | humanize : 'number'}}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Avg Latency'">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.value">{{ row.Stats.Avg | humanize }}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
      <!--&lt;!&ndash;<ng-container *ngSwitchDefault></ng-container>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--daAsADdcs-->
      <!--</td>-->
      <!--<td class="pmm-grid-table__cell">-->
      <!--&lt;!&ndash;<div [ngSwitch]="currentColumn" class="pmm-grid-table__sub-table" id="rowsCanned">&ndash;&gt;-->
      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Load'">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.percentage">&ndash;&gt;-->
      <!--&lt;!&ndash;{{row.Percentage | humanize : 'percent'}}&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Count'" id="countValue">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.value">{{row.Stats.Cnt | humanize : 'number'}}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Count'" class="unit unit&#45;&#45;percent" id="countPercentage">&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="selectedColumnConfig?.percentage">{{(row.Stats.Cnt / profileTotal?.Stats.Cnt * 100).toFixed(2)}}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchCase="'Avg Latency'">&ndash;&gt;-->
      <!--&lt;!&ndash;<div *ngIf="selectedColumnConfig?.distribution"&ndash;&gt;-->
      <!--&lt;!&ndash;[appLatencyChart]="row.Stats"&ndash;&gt;-->
      <!--&lt;!&ndash;class="scaling-svg-container scaling-svg-container&#45;&#45;full-width app-tooltip"&ndash;&gt;-->
      <!--&lt;!&ndash;data-tooltip="Loading..."&ndash;&gt;-->
      <!--&lt;!&ndash;measurement="time"&ndash;&gt;-->
      <!--&lt;!&ndash;id="latencyDistribution">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

      <!--&lt;!&ndash;<ng-container *ngSwitchDefault></ng-container>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--asxafcewwwdas-->
      <!--</td>-->
      <!--</tr>-->
      <!--</table>-->
      <!--</div>-->
      <!--</div>-->
      <div class="sticky-wrapper">
        <div class="pmm-table" #qanTable>
          <div class="pmm-table__cell pmm-table__cell--title pmm-table__cell--first-c pmm-table__cell--sticky">#</div>
          <div class="pmm-table__cell pmm-table__cell--title pmm-table__cell--second-c pmm-table__cell--sticky"></div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>
          <div class="pmm-table__cell pmm-table__cell--title">Rows Scanned</div>

          <ng-container *ngFor="let row of queryProfile; let i = index;">
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--first-c pmm-table__cell--sticky pmm-table__cell--content">{{i || ''}}</div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--second-c pmm-table__cell--sticky pmm-table__cell--content">
              <div class="overlay-container">
                <span class="overlay-container__item">{{ row.Rank ? (row.Abstract || 'Low Ranking Queries') : 'TOTAL' }}</span>
              </div>
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
            <div [routerLink]="['./', 'report', dbServer.Subsystem]"
                 [queryParams]="composeQueryParamsForGrid(row.Id)"
                 [class.pmm-table__cell--first-seen]="checkFirstSeen(row)"
                 routerLinkActive="pmm-table__cell--active"
                 class="pmm-table__cell pmm-table__cell--content">
              Lorem ipsum dolor sit amet.
            </div>
          </ng-container>
        </div>
      </div>
      <input type="text" id="search-input">
      <router-outlet></router-outlet>
    </div>
    <div class="btn-column-wrapper">
      <button (click)="addColumn()" class="pmm-qan__add-column-btn">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    </div>

    <div *ngIf="!!noQueryError" class="text-center alert alert-danger w-75 mx-auto wrong-configuration-message" role="alert">
      {{ noQueryError }}
    </div>

    <div *ngIf="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0" class="text-center">
      <div *ngIf="dbServer.Subsystem === 'mongo' && !isFirstSeenChecked && !isSearchQuery"
           class="alert alert-warning w-75 mx-auto wrap no-mongo-queries">
        There is no query data because profiling is not enabled for the selected host. For information about how to
        enable profiling, see
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mongodb.html" target="blank">
          Configuring profiling in MongoDB
        </a>in PMM documentation.
      </div>
      <div *ngIf="dbServer.Subsystem === 'mysql' && !isFirstSeenChecked && !isSearchQuery"
           class="alert alert-warning w-75 mx-auto wrap no-mysql-queries">
        There is no query data because the MySQL Server is not configured for monitoring. For details about the
        required configuration, see
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mysql.html" target="blank">
          Configuring MySQL for Percona Monitoring and Management
        </a>in PMM documentation.
      </div>
      <div *ngIf="isFirstSeenChecked && !isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
        There are no queries First Seen during the selected time range, try widening your time range.
      </div>
      <div *ngIf="isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
        There are no queries during the selected time range, try widening your time range.
      </div>
    </div>
  </section>
</div>
