.queries-viewer {
  margin-bottom: var(--main-bottom-indent);
}

.scaling-svg-container {
  background-color: rgb(31, 29, 29);
}

.scaling-svg-container {
  width: 130px;
}

.action-tools {
  padding: var(--tb-config-menu-indent) var(--lr-config-menu-indent);
  background-color: var(--main-border-color);
  margin-bottom: var(--main-bottom-indent);
}

.actions-tools__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-column-gap: 15px;
  grid-template-rows: var(--qan-search-height);
  width: 100%;
}

.pmm-qan {
  --grid-gap: 10px;
  display: grid;
  grid-template-areas: 'search search' 'filter table';
  grid-template-columns: 300px minmax(1000px, 1fr);
  grid-template-rows: auto 480px;
}

.pmm-qan__search {
  grid-area: search;
  margin-bottom: var(--grid-gap);
}

.pmm-qan__filter {
  grid-area: filter;
}

.pmm-qan__table {
  grid-area: table;
  margin-left: var(--grid-gap);
}

#search-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  clip: (0, 0, 0, 0);
}
