<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">ID</th>
    <th class="inventory-table__cell">Type</th>
    <th class="inventory-table__cell">Other Details</th>
  </tr>
  <tr *ngFor="let agentData of agentsData">
    <td class="inventory-table__cell">{{agentData?.agent_id}}</td>
    <td class="inventory-table__cell">{{agentData.agentType}}</td>
    <td class="inventory-table__cell">
      <div class="cell__details">
        <span *ngIf="agentData?.connected">connected: {{agentData.connected}}</span>
        <span *ngIf="agentData?.runs_on_node_id">runs_on_node: {{agentData.runs_on_node_id}}</span>
        <span *ngIf="agentData?.metrics_url">metrics_url: {{agentData.metrics_url}}</span>
        <span *ngIf="agentData?.listen_port">listen_port: {{agentData.listen_port}}</span>
        <span *ngIf="agentData?.pmm_agent_id">pmm_agent_id: {{agentData.pmm_agent_id}}</span>
        <span *ngIf="agentData?.service_id">service_id: {{agentData.service_id}}</span>
        <span *ngIf="agentData?.status">status: {{agentData.status}}</span>
        <span *ngIf="agentData?.username">username: {{agentData.username}}</span>
        <span *ngIf="agentData?.password">password: {{agentData.password}}</span>
        <span *ngIf="agentData?.disabled && !isString(agentData?.disabled)">disabled: {{agentData.disabled}}</span>
        <span *ngIf="agentData?.service_ids?.length">
          service_ids: <span *ngFor="let service_id of agentData.service_ids">{{service_id}} </span>
        </span>
        <span *ngIf="agentsData?.custom_labels?.length">
          custom_labels:
          <span *ngFor="let custom_label of agentData.custom_labels" class="point">
            {{custom_label.key}}: {{custom_label.value}}</span>
        </span>
      </div>
    </td>
  </tr>
</table>
