<ng-select [items]="autocomplete"
           [multiple]="true"
           [(ngModel)]="selected"
           (add)="addToSelected($event)"
           (remove)="removeFromSelected($event)"
           (clear)="removeAllFromSelected()"
           (open)="addCustomScroll()"
           [searchFn]="autocompleteSearch"
           bindLabel="urlParamName"
           clearAllText="Reset"
           placeholder="Filter by..."
           class="pmm-select pmm-select--search">
  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
    <div class="ng-value" *ngFor="let item of items">
      <div class="chips">
        <span class="ng-value-label">{{humanizeLabelGroup(item.groupName)}}: {{item.filterName || 'n/a'}}</span>
        <button class="close-button" (click)="clear(item)" aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <span class="pmm-select__option">{{humanizeLabelGroup(item.groupName)}}: {{item.filterName || 'n/a'}}</span>
  </ng-template>
</ng-select>
