<ng-container *ngIf="isExistence">
  <div class="cell-inner">
    <div *ngIf="metricData?.metricName && isSparkline" class="app-tooltip"
         [appLoadPolygonChart]="sparklineData"
         data-tooltip="Loading..."
         xkey="timestamp"
         [ykey]="yKey"
         [metricName]="metricData?.metricName"
         [measurement]="pipeInfo?.sparklineType">
    </div>
    <div *ngIf="isTimeMetric && metricData?.stats?.avg">
      <span class="app-tooltip" data-tooltip="Per query">
      {{(metricData?.stats?.avg) | humanize : 'time'}}
      </span>
    </div>
    <div *ngIf="!isTimeMetric && (metricData?.stats?.qps || metricData?.stats?.sum_per_sec)">
      <span *ngIf="currentMetricInfo?.units === '(per sec)'"class="app-tooltip" data-tooltip="Per second">
        {{(metricData?.stats?.qps || metricData?.stats?.sum_per_sec) | humanize : 'number'}}
      </span>
      <span *ngIf="currentMetricInfo?.units !== '(per sec)'">
        {{(metricData?.stats?.qps || metricData?.stats?.sum_per_sec) | humanize : 'number'}}
        {{ currentMetricInfo?.units }}
      </span>
    </div>
    <div *ngIf="metricData?.stats?.sum">
      {{metricData?.stats?.sum | humanize : pipeInfo?.sumPipe}}
    </div>
    <div *ngIf="isPercentOfTotal" class="unit unit--percent">
      {{percentOfTotal}}
    </div>
    <div *ngIf="isStats" class="app-tooltip" data-tooltip="Loading..."
         [measurement]="pipeInfo?.sumPipe"
         [appLatencyChart]="metricData?.stats"
         metricPrefix="Rows_sent">
    </div>
    <ng-container *ngIf="isNoData">
      <div>n/a</div>
    </ng-container>
  </div>
</ng-container>
