:host {
  --sparkline-width: 130px;

  display: table-cell;
  height: var(--row-heigth);
  white-space: nowrap;
  vertical-align: top;
  border-right: 1px solid var(--main-border-color);
}

.cell-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 5px;
  font-weight: 100;
}

.cell-inner > *:not(:last-child) {
  margin-right: 15px;
}

.scaling-svg-container {
  width: var(--sparkline-width);

  background-color: rgb(31, 29, 29);
}

.scaling-svg-container--x2 {
  width: calc(2 * var(--sparkline-width));
}
