:host {
  --tabset-border-color: rgb(31, 31, 31);
  --start-border-gradient: rgb(250, 209, 73);
  --end-border-gradient: rgb(175, 52, 37);
  --border-width: 2px;
  --border-radius: 0.25rem;
}

#inventory-tabset::ng-deep {

  .nav-tabs {
    z-index: -1;
    border-bottom: var(--border-width) solid var(--tabset-border-color);
    -webkit-box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);
    -moz-box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);
    box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);

    .nav-item {
      position: relative;
      overflow: hidden;
      margin-bottom: calc(var(--border-width) * -1);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    .nav-link {
      z-index: 1;
      color: white;
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &.active {
        border-left: var(--border-width) solid var(--tabset-border-color);
        border-right: var(--border-width) solid var(--tabset-border-color);
        border-bottom: var(--border-width) solid var(--page-background);
        background-color: var(--page-background);

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';

          width: 100%;
          border-width: var(--border-width);
          border-style: solid;
          border-image: linear-gradient(to right, var(--start-border-gradient), var(--end-border-gradient)) 1;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table,
.inventory-table__cell {
  border: 1px solid var(--main-border-color);
}

.inventory-table__cell {
  padding: 10px;
}
