.chart {
    background: #eee;
    padding: 1px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    white-space: nowrap;
    padding: 1px;
    margin: 1px;
    color: black;
    box-shadow: 1px 1px 1px #666;
}

.load-sparklines {
    width: 200px;
    height: 15px;
    font: 5px sans-serif;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 1px;
}

.area {
    fill: steelblue;
    stroke: none;
    opacity: 0.1;
}

.zeroline {
    fill: none;
    stroke: red;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
}

.zerolinetext {
    fill: red;
}

.overlay {
    fill: none;
    stroke: none;
    pointer-events: all;
}

.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.focusCircle {
    fill: steelblue;
}
