<nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded" style="width: 100%">
	<a class="navbar-brand" routerLink="/" routerLinkActive="active">
		<div class="logo-img">
			<span class="logo-text">Query Analytics</span>
		</div>
	</a>
	<ul class="nav navbar-nav">
		<li class="nav-item dropdown" ngbDropdown id="db_server_dropdown">
			<a ngbDropdownToggle href="javascript:void(0);" title="DB Server{{ dbServer?.Name ? ': ' + dbServer?.Name : '' }}" class="nav-link dropdown-toggle active"
			 id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img class="img-db" src="{{ getDBLogo(dbServer?.Distro) }}">
					{{ dbServer?.Name | truncateRoot : 16 }}
		</a>
			<div class="dropdown-menu" style="margin: 0; padding: 0; min-width: 600px; max-width: 900px; max-height:70vh; overflow:scroll;"
			 aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" style="padding: 1em;" title="DB Server" *ngFor="let server of dbServers" [ngClass]="{active: server.UUID === dbServer?.UUID }"
				 [routerLink]="[]" [queryParams]="{'var-host': server.Name}">
					<h5>
						<img class="img-db" src="{{ getDBLogo(server.Distro) }}"> {{ server.Name | truncateRoot : 40}}
					</h5>
					<small>DSN: {{ server.DSN.split('/?')[0] }}</small><br />
					<small>Version: {{ server.Version }} {{ server.Distro }}</small>
				</a>
			</div>

		</li>

		<li class="nav-item">
			<a class="nav-link" id="settings_link" title="Query Profile." [routerLink]="['/profile']" [queryParams]="dbServer?.Name ? {'var-host': dbServer?.Name} : ''"
			 routerLinkActive="active">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
				<span class="hidden-md-down">Query Profile</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="summary_link" title="View database and server summary info." [routerLink]="['/sys-summary']" [queryParams]="dbServer?.Name ? {'var-host': dbServer?.Name} : ''"
			 routerLinkActive="active"><i class="fa fa-server"></i>
				<span class="hidden-md-down">System Summary</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="settings_link" title="Configure query analitics. View status and log of agent." [routerLink]="['/settings']"
			 [queryParams]="dbServer?.Name ? {'var-host': dbServer?.Name} : ''" routerLinkActive="active"><i class="fa fa-cog"></i>
				<span class="hidden-md-down">Settings</span></a>
		</li>

		<li class="nav-item" [hidden]="isExtHidden">
			<form class="form-inline" (submit)="search()">
				<div class="input-group">
					<input class="form-control" [(ngModel)]="searchValue" size="32" name="searchValue" id="search_field" type="text" placeholder="Search by Query Abstract, Fingerprint or ID">
					<span class="input-group-btn">
							<button class="btn btn-outline-primary"
								(submit)="search()"
								id="search_button"
								type="submit"><i class="fa fa-search"></i></button>
							<!--<button class="btn btn-outline-primary"
								(click)="reset();"
								id="reset_search_button"
								type="reset"><i class="fa fa-times"></i></button>-->
					</span>
				</div>
			</form>
		</li>
	</ul>
	<div *ngIf="!isExtHidden" class="navbar-toggler-right d-flex flex-row">
		<div class="d-flex flex-column">
			<span class="badge badge-info"><small>{{ fromDateCompact }}</small></span>
			<span class="badge badge-info"><small>{{ toDateCompact }}</small></span>
		</div>
		<span class="dropdown" ngbDropdown [autoClose]="false" #timeRangeDrop="ngbDropdown">

		<a ngbDropdownToggle href="javascript:void(0);" class="nav-link dropdown-toggle" id="supportedContentDropdown" data-toggle="dropdown"
			aria-haspopup="true" title="Time range" aria-expanded="false"><i class="fa fa-calendar text-info"></i></a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="supportedContentDropdown">
			<div class="container">
				<div class="row">
					<div class="col-md-3" title="Time range">
					From: <br />
				<!-- TBD: form #timeRange="ngForm">
						<div class="form-group" [ngClass]="{'has-warning': timeRange.form.touched && timeRange.form.invalid}">
							<label class="form-control-label" for="fromInput">From</label>
							<input class="form-control"
								type="text"
								name="fromInput"
								id="fromInput"
								[(ngModel)]="fromInput"
								#fromInputV
								required
								>
						</div>
				</form-->
						<ngb-datepicker navigation="arrow"
										[(ngModel)]="fromCal"
										name="fromCal"
										(ngModelChange)="changeDateCal($event, 'from')"
										[maxDate]="toCal"></ngb-datepicker>
					</div>
					<div class="col-md-3" title="Time range">
						To: <br />
						<!-- TBD: input [(ngModel)]="toInput"
							   name="toInput"
							   id="toInput"
							   (ngModelChange)="changeDateInput($event, 'to')"
							   [ngClass]="{'form-control-warning': !isValidToInput}"
							   class="form-control form-control-warning" type="text"
							name="datetimeTo" id="datetime-to-input"-->
						<ngb-datepicker navigation="arrow"
										[(ngModel)]="toCal"
										name="toCal"
										(ngModelChange)="changeDateCal($event, 'to')"
										[minDate]="fromCal"></ngb-datepicker>
						<button type="button" class="btn btn-secondary"
								[disabled]=""
							    (click)="setTimeRange(); $event.stopPropagation(); timeRangeDrop.close();">Apply</button>
					</div>
					<div class="col-md-3 list-group" title="Quick ranges">
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(1, 'h'); $event.stopPropagation(); timeRangeDrop.close();">Last 1 hour</a>
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(3, 'h'); $event.stopPropagation(); timeRangeDrop.close();">Last 3 hours</a>
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(6, 'h'); $event.stopPropagation(); timeRangeDrop.close();">Last 6 hours</a>
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(12, 'h'); $event.stopPropagation(); timeRangeDrop.close();">Last 12 hours</a>
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(1, 'd'); $event.stopPropagation(); timeRangeDrop.close();">Last 1 day</a>
						<a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="setQuickRange(5, 'd'); $event.stopPropagation(); timeRangeDrop.close();">Last 5 days</a>
					</div>
					<div class="col-md-3">
						<div class="btn-group" role="group" aria-label="Time zone">
							<button type="button" class="btn btn-secondary" [ngClass]="{'active': timezone === 'local'}" (click)="setTimeZone('local')">Local timezone</button>
							<button type="button" class="btn btn-secondary" [ngClass]="{'active': timezone === 'utc'}" (click)="setTimeZone('utc')">UTC</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</span>
	</div>
</nav>

<span class="printable-header">
	<h2>Instance: {{ dbServer?.Name }}</h2>
	<h3>DSN: {{ dbServer?.DSN?.split('/?')[0] }}</h3>
	<h3>Version: {{ dbServer?.Version }} {{ dbServer?.Distro }}</h3>
</span>