<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">Type</th>
    <th class="inventory-table__cell">Name</th>
    <th class="inventory-table__cell">Region</th>
    <th class="inventory-table__cell">Instance</th>
    <th class="inventory-table__cell">Machine ID</th>
    <th class="inventory-table__cell">Distro</th>
    <th class="inventory-table__cell">Distro version</th>
    <th class="inventory-table__cell"></th>
  </tr>
  <tbody *ngIf="(nodeData$ | async)?.container">
  <tr *ngFor="let container of (nodeData$ | async)?.container">
    <td class="inventory-table__cell">Container</td>
    <td class="inventory-table__cell">{{container?.node_name}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell">{{container?.machine_id}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <!--<td class="inventory-table__cell">-->
      <!--<div *ngIf="container?.custom_labels">-->
        <!--<span *ngIf="container.custom_labels?.additionalProp1">{{container.custom_labels.additionalProp1}}</span>-->
        <!--<span *ngIf="container.custom_labels?.additionalProp2">{{container.custom_labels.additionalProp2}}</span>-->
        <!--<span *ngIf="container.custom_labels?.additionalProp3">{{container.custom_labels.additionalProp3}}</span>-->
      <!--</div>-->
      <!--<p>Add label</p></td>-->
    <td class="inventory-table__cell">
      <button><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="(nodeData$ | async)?.generic">
  <tr *ngFor="let generic of (nodeData$ | async)?.generic">
    <td class="inventory-table__cell">Generic</td>
    <td class="inventory-table__cell">{{generic.node_name}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell">{{generic.machine_id}}</td>
    <td class="inventory-table__cell">{{generic.distro}}</td>
    <td class="inventory-table__cell">{{generic.distro_version}}</td>
    <!--<td class="inventory-table__cell">-->
      <!--<div *ngIf="generic?.custom_labels">-->
        <!--<span *ngIf="generic.custom_labels?.additionalProp1">{{generic.custom_labels.additionalProp1}}</span>-->
        <!--<span *ngIf="generic.custom_labels?.additionalProp2">{{generic.custom_labels.additionalProp2}}</span>-->
        <!--<span *ngIf="generic.custom_labels?.additionalProp3">{{generic.custom_labels.additionalProp3}}</span>-->
      <!--</div>-->
      <!--<p>Add label</p></td>-->
    <td class="inventory-table__cell">
      <i class="fa fa-trash-o"></i>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="(nodeData$ | async)?.remote">
  <tr *ngFor="let remote of (nodeData$ | async)?.remote">
    <td class="inventory-table__cell">Remote</td>
    <td class="inventory-table__cell">{{remote?.node_name}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <!--<td class="inventory-table__cell">-->
      <!--<div *ngIf="remote?.custom_labels">-->
        <!--<span *ngIf="remote.custom_labels?.additionalProp1">{{remote.custom_labels.additionalProp1}}</span>-->
        <!--<span *ngIf="remote.custom_labels?.additionalProp2">{{remote.custom_labels.additionalProp2}}</span>-->
        <!--<span *ngIf="remote.custom_labels?.additionalProp3">{{remote.custom_labels.additionalProp3}}</span>-->
      <!--</div>-->
      <!--<p>Add label</p></td>-->
    <td class="inventory-table__cell">
      <button><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="(nodeData$ | async)?.remote_amazon_rds">
  <tr *ngFor="let remote_amazon_rds of (nodeData$ | async)?.remote_amazon_rds">
    <td class="inventory-table__cell">Remote amazon rds</td>
    <td class="inventory-table__cell">{{remote_amazon_rds?.node_name}}</td>
    <td class="inventory-table__cell">{{remote_amazon_rds?.region}}</td>
    <td class="inventory-table__cell">{{remote_amazon_rds?.instance}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell"></td>
    <!--<td class="inventory-table__cell">-->
      <!--<div *ngIf="remote_amazon_rds?.custom_labels">-->
        <!--<span *ngIf="remote_amazon_rds.custom_labels?.additionalProp1">{{remote_amazon_rds.custom_labels.additionalProp1}}</span>-->
        <!--<span *ngIf="remote_amazon_rds.custom_labels?.additionalProp2">{{remote_amazon_rds.custom_labels.additionalProp2}}</span>-->
        <!--<span *ngIf="remote_amazon_rds.custom_labels?.additionalProp3">{{remote_amazon_rds.custom_labels.additionalProp3}}</span>-->
      <!--</div>-->
      <!--<p>Add label</p></td>-->
    <td class="inventory-table__cell">
      <button><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<!--<div class="form-wrapper-inventory">-->
  <!--<form (ngSubmit)="addContainer()">-->
    <!--<h5>Container</h5>-->
    <!--<input [(ngModel)]="container.docker_container_id" [ngModelOptions]="{standalone: true}" class="input-field"-->
           <!--placeholder="docker_container_id"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="container.docker_container_name" [ngModelOptions]="{standalone: true}" class="input-field"-->
           <!--placeholder="docker_container_name"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="container.machine_id" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="machine_id"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="container.node_name" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->

  <!--<form (ngSubmit)="addGeneric()">-->
    <!--<h5>Add Generic</h5>-->
    <!--<input [(ngModel)]="generic.address" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="address"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="generic.distro" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="distro"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="generic.distro_version" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="distro_version"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="generic.machine_id" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="machine_id" type="text">-->
    <!--<input [(ngModel)]="generic.node_name" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->

  <!--<form (ngSubmit)="addRemote()">-->
    <!--<h5>Add Remote</h5>-->
    <!--<input [(ngModel)]="remote.node_name" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->

  <!--<form (ngSubmit)="remoteAmazonRDSNode()">-->
    <!--<h5>Add Remote Amazon RDS</h5>-->
    <!--<input [(ngModel)]="remoteAmazonRDS.instance" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="instance"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="remoteAmazonRDS.node_name" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_name"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="remoteAmazonRDS.region" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="region" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->
<!--</div>-->
