<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">ID</th>
    <th class="inventory-table__cell">Node Name</th>
    <th class="inventory-table__cell">Address</th>
    <th class="inventory-table__cell">Other Details</th>
  </tr>
  <tr *ngFor="let nodeData of nodesData">
    <td class="inventory-table__cell">{{nodeData?.node_id}}</td>
    <td class="inventory-table__cell">{{nodeData?.node_name}}</td>
    <td class="inventory-table__cell">{{nodeData?.address}}</td>
    <td class="inventory-table__cell">
      <span *ngIf="nodeData?.docker_container_id">docker_container_id: {{nodeData.docker_container_id}}</span>
      <span *ngIf="nodeData?.docker_container_name">docker_container_name: {{nodeData.docker_container_name}}</span>
      <span *ngIf="nodeData?.machine_id">machine_id: {{nodeData.machine_id}}</span>
      <span *ngIf="nodeData?.distro">distro: {{nodeData.distro}}</span>
      <span *ngIf="nodeData?.distro_version">distro_version: {{nodeData.distro_version}}</span>
      <span *ngIf="nodeData?.instance">instance: {{nodeData.instance}}</span>
      <span *ngIf="nodeData?.region">region: {{nodeData.region}}</span>
    </td>
  </tr>
</table>
