<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">ID</th>
    <th class="inventory-table__cell">Type</th>
    <th class="inventory-table__cell">Service Name</th>
    <th class="inventory-table__cell">Node ID</th>
    <th class="inventory-table__cell">Addresses</th>
    <th class="inventory-table__cell">Port</th>
    <th class="inventory-table__cell">Other Details</th>
  </tr>
  <tr *ngFor="let serviceData of servicesData">
    <td class="inventory-table__cell">{{serviceData?.service_id}}</td>
    <td class="inventory-table__cell">{{serviceData.agentType}}</td>
    <td class="inventory-table__cell">{{serviceData?.service_name}}</td>
    <td class="inventory-table__cell">{{serviceData?.node_id}}</td>
    <td class="inventory-table__cell">{{serviceData?.address}}</td>
    <td class="inventory-table__cell">{{serviceData?.port}}</td>
    <td class="inventory-table__cell"></td>
  </tr>
</table>
