<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">Type</th>
    <th class="inventory-table__cell">Service name</th>
    <th class="inventory-table__cell">Node</th>
    <th class="inventory-table__cell">Details</th>
    <th class="inventory-table__cell"></th>
  </tr>
  <tr *ngFor="let serviceData of servicesData">
    <td class="inventory-table__cell">{{serviceData.agentType}}</td>
    <td class="inventory-table__cell">{{serviceData?.service_name}}</td>
    <td class="inventory-table__cell">{{serviceData?.node_id}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell">
      <button (click)="removeService(serviceData.service_id); serviceData.isDeleted = !servicesData.isDeleted">
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
  </tr>
</table>
<!--<div class="form-wrapper-inventory">-->
  <!--<form (ngSubmit)="addAmazonRDSMySQL()">-->
    <!--<h5>Add Amazon RDS MySQL</h5>-->
    <!--<input [(ngModel)]="amazonRDSMySQL.address" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="address"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="amazonRDSMySQL.node_id" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_id"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="amazonRDSMySQL.port" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="port"-->
           <!--type="number">-->
    <!--<input [(ngModel)]="amazonRDSMySQL.service_name" [ngModelOptions]="{standalone: true}" class="input-field"-->
           <!--placeholder="service_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->
  <!--<form (ngSubmit)="addMySQLService()">-->
    <!--<h5>Add MySQL Service</h5>-->
    <!--<input [(ngModel)]="mySQLService.address" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="address"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="mySQLService.node_id" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_id"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="mySQLService.port" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="port" type="number">-->
    <!--<input [(ngModel)]="mySQLService.service_name" [ngModelOptions]="{standalone: true}" class="input-field"-->
           <!--placeholder="service_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->
  <!--<form (ngSubmit)="addMongoDBService()">-->
    <!--<h5>Add MongoDB Service</h5>-->
    <!--<input [(ngModel)]="mongoDBService.node_id" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="node_id"-->
           <!--type="text">-->
    <!--<input [(ngModel)]="mongoDBService.service_name" [ngModelOptions]="{standalone: true}" class="input-field"-->
           <!--placeholder="service_name" type="text">-->
    <!--<button type="submit">Submit</button>-->
  <!--</form>-->
<!--</div>-->
