<table class="inventory-table">
  <tr>
    <th class="inventory-table__cell">Type</th>
    <th class="inventory-table__cell">Service name</th>
    <th class="inventory-table__cell">Node</th>
    <th class="inventory-table__cell">Details</th>
    <th class="inventory-table__cell"></th>
  </tr>
  <tr *ngFor="let serviceData of servicesData">
    <td class="inventory-table__cell">{{serviceData.agentType}}</td>
    <td class="inventory-table__cell">{{serviceData?.service_name}}</td>
    <td class="inventory-table__cell">{{serviceData?.node_id}}</td>
    <td class="inventory-table__cell"></td>
    <td class="inventory-table__cell">
      <button (click)="removeService(serviceData.service_id); serviceData.isDeleted = !servicesData.isDeleted">
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
  </tr>
</table>
