:host {
  display: block
}

div {
  padding: 1px 5px;
  font-size: 0.7em;
  color: black;
  white-space: pre;
  text-align: left;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #afafaf;
  background-color: #f0f0f0;
}
