:host {
  width: 100%;
  height: 100%;
  min-height: var(--min-qan-height);
  font-size: var(--main-font-size);
  background-color: transparent;
}


.aside__filter-group {
  --filter-group-indent: 5px;

  padding: 10px 15px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--main-border-color);
  }
}

.filter-group__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: var(--filter-group-indent);
}

.title__text {
  font-weight: bold;
}

.filter-group__filters {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: var(--filter-group-indent);
  justify-content: space-between;
  grid-column-gap: 10px;
}

.filters__count {
  text-align: right;
}

.checkbox-container__label-text {
  font-weight: 100;
}

.filter-group__see-all {
  cursor: pointer;
  margin-left: auto;
  color: rgb(159, 159, 159);
  text-decoration: underline;
  border: none;
  background-color: transparent;
}
