<aside class="aside-menu--theme-column-config aside-menu" [class.aside-menu--open]="isEditColumn">
  <div class="aside-menu__header">
    <button (click)="toggleMenu()" class="aside-menu__toggle">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
  </div>
  <section [hidden]="!isEditColumn" class="aside-menu__body" id="configurationMenuWrapper">
    <div class="aside-menu__title">
      <span class="title__text">Edit columns: </span>
      <button (click)="toggleMenu()" class="aside-menu__close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <form class="aside-menu__search search search--no-border">
      <input (keyup)="findConfigs(configSearchValue)"
             [(ngModel)]="configSearchValue"
             name="searchValue"
             class="search__input input-field"
             type="text" placeholder="Type to search">
      <button class="search__button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar">
      <div class="aside-menu__filters">
        <div *ngFor="let config of configSearchValues" class="filters__filter-group">
          <div class="filter-group__title">
            <label *ngIf="config.columns.length" class="checkbox-container checkbox-container--main">
              <input (change)="setConfig($event, config)"
                     [(ngModel)]="config.checked"
                     [ngClass]="mainCheckboxClass"
                     type="checkbox">
              <span class="checkbox-container__checkmark"></span>
              <span class="checkbox-container__label-text">{{config.name}}</span>
            </label>
          </div>

          <div *ngIf="config.columns.length" class="filter-group__filters">
            <label *ngFor="let column of config.columns" class="checkbox-container">
              <input (change)="setConfig($event, config)"
                     [(ngModel)]="column.value"
                     [disabled]="!config.checked"
                     type="checkbox">
              <span class="checkbox-container__checkmark"></span>
              <span class="checkbox-container__label-text">{{column.name}}</span>
            </label>
          </div>
        </div>
        <span *ngIf="!configSearchValues.length" class="filters__empty-text">No items found...</span>
      </div>
    </perfect-scrollbar>
  </section>
</aside>
