<div class="container-fluid">
    <div class="" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="hidden-xs">
                        <a class="navbar-brand" ui-sref="root">
                            <div class="logo-img">
                                <span class="logo-text">Query Analytics</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <button title="Back to Query Analitics"
                                ui-sref="root"
                                class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-arrow-left"></i> Back to Query Analitics</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
