<div class="row" ng-if="$root.isAgentConnected === undefined">
    <div class="col-md-12">
        <div class="text-center">Loading...</div>
    </div>
</div>
<div class="row" ng-if="$root.isAgentConnected === false">
    <div class="col-md-12">
        <div class="text-center alert alert-danger">
            PMM client is not connected to Query Analytics.
            <br />Most likely, 'mysql:queries' service is stopped for this MySQL instance.</div>
    </div>
</div>
<div class="row" ng-if="$root.isAgentConnected === true">
    <div class="col-md-12">
        <div ng-if="!MySQLUUID" class="alert alert-warning" role="alert">Select an instance from the dropdown above.</div>
        <span ng-if="subsystem === 'mysql'">
        <div ng-if="MySQLUUID" ng-include="'client/templates/mysql_form.html'"></div>
        </span>
        <span ng-if="subsystem === 'server-info'">
            <center><h4>System Summary</h4></center>
            <pre ng-if="!$parent.serverSummaryError">{{ $parent.serverSummary ? $parent.serverSummary : 'Loading...' }}</pre>
            <div ng-if="$parent.serverSummaryError" class="alert alert-danger" role="alert">{{ $parent.serverSummaryError }}</div>
            <center><h4>MySQL Summary</h4></center>
            <pre ng-if="!$parent.mysqlSummaryError">{{ $parent.mysqlSummary ? $parent.mysqlSummary : 'Loading...' }}</pre>
            <div ng-if="$parent.mysqlSummaryError" class="alert alert-danger" role="alert">{{ $parent.mysqlSummaryError }}</div>
        </span>
    </div>
</div>
