<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" name="qanForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Query Analytics</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

<div class="row">
<div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">DSN</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ instance.DSN.split('/?')[0] }}</p>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">Version</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{ instance.Version }} {{ instance.Distro }}</p>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputInterval" class="col-sm-3 control-label">Collect interval</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="number" min="1" id="inputInterval" name="interval" ng-disabled="!qanConfLock.Interval"
                                aria-describedby="intervalHelpBlock" ng-model="qanConf.Interval">
                        </div>
                        <div class="col-sm-2">
                            <span id="intervalHelpBlock" class="help-block"><small>minute(s)</small></span>
                        </div>
                        <div class="col-sm-3">
                            <span id="intervalLockHelpBlock" class="help-block pull-right">
                            <abbr class="text-danger"
                                  title=""
                                  popover-append-to-body="true"
                                  popover-placement="top"
                                  popover-trigger="mouseenter"
                                  popover="Pins show which options are set or not set.
                                           Options with grey pins are not set, so the agent will use its built-in default value.
                                           Options with red pins are set, so the agent will always use the value shown."
                                  >What's this?</abbr>
                            &nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
                        </span>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" id="IntervalLock" aria-describedby="intervalLockHelpBlock" ng-model="qanConfLock.Interval"
                                title="{{ qanConfLock.Interval ? 'Use default value' : 'Set specific value' }}" btn-checkbox>
                            <i class="glyphicon glyphicon-pushpin text-muted"
                                ng-class="{'text-danger pinned': qanConfLock.Interval}"
                                ></i>
                        </button>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-3 col-sm-7">
                            <div class="checkbox">
                                <label>
                                <input type="checkbox"
                                       ng-disabled="!qanConfLock.ExampleQueries"
                                       ng-true-value="'yes'"
                                       ng-false-value="'no'"
                                       ng-model="qanConf.ExampleQueries">
                                <small><b>Send real query examples == {{ qanConf.ExampleQueries }} ==</b></small>
                            </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" ng-model="qanConfLock.ExampleQueries" title="{{ qanConfLock.ExampleQueries ? 'Use default value' : 'Set specific value' }}"
                                btn-checkbox>
                            <i class="glyphicon glyphicon-pushpin text-muted"
                                ng-class="{'text-danger pinned': qanConfLock.ExampleQueries}"
                                ></i>
                        </button>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group form-group-sm">
                        <label for="inputSource" class="col-sm-3 control-label">Collect from</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="inputSource" name="source" ng-options="k as v for (k, v) in {'slowlog': 'Slow log', 'perfschema': 'Performance Schema'}"
                                ng-model="qanConf.CollectFrom">
                        </select>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <fieldset ng-if="qanConf.CollectFrom === 'slowlog'">
                        <legend>Slow Log Configuration</legend>

                        <div class="form-group form-group-sm">
                            <label for="inputLongQueryTime" class="col-sm-4 control-label">Long query time</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.LongQueryTime }}</p>
                            </div>
                            <div class="col-sm-2">
                                <span id="longQueryTimeHelpBlock" class="help-block"><small>second(s)</small></span>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputMaxSlowLogSize" class="col-sm-4 control-label">Max slow log size</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.MaxSlowLogSize }}</p>
                            </div>
                            <div class="col-sm-2">
                                <span id="maxSlowLogSizeHelpBlock" class="help-block"><small>0 = no max</small></span>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="RemoveOldSlowLogs" class="col-sm-4 control-label">Remove old slow logs</label>
                            <div class="col-sm-3">
                                <p class="form-control-static" id="RemoveOldSlowLogs">{{ qanConf.RemoveOldSlowLogs ? 'ON' : 'OFF' }}</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset ng-if="qanConf.CollectFrom === 'slowlog'">
                        <legend>Percona Server</legend>

                        <div ng-if="instance.Distro.toLowerCase().indexOf('percona') === -1" class="alert alert-warning" role="alert">
                            Upgrade to <a href="https://www.percona.com/software/mysql-database/percona-server">Percona Server</a>                            to enable these options.
                        </div>

                        <span ng-if="instance.Distro.toLowerCase().indexOf('percona') > -1">
                        <div class="form-group form-group-sm">
                            <label for="inputSlowLogVerbosity" class="col-sm-4 control-label">Slow log verbosity</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.SlowLogVerbosity }}</p>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputRateLimit" class="col-sm-4 control-label">Rate limit</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.RateLimit }}</p>
                            </div>
                            <div class="col-sm-3">
                                <span id="rateLimitHelpBlock" class="help-block"><small>0 and 1 = disabled</small></span>
                        </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="LogSlowAdminStatements" class="col-sm-4 control-label">Log slow admin statements</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.LogSlowAdminStatements ? 'ON' : 'OFF' }}</p>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="LogSlowSlaveStatemtents" class="col-sm-4 control-label">Log slow slave statements</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ qanConf.LogSlowSlaveStatemtents ? 'ON' : 'OFF' }}</p>
                            </div>
                        </div>
                        </span>
                    </fieldset>

                    </div>
</div>

            </div>

            <div class="panel-footer" ng-if="!!instance.UUID">
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-md-2">
                        <button type="submit" ng-click="setQanConfig(selected_agent)" ng-disabled="DEMO || qanForm.$invalid" class="btn btn-primary btn-sm">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Apply
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>
</div>