<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" ng-if="qanData !== null && qanData.length !== 0">
            <div class="panel-heading" id="text_count_queries">
                Top {{ loadedToTableQueries }} of {{ totalQueries }} Queries by % Grand Total Time (%GTT)
            </div>
            <div class="panel-body padding-free">
                <table
                    style="margin-bottom: 0px !important;"
                    class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th title="Rank">#</th>
                            <th style="width: 14em;" title="Query Abstract">Query Abstract</th>
                            <th style="width: 10em;" title="ID">ID</th>
                            <th title="Load" colspan="2">Load</th>
                            <th title="Count" colspan="3">Count</th>
                            <th colspan="2" title="Latency">Latency</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr ng-click="qanSelectSummary()" ng-class="{'success': query_id === null}">
                            <th></th>
                            <th><a href="" ui-click="qanSelectSummary()">TOTAL</a></th>
                            <th></th>
                            <th style="width: 12%" class="no-right-border">
                                <div class="scaling-svg-container">
                                <load-sparklines
                                    popover-trigger="mouseenter"
                                    popover-append-to-body="true"
                                    popover-placement="top"
                                    popover-template="'sparklinePopover.html'"
                                    xkey="Start_ts"
                                    ykey="Query_time_sum"
                                    chart-data="profileTotal.Log"></load-sparklines>
                                </div>
                            </th>
                            <th class="no-left-border text-right">
                                {{ profileTotal.Load | humanize : 'number' }} (100%)
                            </th>
                            <th class="no-right-border text-right">
                                {{profileTotal.QPS | humanize : 'number'}}&nbsp;QPS
                            </th>
                            <th style="width: 120px" class="no-left-border no-right-border">
                                <div class="scaling-svg-container">
                                <load-sparklines
                                      popover-trigger="mouseenter"
                                      popover-append-to-body="true"
                                      popover-placement="top"
                                      popover-template="'sparklinePopover.html'"
                                      xkey="Start_ts"
                                      ykey="Query_count"
                                      chart-data="profileTotal.Log"></load-sparklines>
                                </div>
                            </th>
                            <th class="no-left-border text-right">
                                    {{ profileTotal.Stats.Cnt | humanize : 'number'}} (100%)
                            </th>
                            <th class="no-right-border text-right">
                                {{ profileTotal.Stats.Avg | humanize }}&nbsp;avg
                            </th>
                            <th style="width: 120px" class="no-left-border"
                                popover-trigger="mouseenter"
                                popover-append-to-body="true"
                                popover-placement="top"
                                popover-template="'latencyPopoverTotal.html'" >
                                <div class="scaling-svg-container">
                                    <latency-chart chart-data="profileTotal.Stats"></latency-chart>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in qanData" ng-click="qanSelectRow(row)" ng-class="{'success': query_id === row.Id}" >
                            <td class="text-right">{{ $index + 1 }}</td>
                            <td>
                                <a href="" title="{{ row.Fingerprint }}" ng-click="qanSelectRow(row)">
                                    {{ (row.Abstract | limitTo : 22) + (row.Abstract.length > 22 ? '...' : '') }}
                                </a>
                            </td>
                            <td title="{{ row.Id }}">{{ row.Id }}</td>
                            <td class="no-right-border">
                                <div class="scaling-svg-container">
                                <load-sparklines
                                    popover-trigger="mouseenter"
                                    popover-append-to-body="true"
                                    popover-placement="top"
                                    popover-template="'sparklinePopover.html'"
                                    xkey="Start_ts"
                                    ykey="Query_time_sum"
                                    chart-data="row.Log"></load-sparklines>
                                </div>
                            </td>
                            <td class="no-left-border text-right">
                                    {{ row.Load | humanize : 'number' }} ({{(row.Percentage).toFixed(2)}}%)
                            </td>
                            <td class="no-right-border text-right">
                                    {{row.QPS | humanize : 'number'}}&nbsp;QPS
                            </td>
                            <td class="no-left-border no-right-border">
                                <div class="scaling-svg-container">
                                <load-sparklines
                                      popover-trigger="mouseenter"
                                      popover-append-to-body="true"
                                      popover-placement="top"
                                      popover-template="'sparklinePopover.html'"
                                      xkey="Start_ts"
                                      ykey="Query_count"
                                      chart-data="row.Log"></load-sparklines>
                                </div>
                            </td>
                            <td class="no-left-border text-right">
                                    {{row.Stats.Cnt | humanize : 'number'}} ({{ (row.Stats.Cnt / profileTotal.Stats.Cnt * 100).toFixed(2) }}%)
                            </td>
                            <td class="no-right-border text-right">
                                {{ row.Stats.Avg | humanize }}&nbsp;avg
                            </td>
                            <td class="no-left-border"
                                popover-trigger="mouseenter"
                                popover-append-to-body="true"
                                popover-placement="top"
                                popover-template="'latencyPopoverRow.html'" >
                                <div class="scaling-svg-container">
                                    <latency-chart chart-data="row.Stats"></latency-chart>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="qanData.length===0"><td class="text-center" colspan="11">No data for selected time-range.</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!$root.connection_error && qanData !== null && qanData.length > 0" class="text-center" id="show_more">
            <button type="button" class="btn btn-default" ng-disabled="leftInDbQueries === 0" ng-click="loadMore();">
                <i class="glyphicon glyphicon-menu-down"></i>
                <span ng-if="leftInDbQueries > 0">Load next {{ leftInDbQueries > 10 ? 10 : leftInDbQueries }} queries</span>
                <span ng-if="leftInDbQueries === 0">No more queries for selected time range</span>
                <i class="glyphicon glyphicon-menu-down"></i>
            </button>
        </div>
        <div ng-if="!$root.connection_error && qanData === null" class="text-center" id="text_no_profile_data">
            There is no data for the selected MySQL instance, time range or search query.
        </div>
        <div ng-if="!$root.connection_error && qanData.length === 0" class="text-center" id="text_no_profile_data">
            Loading...
        </div>
    </div>
</div>

<script type="text/ng-template" id="sparklinePopover.html">
    <span>{{ $root.popover }}</span>
</script>
<script type="text/ng-template" id="latencyPopoverRow.html">
    <ul class="latency-popup">
        <li class="li-min">Min: {{row.Stats.Min | humanize}}</li>
        <li class="li-med">Med: {{row.Stats.Med | humanize}}</li>
        <li class="li-avg">Avg: {{row.Stats.Avg | humanize}}</li>
        <li class="li-p95">P95: {{row.Stats.P95 | humanize}}</li>
        <li class="li-max">Max: {{row.Stats.Max | humanize}}</li>
    </ul>
</script>
<script type="text/ng-template" id="latencyPopoverTotal.html">
    <ul class="latency-popup">
        <li class="li-min">Min: {{profileTotal.Stats.Min | humanize}}</li>
        <li class="li-med">Med: {{profileTotal.Stats.Med | humanize}}</li>
        <li class="li-avg">Avg: {{profileTotal.Stats.Avg | humanize}}</li>
        <li class="li-p95">P95: {{profileTotal.Stats.P95 | humanize}}</li>
        <li class="li-max">Max: {{profileTotal.Stats.Max | humanize}}</li>
    </ul>
</script>

<hr />

<div class="row" ng-if="!$root.connection_error && $root.isMetrics && $root.query && query_abstract">
    <div class="col-md-6">
        <h3>{{ query_abstract }}</h3>
    </div>
    <div class="col-md-6">
        <h3 class="pull-right">{{ query_id }}</h3>
    </div>
</div>

<div class="row" ng-if="!$root.connection_error && $root.isServerSummary">
    <div class="col-md-12">
        <h3>Server Summary</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-controller="MetricsController">
        <metrics2 ng-if="!$root.connection_error && $root.metrics"></metrics2>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default"
            ng-if="!$root.connection_error && $root.query"
            ng-controller="QueryController"
            >
            <div class="panel-heading">QUERY
                <span class="pull-right clearfix text-nowrap">
                    <i class="glyphicon glyphicon-time"></i>
                    <b class="text-info">Last seen {{ lastSeenAgo }}</b>
                    <i class="text-muted">({{ lastSeen }})</i>
                    &nbsp;&nbsp;
                    <i class="glyphicon glyphicon-time"></i>
                    <b class="text-info">First seen {{ firstSeenAgo }}</b>
                    <i class="text-muted">({{ firstSeen }})</i>
                </span>
            </div>
            <div class="panel-body">
                <tabset justified="true">
                    <tab>
                        <tab-heading>Fingerprint</tab-heading>
                        <div ng-if="fingerprint" hljs hljs-source="fingerprint" hljs-language="sql"></div>
                    </tab>
                    <tab>
                        <tab-heading>Example</tab-heading>
                        <div ng-if="exampleFormatted" hljs hljs-source="exampleFormatted" hljs-language="sql"></div>
                        <div ng-if="!exampleFormatted" class="text-warning text-center"><br />No query example</div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

</div>

<div class="row" ng-if="!$root.connection_error && $root.exampleFormatted !== undefined && $root.exampleFormatted !== ''">
    <div class="col-md-12">
        <div class="panel panel-default"
            ng-controller="QueryExplainController"
            >
            <div class="panel-heading">EXPLAIN</div>
            <div class="panel-body padding-free">
                <div class="row">
                    <div class="col-md-12">
                        <div class="magrin-def-tl">
                            <div ng-if="explainErrorMsg()" class="text-danger">{{ explainErrorMsg() }}</div>
                            <form name="explainForm"
                                  ng-if="explainErrorMsg() === ''"
                                  class="form-inline"
                                  ng-submit="explainForm.$valid && getQueryExplain()">
                                <div class="form-group" ng-class="{'has-error': explainForm.db.$invalid}">
                                    <label for="db">Database:</label>
                                    <input type="text"
                                    class="form-control"
                                    size="64"
                                    ng-pattern="/^.{1,64}$/"
                                    ng-required="true"
                                    placeholder="Specify a database."
                                    id="db"
                                    name="db"
                                    ng-model="$parent.db" />
                                </div>
                                <button type="button"
                                    class="btn btn-default"
                                    ng-disabled="explainForm.$invalid"
                                    ng-click="getQueryExplain()">EXPLAIN</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="explainErrorMsg() === ''">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table
                                style="margin-bottom: 0px !important;"
                                ng-if="queryExplainData.length && !queryExplainError"
                                class="table table-bordered table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th width="3%" title="Id">Id</th>
                                        <th style="min-width: 100px;" title="SelectType">SelectType</th>
                                        <th title="Table">Table</th>
                                        <th style="min-width: 100px;" title="Partitions">Partitions</th>
                                        <th style="min-width: 100px;" title="CreateTable">CreateTable</th>
                                        <th title="Type">Type</th>
                                        <th style="min-width: 100px;" title="PossibleKeys">PossibleKeys</th>
                                        <th title="Key">Key</th>
                                        <th title="KeyLen">KeyLen</th>
                                        <th width="5%" title="Ref">Ref</th>
                                        <th title="Rows">Rows</th>
                                        <th title="Extra">Extra</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in queryExplainData">
                                        <td title="{{ row.Id }}">{{ row.Id }}</td>
                                        <td title="{{ row.SelectType }}">{{ row.SelectType }}</td>
                                        <td title="{{ row.Table }}">{{ row.Table }}</td>
                                        <td title="{{ row.Partitions }}">{{ row.Partitions }}</td>
                                        <td title="{{ row.CreateTable }}">{{ row.CreateTable }}</td>
                                        <td title="{{ row.Type }}">{{ row.Type }}</td>
                                        <td title="{{ row.PossibleKeys }}">{{ row.PossibleKeys.replace(',', ', ') }}</td>
                                        <td title="{{ row.Key }}">{{ row.Key }}</td>
                                        <td title="{{ row.KeyLen }}">{{ row.KeyLen }}</td>
                                        <td title="{{ row.Ref }}">{{ row.Ref }}</td>
                                        <td title="{{ row.Rows }}">{{ row.Rows }}</td>
                                        <td title="{{ row.Extra }}">{{ row.Extra }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <alert ng-if="queryExplainError"
                            type="danger"
                            role="alert">{{ queryExplainError }}</alert>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default"
            ng-if="!$root.connection_error && $parent.query"
            ng-controller="TableInfoController"
            >
            <div class="panel-heading">TABLES</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <form name="dbTblForm" ng-submit="dbTblForm.$valid && addDbTable()">
                            <div class="form-group">
                                <label for="selectedDbTable">Add/Select db.table for info:</label>
                                <select name="selectedDbTable"
                                    id="selectedDbTable"
                                    class="form-control"
                                    ng-model="selectedDbTable"
                                    ng-change="getTableInfo()"
                                    size="5">
                                    <option
                                        ng-repeat="val in dbTables"
                                        title="{{ val.Db + '.' + val.Table }}"
                                        label="{{ val.Db + '.' + val.Table }}"
                                        ng-selected="val.Db === selectedDbTable.Db && val.Table === selectedDbTable.Table"
                                    >{{ val.Db + '.' + val.Table }}</option>
                                </select>
                            </div>
                            <div class="form-group"
                                ng-class="{ 'has-error': dbTblForm.dbTable.$dirty && dbTblForm.dbTable.$modelValue !== '' && dbTblForm.dbTable.$invalid }">
                                <input type="text"
                                ng-required="true"
                                ng-pattern="/^.{1,128}$/"
                                class="form-control"
                                placeholder="Add db.table"
                                name="dbTable"
                                ng-model="dbTable" />
                            </div>
                            <button type="button"
                                class="btn btn-default form-control"
                                ng-disabled="dbTblForm.dbTable.$modelValue === '' || dbTblForm.$invalid"
                                ng-click="addDbTable()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add db.table to list
                            </button>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <tabset justified="true">
                        <tab heading="CREATE">
                            <div ng-show="!!tblCreate" hljs hljs-source="tblCreate" hljs-language="sql"></div>
                            <span ng-if="tblCreateError">
                                <div class="alert alert-danger"
                                    role="alert">
                                     <span ng-bind-html="tblCreateError"></span>
                                </div>
                            </span>
                        </tab>
                        <tab heading="STATUS">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(name, value) in tblStatus">
                                        <td>{{ name }}</td>
                                        <td ng-if="['AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(name) > -1">{{ value | humanize : 'size' }}</td>
                                        <td ng-if="['Rows'].indexOf(name) > -1">{{ value | humanize : 'number' }}</td>
                                        <td ng-if="['Rows', 'AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(name) === -1">
                                            {{ value === null ? '-' : value}}
                                        </td>
                                    </tr>
                                    <tr ng-if="tblStatus.length === 0"><td class="text-center" colspan="2">No data.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <span ng-if="tblStatusError">
                                <div class="alert alert-danger"
                                    role="alert">
                                     <span ng-bind-html="tblStatusError"></span>
                                </div>
                            </span>
                        </tab>
                        <tab heading="INDEXES">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>KeyName </th>
                                            <th>Type</th>
                                            <th>Unique</th>
                                            <th>Packed</th>
                                            <th>Column</th>
                                            <th>Cardinality</th>
                                            <th>Collation</th>
                                            <th>Null</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="ind in tblIndex">
                                    <tr ng-repeat="row in ind">
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.KeyName }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.IndexType }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.NonUnique === false ? 'Yes' : 'No' }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.Packed ? 'Yes' : 'No' }}</td>
                                        <td>{{ row.ColumnName }}</td>
                                        <td>{{ row.Cardinality }}</td>
                                        <td>{{ row.Collation }}</td>
                                        <td>{{ row.Null ? 'Yes' : 'No' }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.Comment }}</td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-if="tblIndex.length === 0">
                                        <tr><td class="text-center" colspan="9">No data.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <span ng-if="tblIndexError">
                                <div class="alert alert-danger"
                                    role="alert">
                                   <span ng-bind-html="tblIndexError"></span>
                                </div>
                            </span>
                        </tab>
                    </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
