<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" ng-if="qanData.length !== 0">
            <div class="panel-heading">
                Top 10 Queries by % Grand Total Time (%GTT)
            </div>
            <div class="panel-body padding-free">
                <table
                    style="margin-bottom: 0px !important;"
                    class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th width="5%" title="Rank">Rank</th>
                            <th title="Query Abstract">Query Abstract</th>
                            <th title="ID">ID</th>
                            <th title="% of Grand Total Time">%GTT</th>
                            <th title="Load">Load</th>
                            <th title="QPS">QPS</th>
                            <th title="Min">Min</th>
                            <th title="Avg">Avg</th>
                            <th title="Med">Med</th>
                            <th title="95th">95th</th>
                            <th title="Max">Max</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr ng-click="qanSelectSummary()">
                            <th></th>
                            <th><a ui-sref="root.instance-dt.summary">TOTAL</a></th>
                            <th></th>
                            <th class="text-right">100%</th>
                            <th class="text-right">{{ profileTotal.Load.toFixed(3) }}</th>
                            <th class="text-right">{{ profileTotal.QPS.toFixed(2) }}</th>
                            <th class="text-right">{{ profileTotal.Stats.Min | humanize }}</th>
                            <th class="text-right">{{ profileTotal.Stats.Avg | humanize }}</th>
                            <th class="text-right">{{ profileTotal.Stats.Med | humanize }}</th>
                            <th class="text-right">{{ profileTotal.Stats.P95 | humanize }}</th>
                            <th class="text-right">{{ profileTotal.Stats.Max | humanize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in qanData" ng-click="qanSelectRow(row)" ng-class="{'success': query_id === row.Id}">
                            <td class="text-right" title="{{ row.Rank }}">{{ row.Rank }}</td>
                            <td title="{{ row.Abstract }}"><a ui-sref="root.instance-dt.query({query_id: row.Id})">{{ row.Abstract }}</a></td>
                            <td title="{{ row.Id }}">{{ row.Id }}</td>
                            <td class="text-right" title="{{ (row.Percentage*100).toFixed(2) }}%">{{ (row.Percentage*100).toFixed(2) }}%</td>
                            <td class="text-right" title="{{ row.Load.toFixed(6) }}">{{ row.Load.toFixed(3) }}</td>
                            <td class="text-right" title="{{ row.QPS.toFixed(2) }}">{{ row.QPS.toFixed(2) }}</td>
                            <td class="text-right" title="{{ (row.Stats.Min*1000).toFixed(2) }}ms">{{ row.Stats.Min | humanize }}</td>
                            <td class="text-right" title="{{ (row.Stats.Avg*1000).toFixed(2) }}ms">{{ row.Stats.Avg | humanize }}</td>
                            <td class="text-right" title="{{ (row.Stats.Med*1000).toFixed(2) }}ms">{{ row.Stats.Med | humanize }}</td>
                            <td class="text-right" title="{{ (row.Stats.P95*1000).toFixed(2) }}ms">{{ row.Stats.P95 | humanize }}</td>
                            <td class="text-right" title="{{ (row.Stats.Max*1000).toFixed(2) }}ms">{{ row.Stats.Max | humanize }}</td>
                        </tr>
                        <tr ng-if="qanData.length===0"><td class="text-center" colspan="11">No data for selected time-range.</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!$root.connection_error && qanData.length === 0" class="text-center">
            There is no data for the selected MySQL instance and time range.
        </div>
    </div>
</div>

<hr />

<div class="row" ng-if="!$root.connection_error && $parent.query && query_abstract">
    <div class="col-md-6">
        <h3>{{ query_abstract }}</h3>
    </div>
    <div class="col-md-6">
        <h3 class="pull-right">{{ query_id }}</h3>
    </div>
</div>

<div class="row" ng-if="!$root.connection_error && $root.isServerSummary">
    <div class="col-md-12">
        <h3>Server Summary</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-controller="MetricsController">
            <div class="panel panel-default" ng-if="!$root.connection_error && $root.metricsData">
                <div class="panel-heading">METRICS</div>
                <div class="panel-body padding-free">
                    <table
                        style="margin-bottom: 0px !important;"
                        class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th title="Metrics">Metrics</th>
                                <th title="Total">Total</th>
                                <th title="Min">Min</th>
                                <th title="Avg">Avg</th>
                                <th title="Med">Med</th>
                                <th title="95th">95th</th>
                                <th title="Max">Max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in $root.metricsData | orderBy : 'Metrics'">
                                <td title="{{ row.Metrics.split('_').join(' ') }}"
                                    >{{ row.Metrics.split('_').join(' ') }}</td>

                                <td class="text-right"
                                    title="{{ row.Sum | humanize : row.Metrics }}"
                                    >{{ row.Sum | humanize : row.Metrics }}</td>

                                <td class="text-right"
                                    title="{{ row.Min | humanize : row.Metrics }}"
                                    >{{ row.Min | humanize : row.Metrics }}</td> 

                                <td class="text-right"
                                    title="{{ row.Avg | humanize : row.Metrics }}"
                                    >{{ row.Avg | humanize  : row.Metrics}}</td>

                                <td class="text-right"
                                    title="{{ row.Med | humanize : row.Metrics }}"
                                    >{{ row.Med | humanize : row.Metrics }}</td>

                                <td class="text-right"
                                    title="{{ row.P95 | humanize : row.Metrics }}"
                                    >{{ row.P95 | humanize : row.Metrics }}</td>

                                <td class="text-right"
                                    title="{{ row.Max | humanize : row.Metrics }}"
                                    >{{ row.Max | humanize : row.Metrics }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default"
            ng-if="!$root.connection_error && $root.query"
            ng-controller="QueryController"
            >
            <div class="panel-heading">QUERY
                <span class="pull-right">
                    <i class="glyphicon glyphicon-time"></i>
                    <b class="text-info">Last seen {{ lastSeenAgo }}</b>
                    <i class="text-muted">({{ lastSeen }})</i>
                    &nbsp;&nbsp;
                    <i class="glyphicon glyphicon-time"></i>
                    <b class="text-info">First seen {{ firstSeenAgo }}</b>
                    <i class="text-muted">({{ firstSeen }})</i>
                </span>
            </div>
            <div class="panel-body">
                <tabset justified="true">
                    <tab>
                        <tab-heading>Example</tab-heading>
                        <div hljs hljs-source="example" hljs-language="sql"></div>
                    </tab>
                    <tab>
                        <tab-heading>Fingerprint</tab-heading>
                        <div hljs hljs-source="fingerprint" hljs-language="sql"></div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

</div>

<div class="row" ng-if="!$root.connection_error && $root.query">
    <div class="col-md-12">
        <div class="panel panel-default"
            ng-controller="QueryExplainController"
            >
            <div class="panel-heading">EXPLAIN</div>
            <div class="panel-body padding-free">
                <div class="row">
                    <div class="col-md-12">
                        <div class="magrin-def-tl">
                            <div ng-if="explainErrorMsg()" class="text-danger">{{ explainErrorMsg() }}</div>
                            <form name="explainForm"
                                  ng-if="explainErrorMsg() === ''"
                                  class="form-inline"
                                  ng-submit="explainForm.$valid && getQueryExplain()">
                                <div class="form-group" ng-class="{'has-error': explainForm.db.$invalid}">
                                    <label for="db">Database:</label>
                                    <input type="text"
                                    class="form-control"
                                    size="64"
                                    ng-pattern="/^[_$A-Za-z0-9]{1,64}$/"
                                    ng-required="true"
                                    placeholder="Specify a database."
                                    id="db"
                                    name="db"
                                    ng-model="$parent.db" />
                                </div>
                                <button type="button"
                                    class="btn btn-default"
                                    ng-disabled="explainForm.$invalid"
                                    ng-click="getQueryExplain()">EXPLAIN</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="explainErrorMsg() === ''">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table
                                style="margin-bottom: 0px !important;"
                                ng-if="queryExplainData.length && !queryExplainError"
                                class="table table-bordered table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th width="3%" title="Id">Id</th>
                                        <th style="min-width: 100px;" title="SelectType">SelectType</th>
                                        <th title="Table">Table</th>
                                        <th style="min-width: 100px;" title="Partitions">Partitions</th>
                                        <th style="min-width: 100px;" title="CreateTable">CreateTable</th>
                                        <th title="Type">Type</th>
                                        <th style="min-width: 100px;" title="PossibleKeys">PossibleKeys</th>
                                        <th title="Key">Key</th>
                                        <th title="KeyLen">KeyLen</th>
                                        <th width="5%" title="Ref">Ref</th>
                                        <th title="Rows">Rows</th>
                                        <th title="Extra">Extra</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in queryExplainData">
                                        <td title="{{ row.Id }}">{{ row.Id }}</td>
                                        <td title="{{ row.SelectType }}">{{ row.SelectType }}</td>
                                        <td title="{{ row.Table }}">{{ row.Table }}</td>
                                        <td title="{{ row.Partitions }}">{{ row.Partitions }}</td>
                                        <td title="{{ row.CreateTable }}">{{ row.CreateTable }}</td>
                                        <td title="{{ row.Type }}">{{ row.Type }}</td>
                                        <td title="{{ row.PossibleKeys }}">{{ row.PossibleKeys }}</td>
                                        <td title="{{ row.Key }}">{{ row.Key }}</td>
                                        <td title="{{ row.KeyLen }}">{{ row.KeyLen }}</td>
                                        <td title="{{ row.Ref }}">{{ row.Ref }}</td>
                                        <td title="{{ row.Rows }}">{{ row.Rows }}</td>
                                        <td title="{{ row.Extra }}">{{ row.Extra }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <alert ng-if="queryExplainError"
                            type="danger"
                            role="alert">{{ queryExplainError }}</alert>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default"
            ng-if="!$root.connection_error && $parent.query"
            ng-controller="TableInfoController"
            >
            <div class="panel-heading">TABLES</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <form name="dbTblForm" ng-submit="dbTblForm.$valid && addDbTable()">
                            <div class="form-group">
                                <label for="selectedDbTable">Add/Select db.table for info:</label>
                                <select name="selectedDbTable"
                                    id="selectedDbTable"
                                    class="form-control"
                                    ng-model="selectedDbTable"
                                    ng-change="getTableInfo()"
                                    size="5">
                                    <option
                                        ng-repeat="val in dbTables"
                                        title="{{ val.Db + '.' + val.Table }}"
                                        label="{{ val.Db + '.' + val.Table }}"
                                        ng-selected="val.Db === selectedDbTable.Db && val.Table === selectedDbTable.Table"
                                    >{{ val.Db + '.' + val.Table }}</option>
                                </select>
                            </div>
                            <div class="form-group"
                                ng-class="{ 'has-error': dbTblForm.dbTable.$dirty && dbTblForm.dbTable.$modelValue !== '' && dbTblForm.dbTable.$invalid }">
                                <input type="text"
                                ng-required="true"
                                ng-pattern="/^[A-Za-z0-9_$]{1,64}\.[A-Za-z0-9_$]{1,64}$/"
                                class="form-control"
                                placeholder="Add db.table"
                                name="dbTable"
                                ng-model="dbTable" />
                            </div>
                            <button type="button"
                                class="btn btn-default form-control"
                                ng-disabled="dbTblForm.dbTable.$modelValue === '' || dbTblForm.$invalid"
                                ng-click="addDbTable()">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add db.table to list
                            </button>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <tabset justified="true">
                        <tab heading="CREATE">
                            <div ng-show="!!tblCreate" hljs hljs-source="tblCreate" hljs-language="sql"></div>
                            <span ng-if="tblCreateError">
                                <div class="alert alert-danger"
                                    role="alert">
                                     <span ng-bind-html="tblCreateError"></span>
                                </div>
                            </span>
                        </tab>
                        <tab heading="STATUS">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(name, value) in tblStatus">
                                        <td>{{ name }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                    <tr ng-if="tblStatus.length === 0"><td class="text-center" colspan="2">No data.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <span ng-if="tblStatusError">
                                <div class="alert alert-danger"
                                    role="alert">
                                     <span ng-bind-html="tblStatusError"></span>
                                </div>
                            </span>
                        </tab>
                        <tab heading="INDEXES">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>KeyName </th>
                                            <th>Type</th>
                                            <th>Unique</th>
                                            <th>Packed</th>
                                            <th>Column</th>
                                            <th>Cardinality</th>
                                            <th>Collation</th>
                                            <th>Null</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="ind in tblIndex">
                                    <tr ng-repeat="row in ind">
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.KeyName }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.IndexType }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.NonUnique === false ? 'Yes' : 'No' }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.Packed ? 'Yes' : 'No' }}</td>
                                        <td>{{ row.ColumnName }}</td>
                                        <td>{{ row.Cardinality }}</td>
                                        <td>{{ row.Collation }}</td>
                                        <td>{{ row.Null ? 'Yes' : 'No' }}</td>
                                        <td ng-if="$first" rowspan="{{ ind.length }}">{{ row.Comment }}</td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-if="tblIndex.length === 0">
                                        <tr><td class="text-center" colspan="9">No data.</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <span ng-if="tblIndexError">
                                <div class="alert alert-danger"
                                    role="alert">
                                   <span ng-bind-html="tblIndexError"></span>
                                </div>
                            </span>
                        </tab>
                    </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
