<div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="hidden-xs">
                        <a class="navbar-brand" ui-sref="root" ui-sref-opts="{reload: true}">
                            <div class="logo-img">
                                <span class="logo-text">Query Analytics</span>
                            </div>
                        </a>
                    </li>
                    <li>
                    <p class="well navbar-text"
                       style="padding: 0px 5px 0px 5px; margin-bottom: 0px; min-width: 327px;">{{ dtRange }}</p>
                    </li>
                    <li>
                            <div class="btn-group">
                                <label class="btn btn-default navbar-btn dropdown-toggle"
                                       type="button"
                                       id="btn_cal"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span class="caret"></span>
                                </label>
                                <div class="dropdown-menu dropdown-menu-right" style="padding: 5px;">
                                    <table style="padding: 5px; border-spacing: 5px; border-collapse: separate;">
                                        <tr>
                                            <td>
                                                <b>Hot intervals:</b>
                                                <div class="btn-group">
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_1h" btn-radio="'1h'">1h</label>
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_3h" btn-radio="'3h'">3h</label>
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_6h" btn-radio="'6h'">6h</label>
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_12" btn-radio="'12h'">12h</label>
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_1d" btn-radio="'1d'">1d</label>
                                                    <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_5d" btn-radio="'5d'">5d</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="well">
                                                <datetimepicker data-ng-model="dtCal"
                                                                data-datetimepicker-config="{ startView: 'day', minView:'hour', renderOn: 'resetCal' }"
                                                                data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                                data-on-set-time="onTimeSet(newDate, oldDate)"
                                                                />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" name="search" ng-model="$root.search" id="search" type="text" placeholder="Search by Fingerprint">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="$root.doSearch();" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li>

                        <div class="btn-group">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle navbar-btn"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true" title="Databases">
                                <span class="caret"></span>
                                <span ng-switch="database">
                                    <span ng-switch-when="null">------</span>
                                    <span ng-switch-default>{{ $root.instance.Name }}
                                        <img style="width:18px; height:18px"
                                             ng-if="$root.instance.Distro.indexOf('Percona') === -1"
                                             src="client/content/img/mysql_64_black.png">
                                        <img ng-if="$root.instance.Distro.indexOf('Percona') !== -1"
                                             style="width:16px; height:16px;"
                                             src="client/content/img/percona-server-black-50.png">
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right list-group" style="margin: 0; padding: 0; min-width: 600px; max-width: 900px">
                                <a class="list-group-item"
                                   style="cursor: pointer;"
                                   ng-click="changeInstance(db);"
                                   ng-repeat="db in instances"
                                   ng-class="{active: db.UUID === $root.instance.UUID }">
                                    <h4 class="list-group-item-heading">{{ db.Name }}
                                        <img ng-if="db.Distro.indexOf('Percona Server') === -1"
                                        style="width:18px; height:18px;"
                                        src="client/content/img/mysql_64_black.png">

                                    <img ng-if="db.Distro.indexOf('Percona Server') !== -1"
                                        style="width:16px; height:16px;"
                                        src="client/content/img/percona-server-black-50.png">
                                    </h4>

                                    <p class="list-group-item-text">DSN: {{ db.DSN }}</p>
                                    <p class="list-group-item-text">Version: {{ db.Version }} {{ db.Distro }}</p>
                                </a>
                            </div>
                        </div>
                            <button title="Configure query analitics. View status and log of agent."
                                    class="btn btn-default navbar-btn"
                                    ui-sref="management({subsystem: 'mysql', uuid: instance.UUID })">
                                <i class="glyphicon glyphicon-cog"></i>
                            </button>

                        </div>

                    </li>
                </ul>
                <p ng-if="$root.DEMO" class="navbar-text bg-danger navbar-right" title="Limited functionality">&nbsp;DEMO MODE&nbsp;</p>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
