<div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" id="bs-example-navbar-collapse-1">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="hidden-xs">
                        <a class="navbar-brand" ui-sref="root" ui-sref-opts="{reload: true}">
                            <div class="logo-img">
                                <span class="logo-text">Query Analytics</span>
                            </div>
                        </a>
                    </li>
                    <li>
                    <p class="well navbar-text"
                       style="padding: 0px 5px 0px 5px; margin-bottom: 0px; min-width: 327px;">{{ dtRange }}</p>
                    </li>
                    <li>
                         <div class="btn-group">
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_1h" btn-radio="'1h'">1h</label>
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_3h" btn-radio="'3h'">3h</label>
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_6h" btn-radio="'6h'">6h</label>
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_12" btn-radio="'12h'">12h</label>
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_1d" btn-radio="'1d'">1d</label>
                            <label class="btn btn-default navbar-btn" ng-model="$root.time_range" id="btn_5d" btn-radio="'5d'">5d</label>
                            <div class="btn-group">
                                <label class="btn btn-default navbar-btn dropdown-toggle"
                                       type="button"
                                       ng-model="$root.time_range"
                                       btn-radio="'cal'"
                                       id="btn_cal"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span class="caret"></span>
                                </label>
                                <div class="dropdown-menu dropdown-menu-right" style="padding: 5px;">
                                    <table style="padding: 5px; border-spacing: 5px; border-collapse: separate;">
                                        <tr>
                                            <td>
                                                <div class="well">
                                                <datetimepicker data-ng-model="dtCal"
                                                                data-datetimepicker-config="{ startView: 'day', minView:'hour', renderOn: 'resetCal' }"
                                                                data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                                                                data-on-set-time="onTimeSet(newDate, oldDate)"
                                                                />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        &nbsp;&nbsp;
                    </li>
                    <li>
                    <select ng-model="$root.instance" class="form-control navbar-btn" id="host_selector"
                            ng-change="changeInstance(instance)"
                            ng-options="(inst.Name + (inst.Subsystem === 'mysql' ? ' (MySQL)' : '')) for inst in instances"><img src="http://findicons.com/files/icons/2779/simple_icons/64/mysql_64_black.png"></select>

                    </li>
                    <li>
                        &nbsp;
                        <div class="btn-group" dropdown auto-close="outsideClick">
                        <button class="btn btn-default navbar-btn dropdown-toggle"
                                      dropdown-toggle
                                      aria-haspopup="true"
                                      aria-expanded="true" >
                                <i class="glyphicon glyphicon-info-sign"></i>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right well" role="menu">
                                    <p class="text-info text-nowrap">DSN: {{ instance_DSN }}</p>
                                    <p class="text-info text-nowrap">Version: {{ instance.Version }} {{ instance.Distro }}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                        <button title="Manage mysql instances & agents"
                                ui-sref="management({subsystem: 'mysql', uuid: instance.UUID })"
                                class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-cog"></i></button>
                    </li>
                </ul>
                <p ng-if="$root.DEMO" class="navbar-text bg-danger navbar-right" title="Limited functionality">&nbsp;DEMO MODE&nbsp;</p>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
