:host {
  display: table-cell;
  height: var(--row-heigth);
  white-space: nowrap;
  vertical-align: top;
  border-right: 1px solid var(--main-border-color);
}

:host.cell--empty {
  width: 200px;
}

.cell__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}


.cell__inner--empty {
  width: 200px;

  .ng-dropdown-panel {
    width: auto !important;
  }
}

.sort-icon {
  position: absolute;
  right: 10px;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
}

::ng-deep .ng-select.pmm-select--column {
  --dropdown-background: rgb(33, 35, 38);

  display: inline-flex;
  min-width: 95px;
  width: 100%;
  height: inherit;
  background-color: transparent;

  &.ng-select-opened {
    .ng-select-container {
      z-index: unset;
      background-color: rgb(0, 0, 0);
    }
  }

  .ng-select-container {
    cursor: pointer;
    width: auto;
    height: inherit;
    min-width: inherit;
    color: white;
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--main-border-color);
    background-color: transparent;

    .ng-value-container {
      padding-left: 5px;

      .ng-placeholder {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .ng-dropdown-panel {
    width: 100%;
    z-index: 1;

    .ng-dropdown-panel-items {
      margin-bottom: 0;

      .ng-option {
        background-color: var(--dropdown-background);

        &.ng-option-marked {
          background-color: var(--highlight-background);
        }

        &:last-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .ng-dropdown-panel-items.ps {
      .ps__rail-x:hover,
      .ps__rail-y:hover,
      .ps__rail-x:focus,
      .ps__rail-y:focus,
      .ps__rail-x.ps--clicking,
      .ps__rail-y.ps--clicking {
        background-color: transparent !important;
      }
    }

    &.scroll-host {
      overflow: hidden !important;
    }

    .ng-dropdown-header {
      --inner-content-height: 35px;
      --inner-indent: 10px;
      --button-size: 20px;
      --input-lr-inner-indent: 8px;

      position: relative;
      padding: var(--inner-indent);
      border-bottom: none;
      background-color: var(--dropdown-background);

      .input-field {
        width: 100%;
        height: var(--inner-content-height);
        padding-right: calc(var(--button-width) + var(--input-lr-inner-indent));
        border-radius: 4px;
        background-color: var(--page-background);

        &::placeholder {
          font-size: 14px;
          font-weight: 100;
        }
      }

      button {
        position: absolute;
        top: calc((2 * var(--inner-indent) + var(--inner-content-height) - var(--button-size)) / 2);
        right: calc(var(--input-lr-inner-indent) + var(--inner-indent));
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        width: var(--button-size);
        height: var(--button-size);
        color: white;
        font-weight: 100;
        border: none;
        background-color: transparent;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .ng-dropdown-footer {
      --border-radius: 10px;

      overflow: hidden;
      height: 40px;
      padding: 0;
      border-top: none;
      border-bottom-right-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      background-color: var(--dropdown-background);

      button {
        width: 100%;
        height: 100%;
        color: white;
        font-weight: 100;
        border: none;
        background-color: var(--main-border-color);
      }
    }
  }
}
