.app-theme-light {
  --main-border-color: rgba(0, 0, 0, 0.15); //light
  --main-text-color: rgb(82, 84, 92); //light
  --main-highlight-color: rgb(39, 178, 229);
  --success-highlight-color: rgb(40, 167, 69);
  --main-button-background: rgb(33, 35, 39);
  --page-background: rgb(247, 247, 249); //light
  --element-background: rgb(31, 29, 29);
  --highlight-background: rgb(230, 230, 250); //light
  --navigation-link-hover: rgb(85, 85, 85);
}

//.app-theme-light {
//  .table-bordered.main-table-bordered td,
//  .table-bordered.main-table-bordered th {
//    border: 1px solid rgba(0, 0, 0, 0.15) !important;
//    border-left: none !important;
//  }
//
//  .aws-table {
//    border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
//  }
//
//  .table-header {
//    .display-options {
//      color: #52545c;
//      .option-container {
//        border: 1px solid rgba(0, 0, 0, 0.15);
//      }
//    }
//  }
//
//  .query-profile-table.table-body {
//    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
//
//    .grid-container {
//      > div {
//        border: 1px solid rgba(0, 0, 0, 0.15);
//
//        &:first-child {
//          border-left-color: rgba(0, 0, 0, 0.15) !important;
//        }
//      }
//    }
//  }
//
//  .btn-switcher,
//  .total-queries-amount,
//  .not-checked-button,
//  .btn-tables,
//  .pmm-button-big {
//    color: #52545c;
//    background-color: transparent;
//    &.checked {
//      background-color: #dde4ed;
//    }
//    &:disabled {
//      background-color: #dde4ed;
//      opacity: 0.5;
//    }
//  }
//
//  .total-queries-amount,
//  .not-checked-button {
//    border: 1px solid rgba(0, 0, 0, 0.15);
//    background-color: #dde4ed;
//  }
//
//  .search-input {
//    .form-control {
//      border-color: rgba(0, 0, 0, 0.15);
//    }
//
//    .search-button {
//      color: #0275d8;
//      background: transparent;
//    }
//  }
//
//  .search-button {
//    &:hover {
//      color: #27b2e5;
//    }
//  }
//
//  .table-header-row {
//    background-color: #e6e6fa;
//  }
//
//  .grid-table__row--active,
//  .grid-table__row--first-seen.grid-table__row--active {
//    background-color: #FFE4E1;
//  }
//
//  .explain-search-input {
//    .form-control {
//      color: #292b2c;;
//    }
//
//    .search-button:hover {
//      color: #27b2e5;
//    }
//  }
//
//  .first-seen-time {
//    color: #3C9DD0;;
//  }
//
//  .first-seen {
//    color: #086CA2;
//  }
//
//  .query-abstract {
//    color: #292b2c;;
//  }
//
//  .query-id {
//    color: #292b2c;
//  }
//
//  .btn-tables {
//    border-color: rgba(0, 0, 0, 0.15);
//  }
//
//  .pmm-button {
//    border: 1px solid rgba(0, 0, 0, 0.15);
//    color: #52545c;
//    background-color: transparent;
//  }
//
//  .pmm-button.btn-copied,
//  .pmm-button.btn-copied:active,
//  .pmm-button.btn-copied:focus,
//  .pmm-button.btn-expanded,
//  .pmm-button.btn-expanded:active,
//  .pmm-button.btn-expanded:focus,
//  .pmm-button.pmm-button-success,
//  .pmm-button.pmm-button-success:active,
//  .pmm-button.pmm-button-success:focus {
//    background-color: #dde4ed !important;
//  }
//
//  .query-profile-table > .cell-overlay > span:focus,
//  .query-profile-table > .cell-overlay > span:hover,
//  .cell-overlay > span:focus,
//  .cell-overlay > span:hover {
//    background-color: #f7f7f9;
//  }
//
//  .grid-table__row--first-seen,
//  .grid-table__row--first-seen > .cell-overlay > span:focus,
//  .grid-table__row--first-seen > .cell-overlay > span:hover,
//  .grid-table__row--first-seen .cell-overlay > span:focus,
//  .grid-table__row--first-seen .cell-overlay > span:hover {
//    background: #dde4ed;
//  }
//
//  .grid-table__row--active > .cell-overlay > span:focus,
//  .grid-table__row--active > .cell-overlay > span:hover,
//  .query-profile-table .grid-table__row--active .cell-overlay > span:hover,
//  .query-profile-table .grid-table__row--active .cell-overlay > span:focus,
//  .grid-table__row--active.grid-table__row--first-seen .cell-overlay > span:focus,
//  .grid-table__row--active.grid-table__row--first-seen .cell-overlay > span:hover {
//    background: #FFE4E1;
//  }
//}
