<!--<ng-select [items]="autocompleteBuffer"-->
<!--           [multiple]="true"-->
<!--           [virtualScroll]="true"-->
<!--           [(ngModel)]="selected"-->
<!--           (add)="changeFilterState($event)"-->
<!--           (remove)="changeFilterState($event.value)"-->
<!--           (clear)="changeFilterState($event)"-->
<!--           bindLabel="filterName"-->
<!--           clearAllText="Reset"-->
<!--           placeholder="Search by..."-->
<!--           (scroll)="onScroll($event)"-->
<!--           (scrollToEnd)="onScrollToEnd()"-->
<!--           class="pmm-select pmm-select&#45;&#45;search">-->
<ng-select [items]="autocomplete"
           [multiple]="true"
           [(ngModel)]="selected"
           (add)="changeFilterState($event)"
           (remove)="changeFilterState($event.value)"
           (clear)="changeFilterState($event)"
           bindLabel="filterName"
           clearAllText="Reset"
           placeholder="Search by..."
           class="pmm-select pmm-select--search">
  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
    <!--<perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar pmm-select__pmm-scrollbar">-->
    <div class="ng-value" *ngFor="let item of items">
      <div class="chips">
        <span class="ng-value-label">{{item.groupName}}: {{item.filterName}}</span>
        <button class="close-button" (click)="clear(item)" aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!--</perfect-scrollbar>-->
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
    <span class="pmm-select__option">{{item.groupName}}: {{item.filterName}}</span>
  </ng-template>
</ng-select>
