<!--<div *ngIf="isQueryDataAbsent" class="alert alert-warning w-75 mx-auto text-center wrap no-data-message" role="alert">-->
<!--There is no any data from this host for this period. Maybe monitoring wasn't available at this moment. Please select-->
<!--wider period of time or wait for several minutes to collect some data-->
<!--</div>-->
<!--<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap invalid-name-message" role="alert">-->
<!--Host name is not valid, please click the Host dropdown and select a valid host. If the Host list is empty, use-->
<!--<code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a-->
<!--monitoring service,-->
<!--consult-->
<!--<a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"-->
<!--target="blank">PMM documentation.</a>-->
<!--</div>-->
<div class="content-wrapper">
  <input type="text" id="search-input">
  <section *ngIf="!noQueryError" class="pmm-qan" #pmmQanWrapper>
    <app-qan-search class="pmm-qan__search"></app-qan-search>
    <div class="add-column-wrapper">
      <button (click)="addColumn()" class="add-column-btn">
        <i class="fa fa-plus-circle add-column-icon" aria-hidden="true"></i>
        <span class="add-column-title">
          Add column
        </span>
      </button>
    </div>
    <div class="pmm-qan__filter" #filter>
      <app-filter-menu-viewer></app-filter-menu-viewer>
    </div>
    <div class="pmm-qan__table" #table>
      <app-qan-table (finishRender)="checkRender()" #tableLink></app-qan-table>
    </div>

    <div *ngIf="!!noQueryError" class="text-center alert alert-danger w-75 mx-auto wrong-configuration-message" role="alert">
      {{ noQueryError }}
    </div>

    <div *ngIf="!isQueryLoading && !isLoading && totalAmountOfQueries === 0" class="text-center">
      <div *ngIf="dbServer.Subsystem === 'mongo' && !isFirstSeenChecked && !isSearchQuery"
           class="alert alert-warning w-75 mx-auto wrap no-mongo-queries">
        There is no query data because profiling is not enabled for the selected host. For information about how to
        enable profiling, see
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mongodb.html" target="blank">
          Configuring profiling in MongoDB
        </a>in PMM documentation.
      </div>
      <div *ngIf="dbServer.Subsystem === 'mysql' && !isFirstSeenChecked && !isSearchQuery"
           class="alert alert-warning w-75 mx-auto wrap no-mysql-queries">
        There is no query data because the MySQL Server is not configured for monitoring. For details about the
        required configuration, see
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mysql.html" target="blank">
          Configuring MySQL for Percona Monitoring and Management
        </a>in PMM documentation.
      </div>
      <div *ngIf="isFirstSeenChecked && !isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
        There are no queries First Seen during the selected time range, try widening your time range.
      </div>
      <div *ngIf="isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
        There are no queries during the selected time range, try widening your time range.
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
<!--  <app-query-details></app-query-details>-->
</div>
