<aside [class.filter-menu--open]="isToggleMenu" class="filter-menu">
  <div class="filter-menu__header">
    <button (click)="isToggleMenu = !isToggleMenu" class="hamburger-button">
      <i class="fa fa-list" aria-hidden="true"></i>
    </button>
    <div *ngIf="isToggleMenu" class="filter-menu__title">
      <span class="title-text">Filter by</span>
      <button (click)="isToggleMenu = !isToggleMenu" class="filter-menu__close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <section *ngIf="isToggleMenu" class="filter-menu__body">

    <div *ngFor="let category of filterMenuCategories" class="filter-menu__category-item">
      <div class="category-item__title">
        <span class="title-text {{category.name.toLowerCase()}}">
          {{category.name}} ({{countChecked(category.states)}}/{{category.states.length}}):
        </span>
        <div *ngIf="category.states.length > filterLimit" class="see-all-wrapper">
          <button (click)="getAll(category)" class="see-all">
            {{limitsForFilterItems[category.name] <= filterLimit ? 'see all' : 'short list'}}
          </button>
        </div>
      </div>
      <div class="category-item__parameters">
        <ng-container *ngFor="let state of category.states; let index = index">
          <label *ngIf="index <= limitsForFilterItems[category.name]" class="checkbox-container">
            <input (change)="saveConfiguration(category)"
                   [(ngModel)]="state.value"
                   type="checkbox"
                   class="checkbox-container__main-input">
            <span class="checkbox-container__checkmark"></span>
            <span class="checkbox-container__label-text">{{state.propertyName}}</span>
          </label>
        </ng-container>
      </div>
    </div>
  </section>
</aside>
<section class="search-wrapper">
  <ng-select [items]="categoriesStates"
             [multiple]="true"
             bindLabel="propertyName"
             groupBy="category"
             clearAllText="Reset"
             placeholder="Search by..."
             class="pmm-select pmm-select--filter"
             role="combobox">
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <div class="selected {{item.category.toLowerCase()}}">
        <span class="ng-value-label">{{item.category}}: {{item.propertyName}}</span>
        <span class="close" (click)="clear(item)" aria-hidden="true"></span>
      </div>
    </ng-template>
  </ng-select>
</section>
