:host {
  --lr-search-indent: 25px;
  --filter-row-height: 50px;
  --close-aside-width: 55px;

  position: relative;
  display: flex;
  align-items: center;

  min-height: var(--filter-row-height);
  margin-bottom: var(--main-bottom-indent);
  padding-right: var(--lr-search-indent);
  background-color: var(--main-border-color);
}

button:not([type="submit"]) {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.filter-menu {
  --lr-menu-indent: 1em;
  --tb-menu-indent: 10px;
  --search-height: 35px;
  --toggle-color: rgb(204, 204, 204);
  --button-title-color: rgb(227, 132, 0);
  --filters-height: 525px;

  position: absolute;
  top: 0;
  z-index: 1060;

  width: var(--close-aside-width);
  height: auto;
  font-size: 0.9em;
  background-color: var(--main-border-color);
}

.filter-menu--open {
  width: auto;

  -webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
}

.filter-menu__header {
  display: flex;
  align-items: center;

  height: var(--filter-row-height);
  padding-right: var(--lr-menu-indent);
}

.filter-menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-left: 25px;
}

.filter-menu__close {
  font-size: 1.2em;
  color: rgb(102, 102, 102);
}

.filter-menu__body {
  width: 280px;
  padding: 0 0 10px var(--lr-menu-indent);
}

.filter-menu__filters {
  position: relative;
  height: var(--filters-height);
}

.filter-menu__filters--chips {
  padding-right: var(--lr-menu-indent);
  height: calc(var(--filters-height) + var(--search-height) + var(--tb-menu-indent));
}

.filters__filter-group {
  margin-right: var(--lr-menu-indent);
  margin-bottom: var(--tb-menu-indent);
}

.filter-menu__search {
  height: var(--search-height);
  margin-right: var(--lr-menu-indent);
  margin-bottom: var(--tb-menu-indent);
}

.filter-group__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-bottom: var(--tb-menu-indent);
}

.filter-group__title--no-padding {
  padding-bottom: 0;
}

.title__text {
  font-weight: 600;
}

.filter-group__filters {
  display: grid;
  grid-row-gap: var(--tb-menu-indent);

  padding-bottom: var(--tb-menu-indent);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.filter-menu__toggle {
  margin-left: var(--lr-search-indent);

  color: var(--toggle-color);
  line-height: 0;
  font-size: 1.2em;
}

.filters__empty-text {
  display: flex;
  margin: var(--tb-menu-indent) 0;
}

.filters__chips-list {
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid black;
}

.filters__chips-list > .chips {
  margin-right: 3px;
  margin-bottom: var(--tb-menu-indent);
}

.filters__chips-list .filter-group__title:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid black;
}

.checkbox-container__label-text {
  font-size: 1em;
  font-weight: 100;
}

.title__button {
  margin-left: auto;
  color: var(--button-title-color);
}

.search-wrapper {
  width: 100%;
  margin-left: var(--close-aside-width);
}

.schemas {
  color: var(--color-shemas);
}

.servers {
  color: var(--color-servers);
}

.users {
  color: var(--color-users);
}

.hosts {
  color: var(--color-hosts);
}

.checked-content__tools {
  display: flex;
  justify-content: flex-end;
}

.badge {
  --color: var(--main-text-color);
  --bg-color: var(--button-title-color);
}
