<aside [class.filter-menu--open]="isToggleMenu" class="filter-menu">
  <div class="filter-menu__header">
    <button (click)="isToggleMenu = !isToggleMenu" class="filter-menu__toggle">
      <i class="fa fa-list" aria-hidden="true"></i>
    </button>
    <div *ngIf="isToggleMenu" class="filter-menu__title">
      <span class="title__text">Filter by</span>
      <button (click)="isToggleMenu = !isToggleMenu" class="filter-menu__close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <section *ngIf="isToggleMenu" class="filter-menu__body">
    <ngb-tabset class="pmm-tabset" #tabs>
      <ngb-tab title="Filters" id="filters-tab">
        <ng-template ngbTabContent>
          <div class="pmm-tabset__tab-content" id="body-content-filters">
            <form class="filter-menu__search search search--no-border">
              <input (keyup)="findFilters(filterSearchValue)"
                     [(ngModel)]="filterSearchValue"
                     name="searchValue"
                     class="search__input input-field"
                     type="text" placeholder="Type to search">
              <button class="search__button" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
            <perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar">
              <div class="filter-menu__filters">
                <div *ngFor="let filterGroup of filtersSearchedValues" class="filters__filter-group">
                  <div *ngIf="filterGroup.values.length" class="filter-group__title">
                    <span class="title__text {{filterGroup.name.toLowerCase()}}">
                      {{filterGroup.name}} {{countFilters(filterGroup)}}:
                    </span>
                    <button *ngIf="filterGroup.values.length > mainLimit"
                            (click)="getAll(filterGroup)" class="title__button">
                      <i class="fa fa-chevron-{{limits[filterGroup.name] <= mainLimit ? 'right' : 'down'}}" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div *ngIf="filterGroup.values.length" class="filter-group__filters">
                    <ng-container *ngFor="let value of filterGroup.values; let index = index">
                      <label *ngIf="index <= limits[filterGroup.name]" class="checkbox-container">
                        <input (change)="setConfigs()"
                               [(ngModel)]="value.state"
                               type="checkbox"
                               class="checkbox-container__main-input">
                        <span class="checkbox-container__checkmark"></span>
                        <span class="checkbox-container__label-text">{{value.filterName}}</span>
                      </label>
                    </ng-container>
                  </div>
                </div>
                <span *ngIf="isEmptySearch" class="filters__empty-text">No items found...</span>
              </div>
            </perfect-scrollbar>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab [disabled]="!selected.length" id="checked-tab">
        <ng-template ngbTabTitle>
          <span>Checked</span>
          <span *ngIf="selected.length" class="badge">{{selected.length}}</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="pmm-tabset__tab-content" id="body-content-chips">
            <perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar">
              <div class="filter-menu__filters filter-menu__filters--chips">
                <div class="filter-group__title filter-group__title--no-padding">
                  <button (click)="changeFilterState()" class="title__button">Reset all</button>
                </div>
                <div class="filters__chips-list">
                  <ng-container *ngFor="let selectedLabel of selected; let index = index">
                    <div *ngIf="!index || selectedLabel.groupName !== selected[index - 1].groupName"
                         class="filter-group__title">
                  <span class="title__text {{selectedLabel.groupName.toLowerCase()}}">
                    {{selectedLabel.groupName}}:
                  </span>
                    </div>
                    <div class="chips {{selectedLabel.groupName.toLowerCase()}}">
                      <span class="ng-value-label">{{selectedLabel.filterName}}</span>
                      <span (click)="changeFilterState(selectedLabel)" class="close"></span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </section>
</aside>
<section class="search-wrapper">
  <ng-select [items]="autocomplete"
             [(ngModel)]="selected"
             [multiple]="true"
             (change)="groupSelected()"
             (add)="changeFilterState($event, true)"
             (clear)="changeFilterState()"
             (remove)="changeFilterState($event.value)"
             bindLabel="filterName"
             groupBy="groupName"
             clearAllText="Reset"
             placeholder="Search by..."
             class="pmm-select pmm-select--filter"
             role="combobox">
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
      <perfect-scrollbar [config]="scrollbarConfig" class="pmm-scrollbar pmm-select__pmm-scrollbar">
        <div class="ng-value" *ngFor="let item of items">
          <div class="chips {{item.groupName.toLowerCase()}}">
            <span class="ng-value-label">{{item.groupName}}: {{item.filterName}}</span>
            <span class="close" (click)="clear(item)" aria-hidden="true"></span>
          </div>
        </div>
      </perfect-scrollbar>
    </ng-template>
    <ng-template ng-label-tmp let-item="item" let-clear="clear">
      <div class="chips {{item.groupName.toLowerCase()}}">
        <span class="ng-value-label">{{item.groupName}}: {{item.filterName}}</span>
        <span class="close" (click)="clear(item)" aria-hidden="true"></span>
      </div>
    </ng-template>
    <ng-template ng-optgroup-tmp let-item="item">
      <span class="{{item.groupName.toLowerCase()}}">{{item.groupName}}</span>
    </ng-template>
  </ng-select>
</section>
