:host {
  --menu-padding: 1em;
  --close-aside-width: 55px;
  --parameters-bottom-indent: 5px;
  --filter-row-height: 50px;
  --hamburger-button-color: rgb(204, 204, 204);

  --color-shemas: rgb(76, 163, 86);
  --color-servers: rgb(111, 129, 204);
  --color-users: rgb(55, 155, 229);
  --color-hosts: rgb(158, 133, 125);
}

:host {
  position: relative;

  display: flex;
  align-items: center;

  min-height: var(--filter-row-height);
  margin-bottom: var(--main-bottom-indent);
  padding-right: 25px; // todo: add variable if need

  background-color: var(--main-border-color);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.filter-menu {
  position: absolute;
  top: 0;
  z-index: 1060;

  width: var(--close-aside-width);
  height: 100%;
  padding: 0 var(--filter-menu-padding);

  font-size: 0.9em;
  background-color: var(--main-border-color);
}

.filter-menu--open {
  width: auto;
  height: unset;

  -webkit-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.75);
}

.filter-menu__header {
  display: flex;
  align-items: center;

  height: var(--filter-row-height);
  padding-right: var(--menu-padding);
}

.filter-menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-left: 25px;
}

.filter-menu__close {
  font-size: 1.2em;
  color: rgb(102, 102, 102);
}

.filter-menu__body {
  width: 250px;
  padding: 0 var(--menu-padding) 40px;
}

.filter-menu__category-item {
  padding-bottom: 10px;

  border-bottom: 1px solid rgb(0, 0, 0);
}

.title-text {
  font-weight: 600;
}

.category-item__parameters {
  display: grid;
  grid-row-gap: var(--parameters-bottom-indent);
}

.hamburger-button {
  margin-left: 25px;

  color: var(--hamburger-button-color);
  line-height: 0;
  font-size: 1.2em;
}

.category-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.checkbox-container__label-text {
  font-size: 1em;
  font-weight: 100;
}

.see-all {
  color: rgb(227, 132, 0);
}

.search-wrapper {
  width: 100%;
  margin-left: var(--close-aside-width);
}

.schemas {
  color: rgb(15, 179, 82);
}

.servers {
  color: rgb(112, 122, 210);
}

.users {
  color: rgb(0, 151, 236);
}

.hosts {
  color: rgb(145, 120, 112);
}

