<section *ngIf="!!isSummary || !!queryDetails?.Metrics2">
  <ngb-tabset class="pmm-tabset pmm-tabset--theme-details">
    <ngb-tab>
      <ng-template *ngIf="!!isSummary" ngbTabTitle>Server Summary</ng-template>
      <ng-template *ngIf="!isSummary" ngbTabTitle>{{ queryDetails?.Query?.Id }}</ng-template>
      <ng-template ngbTabContent>
        <ngb-accordion [activeIds]="accordionIds.serverSummary">
          <ngb-panel id="metrics-table">
            <ng-template ngbPanelTitle>
              <header class="card-header__content">
                <h5 class="card-header__title">Metrics</h5>
                <span *ngIf="!isSummary" class="card-header__info">
            Query first seen: <strong [class.highlight-content]="isFirstSeen">{{ firstSeen }}</strong>
            Last seen: <strong>{{ lastSeen }}</strong>
          </span>
              </header>
            </ng-template>
            <ng-template ngbPanelContent>
              <section *ngIf="!isLoading" class="grid-table grid-table--no-frame">
                <header class="grid-table__row grid-table__row--metrics grid-table__row--highlight">
                  <span>Metrics</span>
                  <span>Rate/Sec</span>
                  <span>Sum</span>
                  <span>Per Query Stats</span>
                </header>
                <div class="grid-table__row grid-table__row--metrics">
                  <span>Query Count</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Query_count_per_sec | humanize : 'number' }}</span>
                    <div [appLoadSparklines]="queryDetails?.Sparks2" class="scaling-svg-container app-tooltip"
                         data-tooltip="Loading..." xkey="Ts" ykey="Query_count_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Query_count | humanize : 'number' }}
                <small *ngIf="!isSummary" class="highlight-content">
                  {{ queryDetails?.Metrics2?.Query_count_of_total | humanize : 'percent' }} of total
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip"
                         data-tooltip="Loading..."
                         [appLatencyChart]="queryDetails?.Metrics2"
                         measurement="time"
                         metricPrefix="Query_time">
                    </div>
                  </div>
                </div>
                <div class="grid-table__row grid-table__row--metrics">
                  <span>Query Time</span>
                  <div class="row__cells">
                    <span class="unit unit--load">{{ queryDetails?.Metrics2?.Query_time_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Query_time_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Query_time_sum | humanize : 'time' }}
                <small *ngIf="!isSummary" class=" highlight-content">
                  {{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }} of total
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip"
                         data-tooltip="Loading..."
                         [appLatencyChart]="queryDetails?.Metrics2"
                         measurement="time"
                         metricPrefix="Query_time">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Lock_time_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Lock Time</span>
                  <div class="row__cells">
                    <span class="unit unit--avg-load">{{ queryDetails?.Metrics2?.Lock_time_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..."
                         xkey="Ts" ykey="Lock_time_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
                <span>
                  {{ queryDetails?.Metrics2?.Lock_time_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="!isSummary" class="highlight-content">
                      {{ queryDetails?.Metrics2?.Lock_time_sum_of_total | humanize : 'percent'}} of total
                    </span>
                    <span class="highlight-content--success">
                      {{ queryDetails?.Metrics2?.Lock_time_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Lock_time_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Lock_time">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Innodb Row Lock Wait</span>
                  </div>
                  <div class="row__cells">
              <span class="unit unit--avg-load">
                {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_per_sec | humanize :'number' }}
              </span>
                    <div class="scaling-svg-container app-tooltip"
                         [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..."
                         xkey="Ts" ykey="InnoDB_rec_lock_wait_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
                <span>
                  {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_of_total" class="highlight-content">
                      {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="highlight-content--success">
                      {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip"
                         data-tooltip="Loading..." measurement="time"
                         [appLatencyChart]="queryDetails?.Metrics2"
                         metricPrefix="InnoDB_rec_lock_wait">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Innodb IO Read Wait</span>
                  <div class="row__cells">
                    <span class="unit unit--avg-load">{{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum_per_sec | humanize :'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_wait_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum | humanize : 'time' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_avg_per_query_time | humanize : 'percent' }} of query time
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_wait">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_queue_wait_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Innodb Queue Wait</span>
                  <div class="row__cells">
                    <span class="unit unit--avg-load">{{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum_per_sec | humanize :'number'}}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_queue_wait_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum | humanize : 'time'}}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.innodbQueueWait?.InnoDB_queue_wait_avg_per_query_time | humanize : 'percent' }} of query time
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_queue_wait_avg | humanize : 'time' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_queue_wait">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Innodb Read Ops</span>
                  <div class="row__cells">
                    <span class="unit--per-sec">{{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum_per_sec | humanize :'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_ops_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum_of_total | humanize : 'percent' }} of total
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_ops">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Innodb Read Bytes</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_per_sec | humanize :'size'}}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_bytes_sum_per_sec"
                         measurement="size">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum | humanize : 'size' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    <span class="unit unit--avg">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_per_io | humanize : 'size' }}
                    </span> io size
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_avg | humanize : 'size' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_bytes">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.InnoDB_pages_distinct_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Innodb Distinct Pages</span>
                  <span>-</span>
                  <span>-</span>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.InnoDB_pages_distinct_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_pages_distinct">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.QC_Hit_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Query Cache Hits</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.QC_Hit_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="QC_Hit_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.QC_Hit_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.QC_Hit_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.QC_Hit_sum_per_query | humanize : 'percent'}} QC hit ratio
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Rows_sent_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Rows Sent</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Rows_sent_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Rows_sent_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Rows_sent_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Rows_sent_sum_of_total | humanize : 'percent' }} of total
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Rows_sent_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_sent">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Bytes_sent_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Bytes Sent</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Bytes_sent_sum_per_sec | humanize : 'size' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Bytes_sent_sum_per_sec" measurement="size">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Bytes_sent_sum | humanize : 'size' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Bytes_sent_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success" *ngIf="queryDetails?.Metrics2?.Bytes_sent_sum_per_rows">
                    {{ queryDetails?.Metrics2?.Bytes_sent_sum_per_rows | humanize : 'size' }} bytes/row
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Bytes_sent_avg | humanize : 'size' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Bytes_sent">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Rows_examined_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Rows Examined</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Rows_examined_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Rows_examined_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Rows_examined_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Rows_examined_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Rows_examined_sum_per_rows | humanize : 'number' }} per row sent
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Rows_examined_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_examined">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Rows_affected_sum" class="grid-table__row grid-table__row--metrics">
                  <span>Rows Affected</span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Rows_affected_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Rows_affected_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Rows_affected_sum | humanize : 'number'}}
                <small *ngIf="!isSummary" class="highlight-content">
                  {{ queryDetails?.Metrics2?.Rows_affected_sum_of_total | humanize : 'percent' }} of total
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Rows_affected_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_affected">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Filesort_sum" class="grid-table__row grid-table__row--metrics">
                  <span>no avg</span>
                  <span>External Sorts<small>(Filesort)</small></span>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Filesort_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Filesort_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Filesort_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Filesort_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Filesort_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Filesort_on_disk_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
              <span class="overlay-container__item">
                External Sorts of Disk<small>(Filesort on disk)</small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Filesort_on_disk_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Filesort_on_disk_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Filesort_on_disk_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Filesort_on_disk_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                      {{ queryDetails?.Metrics2?.Filesort_on_disk_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Merge_passes_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
              <span class="overlay-container__item">
                External Sort Passes<small>(Merge Passes)</small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Merge_passes_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Merge_passes_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Merge_passes_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Merge_passes_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Merge_passes_sum_per_external_sort | humanize : 'percent' }} per external sort
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Merge_passes_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Merge_passes">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Full_join_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
              <span class="overlay-container__item">
                Cartesian Products<small>(Full Joins)</small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Full_join_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Full_join_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Full_join_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Full_join_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Full_join_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Full_scan_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Full Table Scans</span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Full_scan_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Full_scan_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Full_scan_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Full_scan_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Full_scan_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Tmp_table_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Queries Requiring Tmp Table In Memory</span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Tmp_table_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Tmp_table_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Tmp_table_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Tmp_table_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Tmp_tables_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Number of Tmp table in Memory</span>
                  </div>
                  <div class="row__cells">
                    <span>{{ queryDetails?.Metrics2?.Tmp_tables_sum_per_sec | humanize : 'number' }} (per sec)</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Tmp_tables_sum_per_sec" measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Tmp_tables_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Tmp_tables_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Tmp_tables_sum_per_query_with_tmp_table | humanize : 'number'}} per query with tmp table
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Tmp_tables_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_tables">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Tmp_table_on_disk_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Queries Requiring Tmp Table on Disk</span>
                  </div>
                  <div class="row__cells">
                    <span
                      class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_on_disk_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_per_query | humanize : 'percent' }} of queries
                  </span>
                </small>
              </span>
                  </div>
                  <span>-</span>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Tmp_disk_tables_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Number of Tmp Tables on Disk</span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_per_sec | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Tmp_disk_tables_sum_per_sec"
                         measurement="number">
                    </div>
                  </div>
                  <div>
              <span>{{ queryDetails?.Metrics2?.Tmp_disk_tables_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_per_query_with_tmp_table | humanize : 'number' }}
                    per query with disk tmp table
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Tmp_disk_tables_avg | humanize : 'number' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_disk_tables">
                    </div>
                  </div>
                </div>
                <div *ngIf="queryDetails?.Metrics2?.Tmp_table_sizes_sum" class="grid-table__row grid-table__row--metrics">
                  <div class="overlay-container">
                    <span class="overlay-container__item">Total Size of Tmp Tables</span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_per_sec | humanize : 'size' }}</span>
                    <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                         data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_sizes_sum_per_sec"
                         measurement="size">
                    </div>
                  </div>
                  <div>
              <span>
                {{ queryDetails?.Metrics2?.Tmp_table_sizes_sum | humanize : 'size' }}
                <small>
                  <span *ngIf="!isSummary" class="highlight-content">
                    {{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="highlight-content--success">
                    {{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_per_query_with_any_tmp_table | humanize : 'size' }} per query
                  </span>
                </small>
              </span>
                  </div>
                  <div class="row__cells">
                    <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Tmp_table_sizes_avg | humanize : 'size' }}</span>
                    <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                         [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_table_sizes">
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-tab>
    <div *ngIf="!isSummary">
      <ngb-tab *ngIf="!!fingerprint || !!queryExample" title="QUERY">
        <ng-template ngbTabContent>
          <ngb-accordion [activeIds]="accordionIds.querySection" #queryAcc="ngbAccordion">
            <ngb-panel *ngIf="!!fingerprint" id="query-fingerprint">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">Fingerprint</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div class="card-body__content slinky-content" *ngIf="!isLoading">
                  <pre class="content__text"><code [innerHTML]="fingerprint"></code></pre>
                  <button class="button button--inside button--fixed"
                          id="copyFingerprint"
                          ngxClipboard
                          [cbContent]="queryDetails.Query.Fingerprint"
                          (cbOnSuccess)="showSuccessNotification('fingerprint')"
                          [class.button--inside-active]="isCopied.fingerprint">
                    Copy to clipboard
                  </button>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel *ngIf="!!queryExample" id="query-example">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">Example</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isLoading" class="card-body__content slinky-content">
                  <pre class="content__text"><code [innerHTML]="queryExample"></code></pre>
                  <button class="button button--inside button--fixed"
                          id="copyQueryExample"
                          ngxClipboard
                          [cbContent]="queryDetails.Example.Query"
                          (cbOnSuccess)="showSuccessNotification('example')"
                          [class.button--inside-active]="isCopied.example">
                    Copy to clipboard
                  </button>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="!!queryExample || !!explainError || !!explainJson || !!explainVisual || !!explainClassic" title="EXPLAIN">
        <ng-template ngbTabContent>
          <form class="configuration-panel__options center-children search">
            <input [(ngModel)]="dbName" [ngModelOptions]="{standalone: true}"
                   type="text" class="input-field search__input search__input--small"
                   id="databaseInput" placeholder="`database-name`">
            <button (click)="getExplain()" [disabled]="!dbName" class="search__button" type="submit">
              EXPLAIN
            </button>
          </form>

          <ngb-accordion [activeIds]="accordionIds.explainSection">
            <ngb-panel id="classic-explain">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">CLASSIC</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isExplainLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isExplainLoading && explainError" class="alert alert-warning w-75 mx-auto m-2"
                     role="alert">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ explainError }}
                </div>
                <section *ngIf="!isExplainLoading && !explainError" class="grid-table grid-table--no-grid grid-table--no-frame ">
                  <header class="grid-table__row grid-table__row--no-grid grid-table__row--highlight">
                    <span title="Id">Id</span>
                    <span title="SelectType">SelectType</span>
                    <span title="Table">Table</span>
                    <span title="Partitions">Partitions</span>
                    <span title="CreateTable">CreateTable</span>
                    <span title="Type">CreateTable</span>
                    <span title="PossibleKeys">PossibleKeys</span>
                    <span title="Key">Key</span>
                    <span title="KeyLen">KeyLen</span>
                    <span title="Ref">Ref</span>
                    <span title="Rows">Rows</span>
                    <span title="Extra">Extra</span>
                  </header>
                  <div *ngFor="let row of explainClassic; let i = index" class="grid-table__row grid-table__row--no-grid">
                    <div [attr.title]="row.Id">{{ row.Id }}</div>
                    <div [attr.title]="row.SelectType">{{ row.SelectType }}</div>
                    <div [attr.title]="row.Table">{{ row.Table }}</div>
                    <div [attr.title]="row.Partitions">{{ row.Partitions }}</div>
                    <div [attr.title]="row.CreateTable">{{ row.CreateTable }}</div>
                    <div [attr.title]="row.Type">{{ row.Type }}</div>
                    <div [attr.title]="row.PossibleKeys">{{ row?.PossibleKeys?.replace(',', ', ') }}</div>
                    <div [attr.title]="row.Key">{{ row.Key }}</div>
                    <div [attr.title]="row.KeyLen">{{ row.KeyLen }}</div>
                    <div [attr.title]="row.Ref">{{ row.Ref }}</div>
                    <div [attr.title]="row.Rows">{{ row.Rows }}</div>
                    <div [attr.title]="row.Extra">{{ row.Extra }}</div>
                  </div>
                </section>
              </ng-template>
            </ngb-panel>

            <ngb-panel *ngIf="!!explainJson || !!explainError" id="json-explain">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">JSON</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isExplainLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isExplainLoading && !explainError" class="card-body__content slinky-content">
                  <app-json-tree [json]="explainJson" class="slinky-content"></app-json-tree>
                  <button class="button button--inside button--fixed"
                          id="copyJson"
                          ngxClipboard
                          [cbContent]="explainJsonString"
                          (cbOnSuccess)="showSuccessNotification('json')"
                          [class.button--inside-active]="isCopied.json">
                    Copy to clipboard
                  </button>
                </div>
                <div *ngIf="!isExplainLoading && explainError" class="alert alert-warning w-75 mx-auto m-2" role="alert">
                  <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                  {{ explainError }}
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel *ngIf="!!explainVisual || !!explainError" id="visual-explain">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">VISUAL</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isExplainLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isExplainLoading && !explainError" class="card-body__content slinky-content">
                  <pre class="content__text">{{ explainVisual }}</pre>
                  <button class="button button--inside button--fixed"
                          id="copyVisualExplain"
                          ngxClipboard
                          [cbContent]="explainVisual"
                          (cbOnSuccess)="showSuccessNotification('visual')"
                          [class.button--inside-active]="isCopied.visual">
                    Copy to clipboard
                  </button>
                </div>
                <div *ngIf="!isExplainLoading && explainError"
                     class="alert alert-warning w-75 mx-auto m-2" role="alert">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ explainError }}
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="!!createTable || !!createTableError || !!statusTable || !!statusTableError || !!indexTable || !!indexTableError"
               title="TABLES">
        <ng-template ngbTabContent>
          <label for="dbTblNamesInput">DB and table</label>
          <form (submit)="addDBTable()" class="configuration-panel__options center-children search">
            <input [(ngModel)]="newDBTblNames" [ngModelOptions]="{standalone: true}"
                   type="text" class="input-field search__input search__input--small"
                   id="dbTblNamesInput" placeholder="`database-name`.`table-name`">
            <button (click)="addDBTable();" [disabled]="isDemo || !newDBTblNames" class="search__button" type="submit">
              ADD
            </button>
          </form>

          <div class="button-group" role="group" aria-label="Tables">
            <button type="button"
                    class="button"
                    *ngFor="let item of queryDetails?.Query?.Tables"
                    (click)="selectTableInfo(item.Db, item.Table);"
                    [ngClass]="isSelectedDbTbl(item) ? 'button--dark' : ''">
              `{{ item.Db }}`.`{{ item.Table }}`
              <span class="fa fa-times button__remove" aria-hidden="true" (click)="removeDBTable(item)"></span>
            </button>
          </div>

          <ngb-accordion [activeIds]=" accordionIds.tableSection">
            <ngb-panel id="table-create" *ngIf="!!createTable || !!createTableError">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">CREATE</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isTableInfoLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isTableInfoLoading && createTableError" class="alert alert-warning w-75 mx-auto m-2" role="alert">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ createTableError }}
                </div>
                <div *ngIf="!isTableInfoLoading && !createTableError" class="card-body__content slinky-content">
                  <pre class="content__text"><code [innerHTML]="createTable"></code></pre>
                  <button class="button button--inside button--fixed"
                          id="copyCreateTable"
                          ngxClipboard
                          [cbContent]="tableInfo.Create"
                          (cbOnSuccess)="showSuccessNotification('create')"
                          [class.button--inside-active]="isCopied.create">
                    Copy to clipboard
                  </button>
                </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel *ngIf="!!statusTable || !!statusTableError" id="table-status">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">STATUS</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isTableInfoLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isTableInfoLoading && !!statusTableError" class="alert alert-warning w-75 mx-auto m-2" role="alert">
                  <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                  {{ statusTableError }}
                </div>
                <section *ngIf="!isTableInfoLoading && !statusTableError" class="grid-table grid-table--no-frame">
                  <header class="grid-table__row grid-table__row--two-columns grid-table__row--highlight">
                    <span>Name</span>
                    <span>Value</span>
                  </header>
                  <div class="grid-table__row grid-table__row--two-columns" *ngFor="let item of tableInfo?.Status | mapToIterable">
                    <span>{{ item.key }}</span>
                    <div *ngIf="['AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(item.key) > -1">
                      {{ item.val | humanize : 'size' }}
                    </div>
                    <div *ngIf="['Rows'].indexOf(item.key) > -1">
                      {{ item.val | humanize : 'number' }}
                    </div>
                    <div
                      *ngIf="['Rows', 'AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(item.key) === -1">
                      {{ item.val === null ? '-' : item.val }}
                    </div>
                    <span *ngIf="tableInfo?.Status?.length === 0">No data.</span>
                  </div>
                </section>
              </ng-template>
            </ngb-panel>

            <ngb-panel *ngIf="!!indexTable || !!indexTableError" id="table-indexes">
              <ng-template ngbPanelTitle>
                <header class="card-header__content">
                  <h5 class="card-header__title">INDEXES</h5>
                </header>
              </ng-template>
              <ng-template ngbPanelContent>
                <div *ngIf="isTableInfoLoading" class="spinner-wrapper spinner-wrapper--centered">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <div *ngIf="!isTableInfoLoading && !!indexTableError"
                     class="alert alert-warning w-75 mx-auto m-2 index-table-error"
                     role="alert">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{ indexTableError }}
                </div>
                <section *ngIf="!isTableInfoLoading && !indexTableError" class="grid-table grid-table--parent grid-table--no-frame">
                  <header class="grid-table__row grid-table__row--indexes grid-table__row--highlight">
                    <span>KeyName</span>
                    <span>Type</span>
                    <span>Unique</span>
                    <span>Packed</span>
                    <span>Column</span>
                    <span>Cardinality</span>
                    <span>Collation</span>
                    <span>Null</span>
                    <span>Comment</span>
                  </header>
                  <div *ngFor="let ind of tableInfo?.Index | mapToIterable" class="grid-table grid-table--no-frame">
                    <div *ngFor="let row of ind.val; let isFirst = first" class="grid-table__row grid-table__row--indexes">
                      <div>
                        <span *ngIf="isFirst">{{ row.KeyName }}</span>
                      </div>
                      <div>
                        <span *ngIf="isFirst">{{ row.IndexType }}</span>
                      </div>
                      <div>
                        <span *ngIf="isFirst">{{ row.NonUnique === false ? 'Yes' : 'No' }}</span>
                      </div>
                      <div>
                        <span *ngIf="isFirst">{{ row.Packed ? 'Yes' : 'No' }}</span>
                      </div>
                      <div>{{ row.ColumnName }}</div>
                      <div>{{ row.Cardinality }}</div>
                      <div>{{ row.Collation }}</div>
                      <div>{{ row.Null ? 'Yes' : 'No' }}</div>
                      <div>
                        <span *ngIf="isFirst">{{ row.Comment }}</span>
                      </div>
                    </div>
                    <span *ngIf="tableInfo?.Index?.length === 0" class="no-data">No data.</span>
                  </div>
                </section>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ng-template>
      </ngb-tab>
    </div>
  </ngb-tabset>
</section>
