<header class="section-title" *ngIf="!isSummary" >
  <h3 class="d-flex justify-content-between w-100">
    <span class="query-abstract">{{ queryDetails?.Query?.Abstract }}</span>
    <span class="query-id">{{ queryDetails?.Query?.Id }}</span>
  </h3>
</header>
<section class="server-summary">
  <header>
    <h3 *ngIf="isSummary" class="d-inline">
      Server Summary
    </h3>
  </header>
  <ngb-accordion activeIds="metrics-table">
    <ngb-panel id="metrics-table" class="accordion-inner-table">
      <ng-template ngbPanelTitle>
        <h5>Metrics</h5>
        <span *ngIf="!isSummary">
        Query first seen:<span class="first-seen-time">{{ firstSeen }}</span>
        Last seen: <strong>{{ lastSeen }}</strong>
      </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="table-wrapper metrics-table">
          <div class="table-header grid-container table-header-row">
            <div>Metrics</div>
            <div>Rate/Sec</div>
            <div>Sum</div>
            <div>Per Query Stats</div>
          </div>
          <div class="table-body" *ngIf="!isLoading">
            <div class="table-body-row grid-container">
              <div><span>Query Count</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_count_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Query_count_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span>{{ queryDetails?.Metrics2?.Query_count | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Query_count_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     data-tooltip="Loading..."
                     [appLatencyChart]="queryDetails?.Metrics2"
                     measurement="time"
                     metricPrefix="Query_time">
                </div>
              </div>
            </div>
            <div class="table-body-row grid-container">
              <div><span>Query Time</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_sum_per_sec | humanize : 'number' }} load</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Query_time_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Query_time_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     data-tooltip="Loading..."
                     [appLatencyChart]="queryDetails?.Metrics2"
                     measurement="time"
                     metricPrefix="Query_time">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Lock_time_sum" class="table-body-row grid-container">
              <div><span>Lock Time</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Lock_time_sum_per_sec | humanize : 'number' }} (avg load)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..."
                     xkey="Ts" ykey="Lock_time_sum_per_sec"
                     measurement="number">

                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Lock_time_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Lock_time_sum_of_total | humanize : 'percent'}} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Lock_time_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Lock_time_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Lock_time">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Innodb Row Lock Wait</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>
                    {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_per_sec | humanize :'number' }} (avg load)
                  </span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..."
                     xkey="Ts" ykey="InnoDB_rec_lock_wait_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_of_total" class="text-primary">
                      {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_rec_lock_wait_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     data-tooltip="Loading..." measurement="time"
                     [appLatencyChart]="queryDetails?.Metrics2"
                     metricPrefix="InnoDB_rec_lock_wait">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum" class="table-body-row grid-container">
              <div class="justify-content-start">
                <span>Innodb IO Read Wait</span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum_per_sec | humanize :'number' }} (avg load)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_wait_sum_per_sec"
                     measurement="number"></div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_wait_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_wait">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_queue_wait_sum" class="table-body-row grid-container">
              <div><span>Innodb Queue Wait</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum_per_sec | humanize :'number'}} (avg load)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_queue_wait_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum | humanize : 'time'}}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.InnoDB_queue_wait_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.innodbQueueWait?.InnoDB_queue_wait_avg_per_query_time | humanize : 'percent' }} of query time
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_queue_wait_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="time"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_queue_wait">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum" class="table-body-row grid-container">
              <div><span>Innodb Read Ops</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum_per_sec | humanize :'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_ops_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_ops_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_ops">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum"
                 class="table-body-row grid-container grid-container">
              <div><span>Innodb Read Bytes</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_per_sec | humanize :'size'}} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="InnoDB_IO_r_bytes_sum_per_sec"
                     measurement="size">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum | humanize : 'size' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_sum_per_io | humanize : 'size' }} avg io size
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_IO_r_bytes_avg | humanize : 'size' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_IO_r_bytes">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.InnoDB_pages_distinct_sum"
                 class="table-body-row grid-container special-row">
              <div><span>Innodb Distinct Pages</span></div>
              <div>-</div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.InnoDB_pages_distinct_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="InnoDB_pages_distinct">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.QC_Hit_sum" class="table-body-row grid-container">
              <div><span>Query Cache Hits</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.QC_Hit_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="QC_Hit_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.QC_Hit_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.QC_Hit_sum_of_total | humanize : 'percent' }} of total
                   </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.QC_Hit_sum_per_query | humanize : 'percent'}} QC hit ratio
                    </span>
                  </small>
                </span>
              </div>
              <div>
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Rows_sent_sum" class="table-body-row grid-container">
              <div><span>Rows Sent</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_sent_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Rows_sent_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Rows_sent_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Rows_sent_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_sent_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_sent">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Bytes_sent_sum" class="table-body-row grid-container">
              <div><span>Bytes Sent</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Bytes_sent_sum_per_sec | humanize : 'size' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Bytes_sent_sum_per_sec" measurement="size">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Bytes_sent_sum | humanize : 'size' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Bytes_sent_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success" ng-if="queryDetails?.Metrics2?.Bytes_sent_sum_per_rows">
                      {{ queryDetails?.Metrics2?.Bytes_sent_sum_per_rows | humanize : 'size' }} bytes/row
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Bytes_sent_avg | humanize : 'size' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Bytes_sent">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Rows_examined_sum" class="table-body-row grid-container">
              <div><span>Rows Examined</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_examined_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Rows_examined_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Rows_examined_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Rows_examined_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Rows_examined_sum_per_rows | humanize : 'number' }} per row sent
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_examined_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_examined">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Rows_affected_sum" class="table-body-row grid-container">
              <div><span>Rows Affected</span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_affected_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Rows_affected_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Rows_affected_sum | humanize : 'number'}}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Rows_affected_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_affected_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_affected">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Filesort_sum" class="table-body-row grid-container">
              <div>no avg</div>
              <div class=""><span>External Sorts<small>(Filesort)</small></span></div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Filesort_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Filesort_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Filesort_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Filesort_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Filesort_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div>
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Filesort_on_disk_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static">
                <span>External Sorts of Disk<small>(Filesort on disk)</small></span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Filesort_on_disk_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Filesort_on_disk_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Filesort_on_disk_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Filesort_on_disk_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Filesort_on_disk_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div class="text-xs-right">
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Merge_passes_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static">
                <span>External Sort Passes<small>(Merge Passes)</small></span>
              </div>
              <div class="flex-container">
                <div class=" rate-sec">
                  <span>{{ queryDetails?.Metrics2?.Merge_passes_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Merge_passes_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span>{{ queryDetails?.Metrics2?.Merge_passes_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Merge_passes_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Merge_passes_sum_per_external_sort | humanize : 'percent' }} per external sort
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Merge_passes_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Merge_passes">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Full_join_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static">
                <span>Cartesian Products<small>(Full Joins)</small></span>
              </div>
              <div class="flex-container">
                <div >
                  <span>{{ queryDetails?.Metrics2?.Full_join_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Full_join_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span>{{ queryDetails?.Metrics2?.Full_join_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Full_join_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Full_join_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div class="text-xs-right">
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Full_scan_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Full Table Scans</span></div>
              <div class="flex-container">
                <div class="">
                  <span>{{ queryDetails?.Metrics2?.Full_scan_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Full_scan_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Full_scan_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Full_scan_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Full_scan_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div class="text-xs-right">
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Tmp_table_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Queries Requiring Tmp Table In Memory</span></div>
              <div class="flex-container">
                <div class="">
                  <span>{{ queryDetails?.Metrics2?.Tmp_table_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Tmp_table_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Tmp_table_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Tmp_table_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div class="text-xs-right">
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Tmp_tables_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Number of Tmp table in Memory</span></div>
              <div class="flex-container">
                <div class=" rate-sec">
                  <span>{{ queryDetails?.Metrics2?.Tmp_tables_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Tmp_tables_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Tmp_tables_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Tmp_tables_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Tmp_tables_sum_per_query_with_tmp_table | humanize : 'number'}} per query with tmp table
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Tmp_tables_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_tables">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Tmp_table_on_disk_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Queries Requiring Tmp Table on Disk</span></div>
              <div class="flex-container">
                <div class=" rate-sec">
                  <span>{{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_on_disk_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class=" justify-content-start">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Tmp_table_on_disk_sum_per_query | humanize : 'percent' }} of queries
                    </span>
                  </small>
                </span>
              </div>
              <div class="text-xs-right">
                -
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Tmp_disk_tables_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Number of Tmp Tables on Disk</span></div>
              <div class="flex-container">
                <div class=" rate-sec">
                  <span>{{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Tmp_disk_tables_sum_per_sec"
                     measurement="number">
                </div>
              </div>
              <div class="">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Tmp_disk_tables_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                     {{ queryDetails?.Metrics2?.Tmp_disk_tables_sum_per_query_with_tmp_table | humanize : 'number' }} per query with disk tmp table
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="text-xs-right  justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Tmp_disk_tables_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_disk_tables">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Tmp_table_sizes_sum" class="table-body-row grid-container">
              <div class="cell-overlay position-static"><span>Total Size of Tmp Tables</span></div>
              <div class="flex-container">
                <div class="">
                  <span>{{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_per_sec | humanize : 'size' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Tmp_table_sizes_sum_per_sec"
                     measurement="size">
                </div>
              </div>
              <div class="">
          <span class="sum text-left">{{ queryDetails?.Metrics2?.Tmp_table_sizes_sum | humanize : 'size' }}
            <small>
              <span *ngIf="!isSummary" class="text-primary">
                {{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_of_total | humanize : 'percent' }} of total
              </span>
              <span class="text-success">
                {{ queryDetails?.Metrics2?.Tmp_table_sizes_sum_per_query_with_any_tmp_table | humanize : 'size' }} per query
              </span>
            </small>
          </span>
              </div>
              <div class="flex-container">
                <div class=" justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Tmp_table_sizes_avg | humanize : 'size' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Tmp_table_sizes">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>
<!--- additional info for query only-->
<div class="sections-wrapper" *ngIf="!isSummary">
  <section class="query">
    <header class="section-title">
      <h3 class="d-flex">QUERY</h3>
    </header>
    <ngb-accordion activeIds="query-fingerprint">
      <ngb-panel id="query-fingerprint">
        <ng-template ngbPanelTitle>
          <h5>Fingerprint</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="data-output">
            <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            <pre *ngIf="!isLoading"><code [innerHTML]="fingerprint"></code></pre>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel *ngIf="!!queryExample" class="query-example query-panel">
        <ng-template ngbPanelTitle class="ngb-panel-title">
          <h5 class="title">Example</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="data-output">
            <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            <pre *ngIf="!isLoading"><code [innerHTML]="queryExample"></code></pre>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>

  <section class="explain" *ngIf="!!queryExample">
    <header class="section-title">
      <h3>EXPLAIN</h3>
      <form class="search-input explain-search-input">
        <i class="fa fa-database" aria-hidden="true"></i>
        <input type="text" class="form-control"
               [(ngModel)]="dbName" [ngModelOptions]="{standalone: true}"
               id="databaseInput" placeholder="`database-name`">
        <button class="search-button" [disabled]="!dbName" (click)="getExplain();" type="submit">
          EXPLAIN
        </button>
      </form>
    </header>
    <ngb-accordion activeIds="classic-explain" *ngIf="!!queryExample" class="accordion-inner-table">
      <ngb-panel id="classic-explain">
        <ng-template ngbPanelTitle>
          <h5>CLASSIC</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div *ngIf="!isExplainLoading && classicExplainError" class="alert alert-warning w-75 mx-auto m-2"
               role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ jsonExplainError }}
          </div>
          <div class="table-wrapper classic-table-wrapper" *ngIf="!isExplainLoading && !classicExplainError">
            <div class="table-header classic-table-row table-header-row">
              <div title="Id">Id</div>
              <div title="SelectType">SelectType</div>
              <div title="Table">Table</div>
              <div title="Partitions">Partitions</div>
              <div title="CreateTable">CreateTable</div>
              <div title="Type">CreateTable</div>
              <div title="PossibleKeys">PossibleKeys</div>
              <div title="Key">Key</div>
              <div title="KeyLen">KeyLen</div>
              <div title="Ref">Ref</div>
              <div title="Rows">Rows</div>
              <div title="Extra">Extra</div>
            </div>
            <div class="table-body-row classic-table-row" *ngFor="let row of classicExplain; let i = index">
              <div [attr.title]="row.Id">{{ row.Id }}</div>
              <div [attr.title]="row.SelectType">{{ row.SelectType }}</div>
              <div [attr.title]="row.Table">{{ row.Table }}</div>
              <div [attr.title]="row.Partitions">{{ row.Partitions }}</div>
              <div [attr.title]="row.CreateTable">{{ row.CreateTable }}</div>
              <div [attr.title]="row.Type">{{ row.Type }}</div>
              <div [attr.title]="row.PossibleKeys">{{ row?.PossibleKeys?.replace(',', ', ') }}</div>
              <div [attr.title]="row.Key">{{ row.Key }}</div>
              <div [attr.title]="row.KeyLen">{{ row.KeyLen }}</div>
              <div [attr.title]="row.Ref">{{ row.Ref }}</div>
              <div [attr.title]="row.Rows">{{ row.Rows }}</div>
              <div [attr.title]="row.Extra">{{ row.Extra }}</div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="json-explain" *ngIf="!!jsonExplain || !!jsonExplainError">
        <ng-template ngbPanelTitle>
          <h5>JSON</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div class="data-output">
            <app-json-tree [json]="jsonExplain" *ngIf="!isExplainLoading && !jsonExplainError"></app-json-tree>
          </div>
          <div *ngIf="!isExplainLoading && jsonExplainError" class="alert alert-warning w-75 mx-auto m-2" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ jsonExplainError }}
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="visual-explain" *ngIf="!!visualExplain || !!visualExplainError">
        <ng-template ngbPanelTitle>
          <h5>VISUAL</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div class="data-output" *ngIf="!isExplainLoading && !visualExplainError">
            <button class="btn btn-secondary btn-sm copy-btn"
                    ngxClipboard
                    [cbContent]="this.visualExplain"
                    (cbOnSuccess)="isCopied = true"
                    [class.btn-success]="isCopied">Copy to clipboard
            </button>
            <pre>{{ this.visualExplain }}</pre>
          </div>
          <div *ngIf="!isExplainLoading && visualExplainError" class="alert alert-warning w-75 mx-auto m-2"
               role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ visualExplainError }}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>

  <section class="tables">
    <header class="section-title">
      <h3>TABLES</h3>
      <form class="search-input tables-input" (submit)="addDBTable();">
        <label for="dbTblNamesInput">DB and table</label>
        <input type="text" size="50" class="form-control"
               id="dbTblNamesInput" [(ngModel)]="newDBTblNames"
               [ngModelOptions]="{standalone: true}"
               placeholder="`database-name`.`table-name`">
        <button [disabled]="isDemo || !newDBTblNames" (click)="addDBTable();"
                class="search-button" type="submit">
          ADD
        </button>
      </form>
    </header>

    <section class="table-buttons-wrapper">
      <div *ngFor="let item of queryDetails?.Query?.Tables" class="btn-group" role="group" aria-label="Tables">
        <button type="button" class="btn btn-primary btn-tables" (click)="selectTableInfo(item.Db, item.Table);">
                <!--[ngClass]="isSelectedDbTbl(item) ? 'btn-success' : 'btn-secondary'">-->
          `{{ item.Db }}`.`{{ item.Table }}`
        </button>
        <button type="button" class="btn btn-primary btn-tables" (click)="removeDBTable(item);">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="queryDetails?.Query?.Tables === null || queryDetails?.Query?.Tables?.length === 0"
           class="alert alert-info w-25 mx-auto m-2" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        List of tables is empty.
      </div>
    </section>
    <ngb-accordion activeIds="table-create" *ngIf="queryDetails?.Query?.Tables?.length">
      <ngb-panel id="table-create">
        <ng-template ngbPanelTitle>
          <h5>CREATE</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="data-output">
            <i *ngIf="isTableInfoLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            <div *ngIf="!isTableInfoLoading && createTableError" class="alert alert-warning w-75 mx-auto m-2"
                 role="alert">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ createTableError }}
            </div>
            <pre *ngIf="!isTableInfoLoading && !createTableError"><code [innerHTML]="createTable"></code></pre>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="table-status" class="accordion-inner-table">
        <ng-template ngbPanelTitle>
          <h5>STATUS</h5>
        </ng-template>
        <ng-template ngbPanelContent class="accordion-inner-table">
          <i *ngIf="isTableInfoLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div *ngIf="!isTableInfoLoading && !!statusTableError" class="alert alert-warning w-75 mx-auto m-2"
               role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ statusTableError }}
          </div>
          <div class="table-wrapper status-table-wrapper" *ngIf="!statusTableError">
            <div class="table-header grid-container table-header-row">
              <div>Name</div>
              <div>Value</div>
            </div>
            <div class="table-body grid-container" *ngFor="let item of tableInfo?.Status | mapToIterable">
              <div>{{ item.key }}</div>
              <div
                *ngIf="['AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(item.key) > -1">
                {{ item.val | humanize : 'size' }}
              </div>
              <div *ngIf="['Rows'].indexOf(item.key) > -1">{{ item.val | humanize : 'number' }}</div>
              <div
                *ngIf="['Rows', 'AvgRowLength', 'DataLength', 'IndexLength', 'DataFree', 'MaxDataLength'].indexOf(item.key) === -1">
                {{ item.val === null ? '-' : item.val }}
              </div>
              <div *ngIf="tableInfo?.Status?.length === 0">No data.</div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="table-indexes">
        <ng-template ngbPanelTitle>
          <h5>INDEXES</h5>
        </ng-template>
        <ng-template ngbPanelContent class="accordion-inner-table">
          <i *ngIf="isTableInfoLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div *ngIf="!isTableInfoLoading && !!indexTableError" class="alert alert-warning w-75 mx-auto m-2"
               role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ indexTableError }}
          </div>
          <div class="table-wrapper indexes-table" *ngIf="!isTableInfoLoading && !indexTableError">
            <div class="table-header grid-container table-header-row">
              <div>KeyName</div>
              <div>Type</div>
              <div>Unique</div>
              <div>Packed</div>
              <div>Column</div>
              <div>Cardinality</div>
              <div>Collation</div>
              <div>Null</div>
              <div>Comment</div>
            </div>
            <div class="grid-container-wrapper" *ngFor="let ind of tableInfo?.Index | mapToIterable">
              <div class="table-body grid-container" *ngFor="let row of ind.val; let isFirst = first">
                <div>
                  <div *ngIf="isFirst">{{ row.KeyName }}</div>
                </div>
                <div>
                  <div *ngIf="isFirst">{{ row.IndexType }}</div>
                </div>
                <div>
                  <div *ngIf="isFirst">{{ row.NonUnique === false ? 'Yes' : 'No' }}</div>
                </div>
                <div>
                  <div *ngIf="isFirst">{{ row.Packed ? 'Yes' : 'No' }}</div>
                </div>
                <div>{{ row.ColumnName }}</div>
                <div>{{ row.Cardinality }}</div>
                <div>{{ row.Collation }}</div>
                <div>{{ row.Null ? 'Yes' : 'No' }}</div>
                <div>
                  <div *ngIf="isFirst">{{ row.Comment }}</div>
                </div>
              </div>
              <div *ngIf="tableInfo?.Index?.length === 0">No data.</div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</div>
