button {
  cursor: pointer;
}

.metrics {
  table-layout: auto;

  .rate-sec {
    width: 12%;
  }

  .rate-load {
    padding-right: 20px;
    width: 10%;
  }

  .query-stats {
    width: 20%;
  }
}

.w-10 {
  width: 10%;
}

.explain-button {
  width: 8em;
}

.accordion-title {
  min-height: 38px;
  height: 100%;
}

.code-output {
  margin: 1rem;
}

.copy-btn {
  float: right;
}

.data-output {
  padding-left: 1rem;
}
