<ng-container *ngIf="details.length">
  <div class="query-info">
    <span class="query-info__item">{{dimension || 'TOTAL'}}</span>
    <span class="query-info__item">{{fingerprint}}</span>
  </div>
  <ngb-tabset class="pmm-grafana-tabset">
    <ngb-tab title="Details">
      <ng-template ngbTabContent>
        <section class="details-output">
          <div class="grid-table">
            <header class="grid-table__row grid-table__row--metrics">
              <span>Metrics</span>
              <span>Rate/Sec</span>
              <span>Sum</span>
              <span>Per Query Stats</span>
            </header>
            <app-details-row *ngFor="let detail of details" [currentMetric]="detail"></app-details-row>
          </div>
          <app-details-labels></app-details-labels>
        </section>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Examples">
      <ng-template ngbTabContent>
        <app-details-examples *ngFor="let exampleParam of exampleParams" [exampleParam]="exampleParam"></app-details-examples>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</ng-container>
