<app-details-fingerprint></app-details-fingerprint>
<ngb-tabset class="pmm-grafana-tabset">
  <ngb-tab title="Details">
    <ng-template ngbTabContent>
      <section class="details-output">
        <app-details-table (finishRender)="onFinishDetailsTableRender($event)"></app-details-table>
        <app-details-labels class="labels-wrapper" #labels></app-details-labels>
      </section>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="!isTotal" title="Examples">
    <ng-template ngbTabContent>
      <app-examples-viewer></app-examples-viewer>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="!isTotal" title="Explain">
    <ng-template ngbTabContent>
      <app-explain></app-explain>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="!isTotal" title="Tables">
    <ng-template ngbTabContent>
      <app-tables></app-tables>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
