<span class="row__item">{{currentMetric.metricName}}</span>
<div class="row__item row__cells">
  <span [class.unit.unit--per-sec]="isRate">
    {{ isRate ? (currentMetric?.stats?.rate | humanize: ratePipe) : '-' }}
  </span>
  <div *ngIf="currentMetric?.sparkline.length"
       [appLoadPolygonChart]="currentMetric.sparkline"
       [width]="150"
       class="scaling-svg-container app-tooltip"
       xkey="timestamp" ykey="pointValue"
       measurement="number">
<!--    todo: check measurement type-->
  </div>
</div>
<div class="row__item">
    <span>
      {{isSum ? (currentMetric?.stats?.sum | humanize: sumPipe) : '-' }}
    </span>
</div>
<div class="row__item row__cells">
    <span [class.unit.unit--avg]="isStats">
      {{ isStats ? (currentMetric?.stats?.avg | humanize: perQueryStatsPipe) : '-' }}
    </span>

  <div *ngIf="isLatencyChart"
       [appLatencyChart]="currentMetric.stats"
       [measurement]="perQueryStatsPipe"
       class="scaling-svg-container app-tooltip"
       data-tooltip="Loading...">
  </div>
</div>
