<span class="row__item">{{currentMetric.metricName}}</span>
<div class="row__item row__cells">
    <span class="unit unit--per-sec">
      {{ currentMetric?.stats?.rate | humanize: ratePipe }}
    </span>
  <!--  <div [appLoadSparklines]="queryDetails?.Sparks2" class="scaling-svg-container app-tooltip"-->
  <!--       data-tooltip="Loading..." xkey="Ts" ykey="Query_count_per_sec" measurement="number">-->
  <!--  </div>-->
</div>
<div class="row__item">
    <span>
    {{currentMetric?.stats?.sum | humanize: sumPipe }}
      <!--    <small *ngIf="!isSummary" class="highlight-content">-->
      <!--      {{ queryDetails?.Metrics2?.Query_count_of_total | humanize : 'percent' }} of total-->
      <!--    </small>-->
    </span>
</div>
<div class="row__item row__cells">
    <span class="unit unit--avg">
      {{ currentMetric?.stats?.avg | humanize: perQueryStatsPipe }}
    </span>
  <div *ngIf="isLatencyChart"
       [appLatencyChart]="currentMetric.stats"
       [measurement]="perQueryStatsPipe"
       class="scaling-svg-container app-tooltip"
       data-tooltip="Loading...">
  </div>
</div>
