:host {
  display: grid;
  grid-template-columns: 15% 25% 35% 25%;
  align-items: center;
  height: 100%;
  color: inherit;
  background-color: var(--row-background, transparent);
  outline: none;
}

.row__item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.row__item:not(:last-child) {
  border-right: 1px solid var(--main-border-color);
}

.tooltip-question {
  cursor: pointer;
  margin-top: -10px;
  margin-left: 5px;
  font-size: 16px;
}

.total-percent {
  margin-left: 5px;
  color: var(--main-highlight-color);
}

.complex-metric {
  margin-left: 5px;
  color: #288031;
}
