<div class="container">
  <div class="row justify-content-md-center">
    <h3>AWS Credentials</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="form-group">
          <input type="text" [(ngModel)]="rdsCredentials.aws_access_key_id" name="aws_access_key_id" class="form-control" id="aws_access_key_id"
            placeholder="AWS_ACCESS_KEY_ID">
        </div>
      </div>
      <div class="col-5">
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="rdsCredentials.aws_secret_access_key" name="aws_secret_access_key"
            id="aws_secret_access_key" aria-describedby="aws_secret_access_key" placeholder="AWS_SECRET_ACCESS_KEY">
        </div>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Discover</button>
      </div>
    </div>
  </form>
  <div class="row justify-content-end">
    <a href="https://www.percona.com/doc/percona-monitoring-and-management/amazon-rds.html#essential-aws-settings-for-monitoring-amazon-rds-db-instances-in-pmm" target="_blank">Where do I get the security credentials for my Amazon RDS DB instance?</a>
  </div>
  <div class="row justify-content-md-center" *ngIf="isLoading && !allRDSInstances?.length">
    <div>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="allRDSInstances?.length">
    <h3>RDS Instances</h3>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-warning w-75 mx-auto m-2" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  {{ errorMessage }}
</div>

<form (ngSubmit)="onConnect()">
  <div class="d-flex justify-content-center" *ngIf="allRDSInstances?.length">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Region</th>
          <th scope="col">Endpoint</th>
          <th scope="col">Engine</th>
          <th scope="col">Enabled</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-instance [ngForOf]="allRDSInstances" let-i="index" let-odd="odd">
          <tr [ngClass]="{'right top left active': showConnect(instance.node)}">
            <th scope="row">{{ instance.node.name }}</th>
            <td>{{ instance.node.region }}</td>
            <td>{{ instance.service.address }}:{{ instance.service.port }}</td>
            <td>{{ instance.service.engine }} v{{ instance.service.engine_version }}</td>
            <td align="center">
		    <a *ngIf="isEnabled(instance)" href="javascript:void(0)" title="Enabled"
	               (click)="disableInstanceMonitoring(instance.node);">
                <i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i>
              </a>
              <a *ngIf="!isEnabled(instance)" href="javascript:void(0)" title="Disabled" (click)="enableInstanceMonitoring(instance.node);">
                <i class="fa fa-toggle-off fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="showConnect(instance.node)" class="right bottom left active">
            <td colspan="2">
              <div class="form-group">
                <input type="text" [(ngModel)]="mysqlCredentials.username" name="username" class="form-control" placeholder="MySQL username">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="password" [(ngModel)]="mysqlCredentials.password" name="password" class="form-control" placeholder="MySQL Password">
              </div>
            </td>
            <td colspan="2">
              <button type="submit" [disabled]="isDemo"  class="btn btn-primary">Connect</button>
              <button type="cancel" (click)="cancel()" class="btn btn-primary">Cancel</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</form>
