.top {
    border-top: thin solid;
    border-color: #27B2E5;
  }
  
.bottom {
    border-bottom: thin solid;
    border-color: #27B2E5;
}

.left {
    border-left: thin solid;
    border-color: #27B2E5;
}

.right {
    border-right: thin solid;
    border-color: #27B2E5;
}