<div class="container-fluid">
  <app-nav *ngIf="!hideNav"></app-nav>
  <main [ngClass]="{'no-nav': hideNav }">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="row">
      <div class="col-md-2">
      <a href="javascript:void(0);" (click)="toggleTheme();"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-10">
        <div class="pull-right text-muted">
          <small>{{ version }}</small>
        </div>
      </div>
    </div>
  </footer>
</div>
