@media screen {

    footer {
        height: 30px;
        background-image: url(../assets/pmm-logo.svg);
        background-repeat: no-repeat;
        background-position-x: 97%;
        background-size: 2%;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
}



@media printer {
    footer {
        display: none;
    }
}