.cell-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  font-weight: 100;
}

.cell-inner > *:not(:last-child) {
  margin-right: 15px;
}
