<header class="section-title" *ngIf="!isSummary">
  <h3 class="d-flex justify-content-between w-100">
    <span class="query-abstract">{{ queryDetails?.Query?.Abstract }}</span>
    <span class="query-id">{{ queryDetails?.Query?.Id }}</span>
  </h3>
</header>
<section class="server-summary">
  <header>
    <h3 *ngIf="isSummary" class="d-inline">
      Server Summary
    </h3>
  </header>
  <ngb-accordion>
    <ngb-panel id="metrics-table" class="accordion-inner-table">
      <ng-template ngbPanelTitle>
        <h5>Metrics</h5>
        <span *ngIf="!isSummary">
        Query first seen:<span class="first-seen">{{ firstSeen }}</span>
        Last seen: <strong>{{ lastSeen }}</strong>
      </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="table-wrapper metrics-table">
          <div class="table-header grid-container">
            <div>Metrics</div>
            <div>Rate/Sec</div>
            <div>Sum</div>
            <div>Per Query Stats</div>
          </div>
          <div class="table-body" *ngIf="!isLoading">
            <div class="table-body-row grid-container">
              <div class="cell-overlay"><span>Query Count</span></div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_count_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Query_count_per_sec" measurement="number">
                </div>
              </div>
              <div class="cell-overlay">
                <span>{{ queryDetails?.Metrics2?.Query_count | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Query_count_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     data-tooltip="Loading..."
                     [appLatencyChart]="queryDetails?.Metrics2"
                     measurement="time"
                     metricPrefix="Query_time">
                </div>
              </div>
            </div>
            <div class="table-body-row grid-container">
              <div class="cell-overlay"><span>Query Time</span></div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_sum_per_sec | humanize : 'number' }} load
                    ({{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }})
                  </span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Query_time_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="cell-overlay">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Query_time_sum | humanize : 'time' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip"
                     data-tooltip="Loading..."
                     [appLatencyChart]="queryDetails?.Metrics2"
                     measurement="time"
                     metricPrefix="Query_time">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Rows_sent_sum" class="table-body-row grid-container">
              <div class="cell-overlay"><span>Docs Returned</span></div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_sent_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Rows_sent_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="cell-overlay">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Rows_sent_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Rows_sent_sum_of_total | humanize : 'percent' }} of total
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_sent_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_sent">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Bytes_sent_sum" class="table-body-row grid-container">
              <div class="cell-overlay"><span>Response Length</span></div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Bytes_sent_sum_per_sec | humanize : 'size' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Bytes_sent_sum_per_sec" measurement="size">
                </div>
              </div>
              <div class="cell-overlay">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Bytes_sent_sum | humanize : 'size' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Bytes_sent_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success" ng-if="queryDetails?.Metrics2?.Bytes_sent_sum_per_rows">
                      {{ queryDetails?.Metrics2?.Bytes_sent_sum_per_rows | humanize : 'size' }} bytes/row
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Bytes_sent_avg | humanize : 'size' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Bytes_sent">
                </div>
              </div>
            </div>
            <div *ngIf="queryDetails?.Metrics2?.Rows_examined_sum" class="table-body-row grid-container">
              <div class="cell-overlay"><span>Docs Scanned</span></div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_examined_sum_per_sec | humanize : 'number' }} (per sec)</span>
                </div>
                <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                     data-tooltip="Loading..." xkey="Ts" ykey="Rows_examined_sum_per_sec" measurement="number">
                </div>
              </div>
              <div class="cell-overlay">
                <span class="sum text-left">{{ queryDetails?.Metrics2?.Rows_examined_sum | humanize : 'number' }}
                  <small>
                    <span *ngIf="!isSummary" class="text-primary">
                      {{ queryDetails?.Metrics2?.Rows_examined_sum_of_total | humanize : 'percent' }} of total
                    </span>
                    <span class="text-success">
                      {{ queryDetails?.Metrics2?.Rows_examined_sum_per_rows | humanize : 'number' }} per row sent
                    </span>
                  </small>
                </span>
              </div>
              <div class="flex-container">
                <div class="cell-overlay justify-content-start">
                  <span>{{ queryDetails?.Metrics2?.Rows_examined_avg | humanize : 'number' }}&nbsp;avg</span>
                </div>
                <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                     [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_examined">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>

<!--- additional info for query only-->
<div class="sections-wrapper" *ngIf="!isSummary">
  <section class="query">
    <header class="section-title">
      <h3 class="d-flex">QUERY</h3>
    </header>
    <ngb-accordion activeIds="query-fingerprint">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <h5>Fingerprint</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="data-output">
            <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            <pre *ngIf="!isLoading"><code [innerHTML]="fingerprint"></code></pre>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel *ngIf="!!queryExample" class="query-example query-panel">
        <ng-template ngbPanelTitle class="ngb-panel-title">
          <h5 class="title">Example</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="data-output">
            <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            <pre *ngIf="!isLoading"><code [innerHTML]="queryExample"></code></pre>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
  <section class="explain" *ngIf="!!queryExample">
    <header class="section-title">
      <h3>EXPLAIN</h3>
      <form class="search-input explain-search-input">
        <i class="fa fa-database" aria-hidden="true"></i>
        <input type="text" class="form-control"
               [(ngModel)]="dbName" [ngModelOptions]="{standalone: true}"
               id="databaseInput" placeholder="`database-name`">
        <button class="btn btn-primary search-button" [disabled]="!dbName" (click)="getExplain();" type="submit">
          EXPLAIN
        </button>
      </form>
    </header>
    <ngb-accordion activeIds="classic-explain" *ngIf="!!queryExample" class="accordion-inner-table">
      <ngb-panel id="json-explain" *ngIf="!!jsonExplain || !!errExplain">
        <ng-template ngbPanelTitle>
          <h5>JSON</h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div class="data-output">
            <app-json-tree [json]="jsonExplain" *ngIf="!isExplainLoading && !errExplain"></app-json-tree>
          </div>
          <div *ngIf="!isExplainLoading && errExplain" class="alert alert-warning w-75 mx-auto m-2" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ errExplain }}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</div>
