<header class="section-title" *ngIf="!isSummary">
  <h3 class="d-flex justify-content-between w-100">
    <span class="query-abstract">{{ queryDetails?.Query?.Abstract }}</span>
    <span class="query-id">{{ queryDetails?.Query?.Id }}</span>
  </h3>
</header>
<section class="server-summary" *ngIf="!!isSummary || !!queryDetails?.Metrics2">
  <header class="section-title" *ngIf="isSummary">
    <h3 class="d-inline summary-header">Server Summary</h3>
  </header>
  <ngb-accordion activeIds="accordionIds.serverSummary">
    <ngb-panel id="metrics-table" class="accordion-inner-table">
      <ng-template ngbPanelTitle>
        <div class="card-header__content">
          <h5 class="card-header__title">Metrics</h5>
          <span *ngIf="!isSummary" class="first-seen-range">
            Query first seen: <strong class="first-seen-time" [class.first-seen]="isFirstSeen">{{ firstSeen }}</strong>
            Last seen: <strong>{{ lastSeen }}</strong>
          </span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <section *ngIf="!isLoading" class="grid-table grid-table--no-frame">
          <header class="grid-table__row grid-table__row--metrics grid-table__row--highlight">
            <span>Metrics</span>
            <span>Rate/Sec</span>
            <span>Sum</span>
            <span>Per Query Stats</span>
          </header>
          <div class="grid-table__row grid-table__row--metrics">
            <span>Query Count</span>
            <div class="row__cells">
              <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Query_count_per_sec | humanize : 'number' }}</span>
              <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                   data-tooltip="Loading..." xkey="Ts" ykey="Query_count_per_sec" measurement="number">
              </div>
            </div>
            <div>
              <span>{{ queryDetails?.Metrics2?.Query_count | humanize : 'number' }}
                <small *ngIf="!isSummary" class="text-primary">
                  {{ queryDetails?.Metrics2?.Query_count_of_total | humanize : 'percent' }} of total
                </small>
              </span>
            </div>
            <div class="row__cells">
              <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}</span>
              <div class="scaling-svg-container app-tooltip"
                   data-tooltip="Loading..."
                   [appLatencyChart]="queryDetails?.Metrics2"
                   measurement="time"
                   metricPrefix="Query_time">
              </div>
            </div>
          </div>
          <div class="grid-table__row grid-table__row--metrics">
            <span>Query Time</span>
            <div class="row__cells">
              <div class="overlay-container">
                <span class="overlay-container__item">
                  {{ queryDetails?.Metrics2?.Query_time_sum_per_sec | humanize : 'number' }} load
                  (<span>{{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }}</span>)
                </span>
              </div>
              <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                   data-tooltip="Loading..." xkey="Ts" ykey="Query_time_sum_per_sec" measurement="number">
              </div>
            </div>
            <div>
              <span>{{ queryDetails?.Metrics2?.Query_time_sum | humanize : 'time' }}
                <small *ngIf="!isSummary" class="text-primary">
                  {{ queryDetails?.Metrics2?.Query_time_sum_of_total | humanize : 'percent' }} of total
                </small>
              </span>
            </div>
            <div class="row__cells">
              <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Query_time_avg | humanize : 'time' }}</span>
              <div class="scaling-svg-container app-tooltip"
                   data-tooltip="Loading..."
                   [appLatencyChart]="queryDetails?.Metrics2"
                   measurement="time"
                   metricPrefix="Query_time">
              </div>
            </div>
          </div>
          <div *ngIf="queryDetails?.Metrics2?.Rows_sent_sum" class="grid-table__row grid-table__row--metrics">
            <span>Docs Returned</span>
            <div class="row__cells">
              <div class="overlay-container">
                <span class="unit unit--per-sec overlay-container__item">
                  {{ queryDetails?.Metrics2?.Rows_sent_sum_per_sec | humanize : 'number' }}
                </span>
              </div>
              <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                   data-tooltip="Loading..." xkey="Ts" ykey="Rows_sent_sum_per_sec" measurement="number">
              </div>
            </div>
            <div>
              <span>
                {{ queryDetails?.Metrics2?.Rows_sent_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="text-primary">
                    {{ queryDetails?.Metrics2?.Rows_sent_sum_of_total | humanize : 'percent' }}of total
                  </span>
                </small>
              </span>
            </div>
            <div class="row__cells">
              <span class="unit unit unit--avg">{{ queryDetails?.Metrics2?.Rows_sent_avg | humanize : 'number' }}</span>
              <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                   [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_sent">
              </div>
            </div>
          </div>
          <div *ngIf="queryDetails?.Metrics2?.Bytes_sent_sum" class="grid-table__row grid-table__row--metrics">
            <span>Response Length</span>
            <div class="row__cells">
              <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Bytes_sent_sum_per_sec | humanize : 'size' }}</span>
              <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                   data-tooltip="Loading..." xkey="Ts" ykey="Bytes_sent_sum_per_sec" measurement="size">
              </div>
            </div>
            <div>
              <span>{{ queryDetails?.Metrics2?.Bytes_sent_sum | humanize : 'size' }}
                <small>
                  <span *ngIf="!isSummary" class="text-primary">
                    {{ queryDetails?.Metrics2?.Bytes_sent_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="text-success" ng-if="queryDetails?.Metrics2?.Bytes_sent_sum_per_rows">
                    {{ queryDetails?.Metrics2?.Bytes_sent_sum_per_rows | humanize : 'size' }} bytes/row
                  </span>
                </small>
              </span>
            </div>
            <div class="row__cells">
              <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Bytes_sent_avg | humanize : 'size' }}</span>
              <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="size"
                   [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Bytes_sent">
              </div>
            </div>
          </div>
          <div *ngIf="queryDetails?.Metrics2?.Rows_examined_sum" class="grid-table__row grid-table__row--metrics">
            <span>Docs Scanned</span>
            <div class="row__cells">
              <span class="unit unit--per-sec">{{ queryDetails?.Metrics2?.Rows_examined_sum_per_sec | humanize : 'number' }}</span>
              <div class="scaling-svg-container app-tooltip" [appLoadSparklines]="queryDetails?.Sparks2"
                   data-tooltip="Loading..." xkey="Ts" ykey="Rows_examined_sum_per_sec" measurement="number">
              </div>
            </div>
            <div>
              <span>{{ queryDetails?.Metrics2?.Rows_examined_sum | humanize : 'number' }}
                <small>
                  <span *ngIf="!isSummary" class="text-primary">
                    {{ queryDetails?.Metrics2?.Rows_examined_sum_of_total | humanize : 'percent' }} of total
                  </span>
                  <span class="text-success">
                    {{ queryDetails?.Metrics2?.Rows_examined_sum_per_rows | humanize : 'number' }} per row sent
                  </span>
                </small>
              </span>
            </div>
            <div class="row__cells">
              <span class="unit unit--avg">{{ queryDetails?.Metrics2?.Rows_examined_avg | humanize : 'number' }}</span>
              <div class="scaling-svg-container app-tooltip" data-tooltip="Loading..." measurement="number"
                   [appLatencyChart]="queryDetails?.Metrics2" metricPrefix="Rows_examined">
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>

<!--- additional info for query only-->
<div class="sections-wrapper" *ngIf="!isSummary">
  <section class="query" *ngIf="!!fingerprint || !!queryExample">
    <header class="section-title">
      <h3 class="d-flex">QUERY</h3>
    </header>
    <ngb-accordion activeIds="accordionIds.querySection">
      <ngb-panel *ngIf="!!fingerprint" id="query-fingerprint">
        <ng-template ngbPanelTitle>
          <header class="card-header__content">
            <h5 class="card-header__title">Fingerprint</h5>
          </header>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div *ngIf="!isLoading" class="card-body__content">
            <pre class="content__text"><code [innerHTML]="fingerprint"></code></pre>
            <button class="button button--inside button--fixed button--copy"
                    id="copyFingerprint"
                    ngxClipboard
                    [cbContent]="fingerprint"
                    (cbOnSuccess)="showSuccessNotification('fingerprint')"
                    [class.button--inside-active]="isCopied.fingerprint">
              Copy to clipboard
            </button>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel *ngIf="!!queryExample" class="query-example query-panel">
        <ng-template ngbPanelTitle class="ngb-panel-title">
          <header class="card-header__content">
            <h5 class="card-header__title">Example</h5>
          </header>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div class="card-body__content" *ngIf="!isLoading">
            <pre class="content__text"><code [innerHTML]="queryExample"></code></pre>
            <button class="button button--inside button--fixed button--copy"
                    id="copyQueryExample"
                    ngxClipboard
                    [cbContent]="queryDetails.Example.Query"
                    (cbOnSuccess)="showSuccessNotification('queryExample')"
                    [class.button--inside-active]="isCopied.queryExample">
              Copy to clipboard
            </button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
  <section *ngIf="!!queryExample || !!jsonExplain || !!explainError" class="explain">
    <header class="card-header__content">
      <h3 class="card-header__title">EXPLAIN</h3>
      <form class="search-input explain-search-input">
        <i class="fa fa-database" aria-hidden="true"></i>
        <input [(ngModel)]="dbName"
               [ngModelOptions]="{standalone: true}"
               type="text" class="form-control"
               id="databaseInput" placeholder="`database-name`">
        <button
          [disabled]="!dbName"
          (click)="getExplain();"
          type="submit" class="search-button">
          EXPLAIN
        </button>
      </form>
    </header>
    <ngb-accordion *ngIf="!!queryExample" activeIds="accordionIds.explainSection" class="accordion-inner-table">
      <ngb-panel *ngIf="!!jsonExplain || !!errExplain" id="json-explain">
        <ng-template ngbPanelTitle>
          <div class="accordion-title">
            <h5>JSON</h5>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
          <div class="card-body__content" *ngIf="!isExplainLoading && !explainError">
            <app-json-tree [json]="explainJson"></app-json-tree>
            <button class="button button--inside button--fixed button--copy"
                    id="copyJson"
                    ngxClipboard
                    [cbContent]="jsonExplainString"
                    (cbOnSuccess)="showSuccessNotification('jsonExplain')"
                    [class.button--inside-active]="isCopied.jsonExplain">
              Copy to clipboard
            </button>
          </div>
          <div *ngIf="!isExplainLoading && explainError"
               class="alert alert-warning w-75 mx-auto m-2" role="alert">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ explainError }}
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
</div>
