section.explain {
  display: flex;
  flex-direction: column;

}

.metrics-table {

  .grid-container {
    grid-template-columns: 2fr 2fr 3fr 2fr;

    & > div:not(:last-child) {
      border-right: 2px solid #292929;
    }

    .cell-overlay {
      height: 100%;
    }
  }

  .grid-container:not(:last-child) {
    border-bottom: 2px solid #292929;
    height: 100%;
  }

}

.explain-search-input {
  position: relative;

  i {
    position: absolute;
    left: 10px;
  }

  .form-control {
    padding: 10px 85px 10px 30px;
    color: #ffffff;
  }
}
