<div class="column-configuration">
  <button (click)="isConfigurationMenu = !isConfigurationMenu" class="button column-configuration__toggle-button">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Edit columns
  </button>
  <div *ngIf="isConfigurationMenu" class="column-configuration__menu">
    <span class="triangle"></span>

    <form class="query-search query-search--clicked column-configuration__search">
      <input [(ngModel)]="searchValue" name="searchValue"
             [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isSearchQuery"
             class="input-field query-search__input column-configuration__input"
             type="text" placeholder="Type to search">
      <button class="query-search__button column-configuration__button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="column-configuration__menu-options">
      <!--Load parameters-->
      <div>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('load', 'checked')"
                 [checked]="columns[0].checked"
                 class="checkbox-container__main-input">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Load</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('load', 'sparkline')"
                 [checked]="columns[0].sparkline"
                 [disabled]="!columns[0].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Sparkline</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('load', 'value')"
                 [checked]="columns[0].value"
                 [disabled]="!columns[0].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Value</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('load', 'percentage')"
                 [checked]="columns[0].percentage"
                 [disabled]="!columns[0].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Percentage</span>
        </label>
      </div>

      <!--Count parameters-->
      <div>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('count', 'checked')"
                 [checked]="columns[1].checked"
                 class="checkbox-container__main-input">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Count</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('count', 'sparkline')"
                 [checked]="columns[1].sparkline"
                 [disabled]="!columns[1].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Sparkline</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('count', 'queriesPerSecond')"
                 [checked]="columns[1].queriesPerSecond"
                 [disabled]="!columns[1].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Queries per second</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('count', 'value')"
                 [checked]="columns[1].value"
                 [disabled]="!columns[1].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Value</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('count', 'percentage')"
                 [checked]="columns[1].percentage"
                 [disabled]="!columns[1].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Percentage</span>
        </label>
      </div>

      <!--Avg Latency parameters-->
      <div>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('latency', 'checked')"
                 [checked]="columns[2].checked"
                 class="checkbox-container__main-input">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Latency</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('latency', 'sparkline')"
                 [checked]="columns[2].sparkline"
                 [disabled]="!columns[2].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Sparkline</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('latency', 'value')"
                 [checked]="columns[2].value"
                 [disabled]="!columns[2].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Value</span>
        </label>
        <label class="checkbox-container">
          <input type="checkbox"
                 (change)="configService.toggleConfig('latency', 'distribution')"
                 [checked]="columns[2].distribution"
                 [disabled]="!columns[2].checked">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">Distribution</span>
        </label>
      </div>
    </div>
  </div>
</div>
