.column-configuration__menu-options {
  font-size: 14px;
}

.column-configuration__menu-options > * {
  display: grid;
  grid-template-columns: 10em repeat(auto-fit, minmax(1px, max-content));
  grid-column-gap: 1em;
  align-items: center;

  font-size: 1em;
  border-bottom: 0.1em solid var(--page-background);
}

.checkbox-container:not(:last-of-type) {
  padding: 15px 0;
}

/* Styles for first checkbox*/
.checkbox-container:first-of-type {
  font-weight: 700;
}

/* Styles for main (first) checkbox when it is unchecked*/
.checkbox-container__main-input ~ span {
  opacity: 0.6;
}

/* Styles for main (first) checkbox when it is checked*/
.checkbox-container__main-input:checked ~ span {
  opacity: 1;
}

/* Disabled styles */
input:disabled ~ .checkbox-container__checkmark,
input:disabled ~ .checkbox-container__label-text {
  opacity: 0.6;
}

.search {
  margin-bottom: var(--main-bottom-indent);
}
