<div class="column-configuration">
  <button (click)="isConfigMenu = !isConfigMenu" class="button column-configuration__toggle-button">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Edit columns
  </button>
  <div *ngIf="isConfigMenu" class="column-configuration__menu" id="configurationMenuWrapper">
    <span class="triangle"></span>

    <form class="search search--no-border">
      <input (keyup)="findConfigs(configSearchValue)"
             [(ngModel)]="configSearchValue"
             name="searchValue"
             class="search__input input-field"
             type="text" placeholder="Type to search">
      <button class="search__button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="column-configuration__menu-options" id="configurationMenu">
      <ng-container *ngFor="let config of configSearchValues">
        <label *ngIf="config.columns.length" class="checkbox-container checkbox-container--main">
          <input (change)="setConfig($event, config)"
                 [(ngModel)]="config.checked"
                 [ngClass]="mainCheckboxClass"
                 type="checkbox">
          <span class="checkbox-container__checkmark"></span>
          <span class="checkbox-container__label-text">{{config.name}}</span>
        </label>

        <div *ngIf="config.columns.length" class="column-configs-wrapper">
          <label *ngFor="let column of config.columns" class="checkbox-container">
            <input (change)="setConfig($event, config)"
                   [(ngModel)]="column.value"
                   [disabled]="!config.checked"
                   type="checkbox">
            <span class="checkbox-container__checkmark"></span>
            <span class="checkbox-container__label-text">{{column.name}}</span>
          </label>
        </div>
      </ng-container>
      <span *ngIf="!configSearchValues.length" class="menu-options__no-items">No items found...</span>
    </div>
  </div>
</div>
