:host {
  --lr-configs-indent: 1.3em;
  --height-configs-row: 3.5em;
  margin-left: auto;
}

.column-configuration__menu-options {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: var(--height-configs-row);
  grid-auto-rows: var(--height-configs-row);
  align-items: center;

  font-size: 14px;
}

.column-configuration__menu-options > * {
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--page-background);
}

.column-configuration__menu-options > .menu-options__no-items {
  display: flex;
  border: none;
}

.column-configs-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
  grid-column-gap: var(--lr-configs-indent);
}

.checkbox-container--main {
  grid-column: 1 / 2;
  padding-right: calc(var(--lr-configs-indent) + 10px);
  font-weight: 700;
}

.search {
  margin-bottom: var(--main-bottom-indent);
}
