<!--Load-->
<div *ngIf=isLoad>
  <div *ngIf="selectedColumn?.sparkline"
       class="scaling-svg-container app-tooltip"
       [appLoadSparklines]="row.Log"
       data-tooltip="Loading..."
       xkey="Start_ts" ykey="Query_load"
       measurement="number">
  </div>
  <span *ngIf="selectedColumn?.value">{{ row.Load | humanize : 'number' }}</span>
</div>
<div *ngIf="isLoad && selectedColumn?.percentage">
  <span>{{ row.Percentage | humanize : 'percent' }}</span>
</div>

<!--Count-->
<div *ngIf="isCount">
  <div *ngIf="selectedColumn?.sparkline"
       class="scaling-svg-container app-tooltip"
       [appLoadSparklines]="row.Log"
       data-tooltip="Loading..."
       xkey="Start_ts" ykey="Query_count"
       measurement="number">
  </div>
  <span *ngIf="selectedColumn?.queriesPerSecond" class="unit unit--qps">{{row.QPS | humanize : 'number'}}</span>
</div>
<div *ngIf="isCount">
  <span *ngIf="selectedColumn?.value">{{row.Stats.Cnt | humanize : 'number'}}</span>
  <span *ngIf="selectedColumn?.percentage" class="unit unit--percent">{{ (row.Stats.Cnt / profileTotal?.Stats.Cnt * 100).toFixed(2) }}</span>
</div>

<!--Avg Latency-->
<div *ngIf="isLatency">
  <div *ngIf="selectedColumn?.sparkline"
       class="scaling-svg-container app-tooltip"
       [appLoadSparklines]="row.Log"
       data-tooltip="Loading..."
       xkey="Start_ts" ykey="Query_time_avg"
       measurement="time">
  </div>
  <div>
    <span *ngIf="selectedColumn?.value" class="unit unit--avg">{{ row.Stats.Avg | humanize }}</span>
  </div>
</div>
<div *ngIf="isLatency">
  <div *ngIf="selectedColumn?.distribution"
       class="scaling-svg-container scaling-svg-container--full-width app-tooltip"
       data-tooltip="Loading..."
       measurement="time"
       [appLatencyChart]="row.Stats">
  </div>
</div>
