<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Classic">
    <ng-template ngbPanelContent>
      <pre>{{ classicOutput }}</pre>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="JSON">
    <ng-template ngbPanelContent>
      <i *ngIf="isExplainLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
      <app-json-tree [json]="jsonOutput" *ngIf="!isExplainLoading"></app-json-tree>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Visual" >
    <ng-template ngbPanelContent>
      <pre>{{ visualOutput }}</pre>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
