<h3>RDS and remote instances</h3>
<section class="grid-table">
  <header class="grid-table__row">
    <span>Name</span>
    <span>Endpoint</span>
    <span>Region</span>
    <span>Engine</span>
    <span>Remove</span>
  </header>
  <div *ngFor="let instance of allInstances" class="grid-table__row">
    <span>{{ instance.node.name }}</span>
    <span>{{ instance.service.address }}:{{ instance.service.port }}</span>
    <span>{{ instance.node.region }}</span>
    <span>{{ instance.service.engine }}</span>
    <span>
      <span class="fa fa-trash-o" (click)="disableInstance(instance.node, instance.service)"></span>
    </span>
  </div>
</section>
