h3 {
  margin-bottom: 1.5rem;
}

.grid-table {
  display: grid;
  grid-template-rows: 25px;
  grid-auto-rows: minmax(40px, auto);
  border: 1px solid #292929;
}

.grid-table > *:not(:last-child) {
  border-bottom: 1px solid #292929;
}

.grid-table__row > *:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-table__row {
  display: grid;
  grid-template-columns: 2.5fr 6fr 1.5fr 2fr 80px;
}

.grid-table__row > * {
  display: flex;
  align-items: center;
  padding: 0 10px;
  word-break: break-all;
}

.grid-table__row > *:not(.row__cell--highlight) {
  border-right: 1px solid #292929;
}

.grid-table__row > *:last-child {
  border-right: none;
}

.row__cell--highlight {
  border: 1px solid white;
}

.fa.fa-trash-o {
  cursor: pointer;
  color: #444444;
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

.sort-icon {
  margin-left: 10px;
}
