<div class="grid-table" #table [hidden]="isLoading">
  <header class="grid-table__row grid-table__row--metrics">
    <span class="grid-table__row--title">Metric</span>
    <span class="grid-table__row--title">Rate/Second</span>
    <span class="grid-table__row--title">Total</span>
    <span class="grid-table__row--title">Per Query Stats</span>
  </header>
  <app-details-row *ngFor="let detail of details.metrics; let index = index"
                   [currentMetric]="detail"
                   #detailsTableRows>
  </app-details-row>
</div>
<i *ngIf="isLoading" class="fa fa-spinner fa-spin spinner"></i>
