<ngb-tabset class="pmm-grafana-tabset">
  <ngb-tab title="Table 1">
    <ng-template ngbTabContent>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="card-header__title">Table</h5>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="card-body__content">
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="card-header__title">Status</h5>
          </ng-template>
          <ng-template ngbPanelContent class="card-body">
            <div class="card-body__content">
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
