<div>
  <ng-select [searchable]="false"
             [(ngModel)]="selectedQueryColumn"
             [items]="metrics"
             [clearable]="false"
             bindLabel="humanizeName"
             #column
             class="pmm-select pmm-select--column">
    <ng-template ng-header-tmp>
      <input (input)="column.filter($event.target.value)" class="input-field" placeholder="Type to search">
      <button><img src="assets/search.svg" alt="search"></button>
    </ng-template>
    <ng-template ng-footer-tmp>
      <button (click)="removeColumn()">Remove this column</button>
    </ng-template>
  </ng-select>
</div>
