@media screen {

    .query-profile-table {
        table-layout: fixed;
    }

    .smart-query-abstract {
        width: 14em;
        white-space: nowrap;
    }

    .smart-id {
        width: 3em;
    }

    .cell-overlay {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    .cell-overlay>span:focus, .cell-overlay>span:hover {
        padding: 0 15px 0 0;
        overflow: visible;
        display: inline-block;
        position: absolute;
        z-index: 999;
        background: whitesmoke;
    }
}
