<div *ngIf="isQueryDataAbsent" class="alert alert-warning w-75 mx-auto text-center wrap no-data-message" role="alert">
  There is no any data from this host for this period. Maybe monitoring wasn't available at this moment. Please select
  wider period of time or wait for several minutes to collect some data
</div>
<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap invalid-name-message" role="alert">
  Host name is not valid, please click the Host dropdown and select a valid host. If the Host list is empty, use
  <code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a
  monitoring service,
  consult
  <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"
     target="blank">PMM documentation.</a>
</div>
<div *ngIf="dbServer !== null && dbServer !== undefined" class="content-wrapper">
  <section *ngIf="!noQueryError" class="queries-table-wrapper">
    <section class="configuration-panel">
      <p class="configuration-panel__title">
        Top {{ totalAmountOfQueries ? (queryProfile?.length - 1) : 0 }} of {{ totalAmountOfQueries }} Queries by % Grand Total Time (%GTT)
      </p>

      <div class="configuration-panel__options center-children">
        <span>Display</span>
        <label class="switcher">
          <input type="checkbox"
                 class="switcher__checkbox"
                 (change)="isFirstSeenChecked = !isFirstSeenChecked; getFirstSeen(isFirstSeenChecked);"
                 [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isFirstSeenChecked && !isSearchQuery">
          <span class="switcher__slider">
  	        <span class="switcher__option">All queries</span>
            <span class="switcher__option">First seen</span>
          </span>
        </label>
      </div>

      <form (submit)="search()" class="query-search query-search--clicked">
        <input [(ngModel)]="searchValue" name="searchValue"
               [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isSearchQuery"
               class="input-field query-search__input"
               type="text" placeholder="Search by query abstract, fingerprint or ID"
               id="search-input">
        <button class="query-search__button" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </section>

    <section class="configuration-panel configuration-panel--outlet">
      <ng-select
        [(ngModel)]="selected"
        [items]="configs"
        [disabled]="!configs.length"
        (change)="onConfigChanges(selected.name)"
        class="pmm-select"
        bindLabel="name"
        role="combobox">
      </ng-select>

      <app-qan-edit-column></app-qan-edit-column>
    </section>

    <!--todo: Delete after one of proof of concept will be accepted-->
    <div>
      <label class="switcher">
        <input (change)="isCropped = !isCropped"
               type="checkbox"
               class="switcher__checkbox">
        <span class="switcher__slider">
  	        <span class="switcher__option">Full</span>
            <span class="switcher__option">Cropped</span>
          </span>
      </label>
    </div>

    <table *ngIf="!isQuerySwitching" class="pmm-grid-table">
      <tr class="pmm-grid-table__row">
        <th class="pmm-grid-table__cell">#</th>
        <th class="pmm-grid-table__cell pmm-grid-table__cell--full">Query Abstract</th>
        <th *ngIf="selected && isQueryCol" class="pmm-grid-table__cell">
          <div class="cell__content--max">{{selected.name}}</div>
        </th>
        <th *ngIf="selected && isRowsScannedCol" class="pmm-grid-table__cell">
          <div class="cell__content--max">Rows Scanned</div>
        </th>
      </tr>
      <tr *ngFor="let row of queryProfile; let i = index;"
          [routerLink]="['./', 'report', dbServer.Subsystem]"
          [queryParams]="composeQueryParamsForGrid(row.Id)" routerLinkActive="pmm-grid-table__row--active"
          [class.pmm-grid-table__row--first-seen]="checkFirstSeen(row)"
          (click)="toggleQueryDetails()"
          class="pmm-grid-table__row">
        <td class="pmm-grid-table__cell">
          {{i || ''}}
        </td>
        <td class="pmm-grid-table__cell">
          <div>
            <button class="pmm-grid-table__details-button">
              {{ row.Rank ? (row.Abstract || 'Low Ranking Queries') : 'TOTAL' }}
            </button>
          </div>
        </td>
        <td *ngIf="selected && isQueryCol" class="pmm-grid-table__cell">
          <div [ngSwitch]="currentColumn" class="pmm-grid-table__sub-table">
            <div *ngIf="selectedConfig?.sparkline" class="scaling-svg-container app-tooltip"
                 [appLoadSparklines]="row.Log"
                 data-tooltip="Loading..."
                 xkey="Start_ts" ykey="{{yKey}}"
                 measurement="number"
                 id="loadSparkline">
            </div>
            <ng-container *ngSwitchCase="'Load'">
              <span *ngIf="selectedConfig?.value">
                {{ row.Load | humanize : 'number' }}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="'Count'" class="unit unit--qps" id="countQueriesPerSecond">
              <span *ngIf="selectedConfig?.queriespersecond">{{row.QPS | humanize : 'number'}}</span>
            </ng-container>

            <ng-container *ngSwitchCase="'Avg Latency'">
              <span *ngIf="selectedConfig?.value">{{ row.Stats.Avg | humanize }}</span>
            </ng-container>
            <ng-container *ngSwitchDefault></ng-container>
          </div>
        </td>
        <td *ngIf="selected && isRowsScannedCol" class="pmm-grid-table__cell">
          <div [ngSwitch]="currentColumn" class="pmm-grid-table__sub-table" id="rowsCanned">
            <ng-container *ngSwitchCase="'Load'">
              <span *ngIf="selectedConfig?.percentage">
                {{row.Percentage | humanize : 'percent'}}
              </span>
            </ng-container>

            <span *ngIf="currentColumn === 'Count' && selectedConfig?.value" id="countValue">
              {{row.Stats.Cnt | humanize : 'number'}}
            </span>

            <ng-container *ngSwitchCase="'Count'" class="unit unit--percent" id="countPercentage">
              <span *ngIf="selectedConfig?.percentage">{{(row.Stats.Cnt / profileTotal?.Stats.Cnt * 100).toFixed(2)}}</span>
            </ng-container>

            <ng-container *ngSwitchCase="'Avg Latency'">
              <div *ngIf="selectedConfig?.distribution"
                   [appLatencyChart]="row.Stats"
                   class="scaling-svg-container scaling-svg-container--full-width app-tooltip"
                   data-tooltip="Loading..."
                   measurement="time"
                   id="latencyDistribution">
              </div>
            </ng-container>

            <ng-container *ngSwitchDefault></ng-container>
          </div>
        </td>
      </tr>
    </table>

    <div class="center-children">
      <button *ngIf="totalAmountOfQueries && !isLoading"
              (click)="loadMoreQueries()"
              [disabled]="leftInDbQueries === 0"
              class="button button--dark button--big">
        {{quantityDbQueriesMessage}}
      </button>
      <div *ngIf="isLoading || isQuerySwitching" class="spinner-wrapper">
        <i class="fa fa-spinner fa-pulse fa-fw fa-40"></i>
      </div>
    </div>
  </section>

  <aside [class.query-details-wrapper--cropped]="isCropped && isQueryDetails"
         class="query-details-wrapper">
    <div class="query-details-wrapper__outlet" *ngIf="isQueryDetails">
      <router-outlet></router-outlet>
    </div>
  </aside>

  <div *ngIf="!!noQueryError" class="text-center alert alert-danger w-75 mx-auto wrong-configuration-message" role="alert">
    {{ noQueryError }}
  </div>

  <div *ngIf="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0" class="text-center">
    <div *ngIf="dbServer.Subsystem === 'mongo' && !isFirstSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mongo-queries">
      There is no query data because profiling is not enabled for the selected host. For information about how to
      enable profiling, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mongodb.html" target="blank">
        Configuring profiling in MongoDB
      </a>in PMM documentation.
    </div>
    <div *ngIf="dbServer.Subsystem === 'mysql' && !isFirstSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mysql-queries">
      There is no query data because the MySQL Server is not configured for monitoring. For details about the
      required configuration, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mysql.html" target="blank">
        Configuring MySQL for Percona Monitoring and Management
      </a>in PMM documentation.
    </div>
    <div *ngIf="isFirstSeenChecked && !isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries First Seen during the selected time range, try widening your time range.
    </div>
    <div *ngIf="isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries during the selected time range, try widening your time range.
    </div>
  </div>
</div>
