@media screen {

  .query-profile-table {
    table-layout: fixed;
  }

  .query-profile-table td {
    white-space: nowrap;
  }

  .wrap {
    white-space: normal;
  }

  #show_more {
    cursor: pointer;
  }
}
