<div *ngIf="isQueryDataAbsent" class="alert alert-warning w-75 mx-auto text-center wrap no-data-message" role="alert">
  There is no any data from this host for this period. Maybe monitoring wasn't available at this moment. Please select
  wider period of time or wait for several minutes to collect some data
</div>
<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap invalid-name-message" role="alert">
  Host name is not valid, please click the Host dropdown and select a valid host. If the Host list is empty, use
  <code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a
  monitoring service,
  consult
  <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"
     target="blank">PMM documentation.</a>
</div>
<div *ngIf="dbServer !== null && dbServer !== undefined" class="content-wrapper">
  <div *ngIf="!noQueryError" class="queries-viewer">
    <section class="configuration-panel">
      <!--<p class="configuration-panel__title">-->
      <!--Top {{ totalAmountOfQueries ? (queryProfile?.length - 1) : 0 }} of {{ totalAmountOfQueries }} Queries by % Grand Total Time (%GTT)-->
      <!--</p>-->

      <div class="configuration-panel__options center-children">
        <span>Display</span>
        <label class="switcher">
          <input type="checkbox"
                 class="switcher__checkbox"
                 (change)="isFirsSeenChecked = !isFirsSeenChecked; getFirstSeen(isFirsSeenChecked);"
                 [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isFirsSeenChecked && !isSearchQuery">
          <span class="switcher__slider">
  	        <span class="switcher__option">All queries</span>
            <span class="switcher__option">First seen</span>
          </span>
        </label>
      </div>

      <form (submit)="search()" class="query-search query-search--clicked">
        <input [(ngModel)]="searchValue" name="searchValue"
               [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isSearchQuery"
               class="input-field query-search__input"
               type="text" placeholder="Search by query abstract, fingerprint or ID"
               id="search-input">
        <button class="query-search__button" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </section>

    <section class="configuration-panel">
      <div class="configuration-panel__selects">
        <span>Top</span>
        <ng-select [(ngModel)]="selectedPaginationOption"
                   [items]="selectPaginationConfig"
                   [searchable]="isSearchable"
                   class="pmm-select pmm-select--pagination"
                   role="combobox">
        </ng-select>
        <span>by</span>
        <ng-select [(ngModel)]="selectedOption"
                   [items]="checkedColumns"
                   (change)="checkEmptyColumn(selectedOption)"
                   class="pmm-select"
                   bindLabel="name"
                   role="combobox">
        </ng-select>
      </div>

      <app-qan-edit-column></app-qan-edit-column>
    </section>

    <section *ngIf="!isQuerySwitching" class="grid-table queries-viewer__table" id="qanTable">
      <div *ngFor="let row of queryProfile | paginate: paginationConfig; let i = index; let first = first;"
           [routerLink]="['./', 'report', dbServer.Subsystem]"
           [queryParams]="composeQueryParamsForGrid(row.Id)" routerLinkActive="grid-table__row--active"
           [class.grid-table__row--load]="isLoad"
           [class.grid-table__row--count]="isCount"
           [class.grid-table__row--latency]="isLatency"
           [class.grid-table__row--first-seen]="checkFirstSeen(row)"
           class="grid-table__row grid-table__row--main grid-table__row--cursor">

        <!--Table header (displays only once)-->
        <span *ngIf="first" class="table-header-item">#</span>
        <span *ngIf="first" class="table-header-item">Query Abstract</span>
        <div *ngIf="!!selectedOption && isMainColumn && first" class="table-header-item"
             id="sparklineColumn">{{ selectedOption.name }}</div>
        <div *ngIf="!!selectedOption && isRowsScanned && first" class="table-header-item" id="rowsScannedColumn">Rows Scanned</div>
        <span *ngIf="first" class="schemas-column table-header-item">Schemas</span>
        <!--End of Table header-->

        <!--Table body-->
        <span class="row__number">{{ (paginationConfig.currentPage - 1) * paginationConfig.itemsPerPage + i || '' }}</span>
        <div class="overlay-container">
          <a href="javascript:;" class="row__link overlay-container__item" title="{{ row.Fingerprint }}" id="fingerprint">
            {{ row.Rank ? (row.Abstract || 'Low Ranking Queries') : 'TOTAL' }}
          </a>
        </div>

        <!--Load-->
        <div *ngIf="isLoad && isMainColumn" class="column-sparkline" id="loadSparklineColumn">
          <div *ngIf="selectedOption?.sparkline"
               class="scaling-svg-container app-tooltip"
               [appLoadSparklines]="row.Log"
               data-tooltip="Loading..."
               xkey="Start_ts" ykey="Query_load"
               measurement="number"
               id="loadSparkline">
          </div>
          <span *ngIf="selectedOption?.value" id="loadValue">
            {{ row.Load | humanize : 'number' }}
          </span>
        </div>
        <div *ngIf="isLoad && isRowsScanned" class="column-rows-scanned" id="loadRowsScannedColumn">
          <span id="loadPercentage">
            {{ row.Percentage | humanize : 'percent' }}
          </span>
        </div>
        <!--end of Load-->

        <!--Count-->
        <div *ngIf="isCount && isMainColumn" class="column-sparkline" id="countSparklineColumn">
          <div *ngIf="selectedOption?.sparkline"
               class="scaling-svg-container app-tooltip"
               [appLoadSparklines]="row.Log"
               data-tooltip="Loading..."
               xkey="Start_ts" ykey="Query_count"
               measurement="number"
               id="countSparkline">
          </div>
          <span *ngIf="selectedOption?.queriesPerSecond" class="unit unit--qps" id="countQueriesPerSecond">
            {{row.QPS | humanize : 'number'}}
          </span>
        </div>
        <div *ngIf="isCount && isRowsScanned" class="column-rows-scanned" id="countRowsScannedColumn">
          <span *ngIf="selectedOption?.value" id="countValue">
            {{row.Stats.Cnt | humanize : 'number'}}
          </span>
          <span *ngIf="selectedOption?.percentage" class="unit unit--percent" id="countPercentage">
            {{ (row.Stats.Cnt / profileTotal?.Stats.Cnt * 100).toFixed(2) }}
          </span>
        </div>
        <!--end of Count-->

        <!--Avg Latency-->
        <div *ngIf="isLatency && isMainColumn" class="column-sparkline" id="latencySparklineColumn">
          <div *ngIf="selectedOption?.sparkline"
               class="scaling-svg-container app-tooltip"
               [appLoadSparklines]="row.Log"
               data-tooltip="Loading..."
               xkey="Start_ts" ykey="Query_time_avg"
               measurement="time"
               id="latencySparkline">
          </div>
          <span *ngIf="selectedOption?.value" id="latencyValue">
            {{ row.Stats.Avg | humanize }}
          </span>
        </div>
        <div *ngIf="isLatency && isRowsScanned" class="column-rows-scanned" id="latencyRowsScannedColumn">
          <div *ngIf="selectedOption?.distribution"
               class="scaling-svg-container scaling-svg-container--full-width app-tooltip"
               data-tooltip="Loading..."
               measurement="time"
               [appLatencyChart]="row.Stats"
               id="latencyDistribution">
          </div>
        </div>
        <!--end of Avg Latency-->
        <div class="schemas-column" id="schemas">------------</div>

        <!--End of Table body-->
      </div>
    </section>

    <pagination-controls
      [autoHide]="paginationControlsConfig.isAutoHide"
      [previousLabel]="paginationControlsConfig.previousLabel"
      [nextLabel]="paginationControlsConfig.nextLabel"
      [maxSize]="5"
      (pageChange)="getPage($event)"
      class="pmm-pagination"></pagination-controls>

    <!--<div class="center-children">-->
    <!--<button *ngIf="totalAmountOfQueries && !isLoading"-->
    <!--(click)="loadMoreQueries()"-->
    <!--[disabled]="leftInDbQueries === 0"-->
    <!--class="button button&#45;&#45;dark button&#45;&#45;big">-->
    <!--{{quantityDbQueriesMessage}}-->
    <!--</button>-->
    <!--<div *ngIf="isLoading || isQuerySwitching" class="spinner-wrapper">-->
    <!--<i class="fa fa-spinner fa-pulse fa-fw fa-40"></i>-->
    <!--</div>-->
    <!--</div>-->
  </div>

  <router-outlet></router-outlet>

  <div *ngIf="!!noQueryError" class="text-center alert alert-danger w-75 mx-auto wrong-configuration-message" role="alert">
    {{ noQueryError }}
  </div>

  <div *ngIf="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0" class="text-center">
    <div *ngIf="dbServer.Subsystem === 'mongo' && !isFirsSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mongo-queries">
      There is no query data because profiling is not enabled for the selected host. For information about how to
      enable profiling, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mongodb.html" target="blank">
        Configuring profiling in MongoDB
      </a>in PMM documentation.
    </div>
    <div *ngIf="dbServer.Subsystem === 'mysql' && !isFirsSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mysql-queries">
      There is no query data because the MySQL Server is not configured for monitoring. For details about the
      required configuration, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mysql.html" target="blank">
        Configuring MySQL for Percona Monitoring and Management
      </a>in PMM documentation.
    </div>
    <div *ngIf="isFirsSeenChecked && !isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries First Seen during the selected time range, try widening your time range.
    </div>
    <div *ngIf="isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries during the selected time range, try widening your time range.
    </div>
  </div>
</div>
