<div *ngIf="isQueryDataAbsent" class="alert alert-warning w-75 mx-auto text-center wrap no-data-message" role="alert">
  There is no any data from this host for this period. Maybe monitoring wasn't available at this moment. Please select
  wider period of time or wait for several minutes to collect some data
</div>
<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap invalid-name-message" role="alert">
  Host name is not valid, please click the Host dropdown and select a valid host. If the Host list is empty, use
  <code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a
  monitoring service,
  consult
  <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"
     target="blank">PMM documentation.</a>
</div>
<div *ngIf="dbServer !== null && dbServer !== undefined" class="content-wrapper">
  <div *ngIf="!noQueryError" class="queries-viewer">
    <section class="configuration-panel">
      <p class="configuration-panel__title">
        Top {{ totalAmountOfQueries ? (queryProfile?.length - 1) : 0 }} of {{ totalAmountOfQueries }} Queries by % Grand Total Time (%GTT)
      </p>

      <div class="configuration-panel__options center-children">
        <span>Display</span>
        <label class="switcher">
          <input type="checkbox"
                 class="switcher__checkbox"
                 (change)="isFirsSeenChecked = !isFirsSeenChecked; getFirstSeen(isFirsSeenChecked);"
                 [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isFirsSeenChecked && !isSearchQuery">
          <span class="switcher__slider">
  	        <span class="switcher__option">All queries</span>
            <span class="switcher__option">First seen</span>
          </span>
        </label>
      </div>

      <form (submit)="search()" class="configuration-form configuration-form--clicked">
        <input [(ngModel)]="searchValue" name="searchValue"
               [disabled]="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0 && !isSearchQuery"
               class="input-field configuration-form__input"
               type="text" placeholder="Search by query abstract, fingerprint or ID"
               id="search-input">
        <button (submit)="search()" class="configuration-form__button" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </section>

    <section class="configuration-panel">
      <input class="input-field" type="text" name="city" list="columnlist">
      <datalist id="columnlist">
        <option selected value="Avg Latency">
        <option value="Count">
        <option value="Load">
      </datalist>
      <select [(ngModel)]="selectedOption" name="first">
        <option *ngFor="let o of options; let i = index" [attr.selected]="i === 0 ? true : null">
          {{o.name}}
        </option>
      </select>
    </section>

    <section class="grid-table queries-viewer__table">
      <header class="grid-table__row grid-table__row--main grid-table__row--main-ref grid-table__row--title">
        <span>#</span>
        <span>Query Abstract</span>
        <div class="row__cells--grid">
          <span>{{ selectedOption }}</span>
          <span>Rows Scanned</span>
        </div>
        <span>Schemas</span>
      </header>
      <div class="grid-table__row grid-table__row--main-ref grid-table__row--main grid-table__row--cursor"
           *ngFor="let row of queryProfile; let i = index; let first = first;"
           [routerLink]="['./', 'report', dbServer.Subsystem]"
           [queryParams]="composeQueryParamsForGrid(row.Id)" routerLinkActive="grid-table__row--active"
           [class.grid-table__row--first-seen]="checkFirstSeen(row)">
        <span>{{ i || '' }}</span>
        <div class="overlay-container">
          <a href="javascript:;" class="row__link overlay-container__item" title="{{ row.Fingerprint }}">
            {{ row.Rank ? (row.Abstract || 'Low Ranking Queries') : 'TOTAL' }}
          </a>
        </div>
        <app-query-profile-cell [type]="selectedOption" [row]="row" class="row__cells--grid"></app-query-profile-cell>
        <div>------------</div>
      </div>
    </section>

    <div class="center-children">
      <button *ngIf="totalAmountOfQueries && !isLoading"
              (click)="loadMoreQueries()"
              [disabled]="leftInDbQueries === 0"
              class="button button--dark button--big">
        {{quantityDbQueriesMessage}}
      </button>
      <div *ngIf="isLoading || isQuerySwitching" class="spinner-wrapper">
        <i class="fa fa-spinner fa-pulse fa-fw fa-40"></i>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div *ngIf="!!noQueryError" class="text-center alert alert-danger w-75 mx-auto wrong-configuration-message" role="alert">
    {{ noQueryError }}
  </div>

  <div *ngIf="!isQuerySwitching && !isLoading && totalAmountOfQueries === 0" class="text-center">
    <div *ngIf="dbServer.Subsystem === 'mongo' && !isFirsSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mongo-queries">
      There is no query data because profiling is not enabled for the selected host. For information about how to
      enable profiling, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mongodb.html" target="blank">
        Configuring profiling in MongoDB
      </a>in PMM documentation.
    </div>
    <div *ngIf="dbServer.Subsystem === 'mysql' && !isFirsSeenChecked && !isSearchQuery"
         class="alert alert-warning w-75 mx-auto wrap no-mysql-queries">
      There is no query data because the MySQL Server is not configured for monitoring. For details about the
      required configuration, see
      <a href="https://www.percona.com/doc/percona-monitoring-and-management/conf-mysql.html" target="blank">
        Configuring MySQL for Percona Monitoring and Management
      </a>in PMM documentation.
    </div>
    <div *ngIf="isFirsSeenChecked && !isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries First Seen during the selected time range, try widening your time range.
    </div>
    <div *ngIf="isSearchQuery" class="alert alert-warning w-75 mx-auto wrap">
      There are no queries during the selected time range, try widening your time range.
    </div>
  </div>
</div>
