.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .table-title {
    font-size: 18px;
  }

  .display-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .option-container {
      height: 40px;
      display: flex;
      align-items: center;
      overflow: hidden;
      margin-left: 10px;
      box-sizing: border-box;
      border: 1px solid #292929;
    }

  }
}

.table-body {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 9fr 7fr 10fr 9fr;
    grid-template-rows: 40px;
    box-sizing: border-box;

    &:first-child {
      font-weight: 500;
      font-size: 12px;
    }

    &.table-active > div:first-child,
    &.first-seen-query > div:first-child{
      padding-left: 8px !important;
      border-left: 3px solid #2e5785 !important;
    }

    &.table-active {
      background-color: #293a4d;
    }

    > div {
      border-left: none;
      border-bottom: none;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &:first-child {
        padding-right: 0;
      }
    }
  }
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-table-overlay {
  display: block;
  width: 30%;
  height: 30px;
}

.total-queries-amount {
  max-width: 350px;
  height: 40px;
  width: auto;
  padding: 0 15px;
  cursor: pointer;
  background-color: #212327;
}
