<section class="content-wrapper">
  <h3>How to Add an Instance</h3>
  <nav class="navigation">
    <a routerLink="/add-amazon-rds" class="navigation__link">
      <i class="fa fa-pencil" aria-hidden="true"></i> Add an AWS RDS MySQL or Aurora MySQL Instance
    </a>
    <a routerLink="/add-remote-postgres" class="navigation__link">
      <i class="fa fa-pencil" aria-hidden="true"></i> Add a Remote PostgreSQL Instance
    </a>
    <a routerLink="/add-remote-mysql" class="navigation__link">
      <i class="fa fa-pencil" aria-hidden="true"></i> Add a Remote MySQL Instance
    </a>
    <a class="navigation__link"
       href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mysql-metrics-service"
       target="blank">
      <i class="fa fa-external-link" aria-hidden="true"></i> How to add a MySQL Instance
    </a>
    <a class="navigation__link"
       href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mongodb-query-analytics-service"
       target="blank">
      <i class="fa fa-external-link" aria-hidden="true"></i> How to add a MongoDB Instance
    </a>
    <a class="navigation__link"
       href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-general-system-metrics-service"
       target="blank">
      <i class="fa fa-external-link" aria-hidden="true"></i> How to add a Linux Instance
    </a>
    <a class="navigation__link"
       href="https://www.percona.com/doc/percona-monitoring-and-management/conf-postgres.html"
       target="blank">
      <i class="fa fa-external-link" aria-hidden="true"></i> How to add a PostgreSQL Instance
    </a>
  </nav>
</section>
