<div class="container">
  <div class="row justify-content-md-center">
    <h3>How to Add Instance</h3>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-general-system-metrics-service" target="blank">How to add Linux Instance</a>
  </div>
  <div class="row justify-content-md-center">
    <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mysql-metrics-service" target="blank">How to add MySQL Instance</a>
  </div>
  <div class="row justify-content-md-center">
    <a routerLink="/add-aws" href="/add-aws">How to add RDS Aurora Instance</a>
  </div>
</div>