<div class="container">
  <div class="row justify-content-md-center">
    <h3>How to Add Instance</h3>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-3 list-group" title="Quick ranges">
    <a class="list-group-item list-group-item-action" href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-general-system-metrics-service"
      target="blank">How to add Linux Instance</a>
    <a class="list-group-item list-group-item-action" href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mysql-metrics-service"
      target="blank">How to add MySQL Instance</a>
    <a class="list-group-item list-group-item-action" routerLink="/add-aws" href="/add-aws">How to add RDS Aurora Instance</a>
  </div>
</div>
<!-- <li>
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/deploy/client/index.html#install-client" target="blank">
          Deploying pmm-client;
        </a>
      </li>
      <li>
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mysql-query-analytics-service"
          target="blank">
          Adding MySQL query analytics service;
        </a>
      </li>
      <li>
        <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-mongodb-query-analytics-service"
          target="blank">
          Adding Mongo query analytics service.
        </a>
      </li> -->
