:host {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-border-color);
}

.details-labels-title {
  padding: 10px;
  border-bottom: 1px solid var(--main-border-color);
}

.labels-list {
  padding: 0 10px;
  list-style: none;
}

.labels-list__item {
  margin-bottom: 10px;
}
