// Copied and pasted
::ng-deep {
  .renderjson a              { text-decoration: none; }
  .renderjson .disclosure    { color: crimson;
    font-size: 150%; }
  .renderjson .syntax        { color: grey; }
  .renderjson .string        { color: red; }
  .renderjson .number        { color: cyan; }
  .renderjson .boolean       { color: plum; }
  .renderjson .key           { color: lightblue; }
  .renderjson .keyword       { color: lightgoldenrodyellow; }
  .renderjson .object.syntax { color: lightseagreen; }
  .renderjson .array.syntax  { color: lightsalmon; }
}

.tools-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-expand-all {
  height: 30px;
  width: 100px;
}

.btn-copy {
  width: 135px;
  height: 30px;
}

.btn-copy,
.btn-expand-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.btn-copy,
.btn-copy:focus,
.btn-copy:active,
.btn-expand-all,
.btn-expand-all:active,
.btn-expand-all:focus {
  border: 1px solid #292929;
  box-sizing: border-box;
  background-color: #1a1919;
  outline: none;
}

.btn-copy.btn-copied,
.btn-copy.btn-copied:active,
.btn-copy.btn-copied:focus,
.btn-expand-all.btn-expanded,
.btn-expand-all.btn-expanded:active,
.btn-expand-all.btn-expanded:focus {
  background-color: #333333 !important;
  border: none;
  outline: none;
}
