// Copied and pasted
::ng-deep {
  .renderjson a              { text-decoration: none; }
  .renderjson .disclosure    { color: crimson;
    font-size: 150%; }
  .renderjson .syntax        { color: grey; }
  .renderjson .string        { color: red; }
  .renderjson .number        { color: cyan; }
  .renderjson .boolean       { color: plum; }
  .renderjson .key           { color: lightblue; }
  .renderjson .keyword       { color: lightgoldenrodyellow; }
  .renderjson .object.syntax { color: lightseagreen; }
  .renderjson .array.syntax  { color: lightsalmon; }
}

.json-tree-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}

.pmm-button {
  position: fixed;
  right: 175px;
}
