.close-icon {
  --close-size: 18px;

  position: relative;
  cursor: pointer;
  opacity: 0.3;

  display: flex;
  align-items: center;

  width: var(--close-size);
  height: var(--close-size);
  margin-top: 2px;
}

.close-icon:before,
.close-icon:after {
  position: absolute;
  top: 0;
  left: calc(var(--close-size) / 2);
  content: '';

  width: 3px;
  height: var(--close-size);
}
.close-icon:before {
  transform: rotate(45deg);
}
.close-icon:after {
  transform: rotate(-45deg);
}
