.app-theme-dark .pmm-grid-table {
  --pmm-row-active: rgb(35, 70, 130);
  --pmm-row-first-seen: rgb(13, 35, 59);
}

.app-theme-light .pmm-grid-table {
  --pmm-row-active: rgb(255, 228, 225);
  --pmm-row-first-seen: rgb(221, 228, 237);
}

.pmm-grid-table {
  margin-bottom: var(--main-bottom-indent);
}

.pmm-grid-table,
.pmm-grid-table__sub-table {
  width: 100%;
  border-collapse: collapse;
}

.pmm-grid-table,
.pmm-grid-table__cell {
  border: 1px solid var(--main-border-color);
}

.pmm-grid-table__row {
  height: 40px;
  cursor: pointer;
}

.pmm-grid-table__row:focus {
  outline: none;
}

.pmm-grid-table__row:hover .pmm-grid-table__details-button {
  text-decoration: underline;
}

.pmm-grid-table__row--active,
.pmm-grid-table__row--active.pmm-grid-table__row--first-seen {
  background-color: var(--pmm-row-active);
}

.pmm-grid-table__row--first-seen {
  background: var(--pmm-row-first-seen);
}

.pmm-grid-table__cell {
  padding: 0 10px;
}

.pmm-grid-table__cell--full {
  width: 100%;
}

.pmm-grid-table__details-button {
  cursor: pointer;
  color: var(--main-highlight-color);
  text-align: left;
  border: none;
  background-color: transparent;
}

.pmm-grid-table__sub-table {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: space-between;
}

.pmm-grid-table__sub-table > * + * {
  margin-left: 2.3em;
}

.cell__content--max {
  width: max-content;
}
