.app-theme-dark .pmm-grid-table {
  --pmm-row-active: rgb(35, 70, 130);
  --pmm-row-first-seen: rgb(13, 35, 59);
}

.app-theme-light .pmm-grid-table {
  --pmm-row-active: rgb(255, 228, 225);
  --pmm-row-first-seen: rgb(221, 228, 237);
}

.pmm-grid-table {
  margin-bottom: var(--main-bottom-indent);
}

.pmm-grid-table {
  width: 100%;
  border-collapse: collapse;
}

.pmm-grid-table__row {
  cursor: pointer;
  background-color: var(--page-background);
}

.pmm-grid-table__row--no-pointer {
  cursor: auto;
}

.pmm-grid-table__row:focus {
  outline: none;
}

.pmm-grid-table__row:hover .pmm-grid-table__details-button {
  text-decoration: underline;
}

.pmm-grid-table__row--active,
.pmm-grid-table__row--active.pmm-grid-table__row--first-seen {
  background-color: var(--pmm-row-active);
}

.pmm-grid-table__row--first-seen {
  background: var(--pmm-row-first-seen);
}

.pmm-grid-table__cell {
  height: var(--row-heigth);
  padding: 5px;
  white-space: nowrap;
  border-bottom: 1px solid var(--main-border-color);
}

.pmm-grid-table__details-button {
  cursor: pointer;
  color: var(--main-highlight-color);
  text-align: left;
  border: none;
  background-color: transparent;
}

.pmm-grid-table__sub-table {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: space-between;
}

.pmm-grid-table__sub-table > * + * {
  margin-left: 2.3em;
}

.cell__content--max {
  width: max-content;
}

.pmm-grid-table__table {
  table-layout: fixed;
  width: 100%;
}

.table-wrapper--outer {
  position: relative;
  border-top: 1px solid var(--main-border-color);

  .right-table-border {
    position: absolute;
    right: 0;
    display: block;
    width: 1px;
    height: calc(100% - 20px);
    background-color: var(--main-border-color);
  }
}

.table-wrapper--inner {
  --row-heigth: 40px;
  --first-c-width: 30px;
  --second-c-width: 250px;

  margin-left: calc(var(--first-c-width) + var(--second-c-width));
}

.pmm-grid-table__cell--fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin-top: 1px;
  background-color: inherit;
}

.pmm-grid-table__cell--first-c {
  left: 0;
  width: var(--first-c-width);
  border-left: 1px solid var(--main-border-color);
}

.pmm-grid-table__cell--second-c {
  left: var(--first-c-width);
  width: var(--second-c-width);
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
}

.pmm-grid-table__cell--second-c ~ .pmm-grid-table__cell {
  border-left: 1px solid var(--main-border-color);
}

.pmm-grid-table__cell--second-c + .pmm-grid-table__cell {
  border-left: none;
}

.pmm-table {
  display: grid;
  grid-template-columns: auto 200px ;
}


.main-main-wrapper {
  display: flex;
  flex-direction: column;

  & > div {
    margin-bottom: 20px;
  }
}
