@import '~@ng-select/ng-select/themes/default.theme.css';

.ng-select.pmm-select {
  border: 0;
  min-height: 0;
  min-width: 150px;
  border-radius: 0;
}

.ng-select.pmm-select .ng-select-container {
  min-height: 0;
  border: 1px solid var(--main-border-color);
  background-color: transparent;
  color: inherit;
  border-radius: 4px;
}

.ng-select.pmm-select.ng-select-focused .ng-select-container {
  border-color: var(--main-border-color);
  box-shadow: none;
}

.ng-select.pmm-select .ng-select-container .ng-input input {
  color: inherit;
}

.ng-select.pmm-select .ng-select-container .ng-clear-wrapper {
  display: none;
}

.ng-dropdown-panel.pmm-select {
  border: none;
  background-color: transparent;
}

.ng-select.pmm-select .ng-select-container .ng-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.ng-select.pmm-select .ng-select-container .ng-arrow-wrapper .ng-arrow {
  margin-top: 5px;
  border: none;
  width: 18px;
  height: 18px;
}

.ng-select.pmm-select.ng-select-opened .ng-select-container .ng-arrow-wrapper .ng-arrow {
  background: url(/assets/search.svg) bottom center / 100% no-repeat;
}

.ng-dropdown-panel.pmm-select .ng-dropdown-panel-items .ng-option {
  color: inherit;
  background-color: var(--highlight-background);
}

.ng-dropdown-panel.pmm-select .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgb(35, 35, 35);
}

.pmm-select--filter.ng-select {
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
}

.ng-select.pmm-select--filter .ng-select-container {
  padding: 2px 2px 2px 0;

  border-radius: 0;
  border: none;
}

.ng-select.pmm-select--filter .ng-select-container .ng-value-container {
  padding-top: 0;
}

.pmm-select--filter.ng-select .ng-select-container .ng-arrow-wrapper {
  display: flex;
  justify-content: flex-start;

  width: auto;
  margin-right: 0;
  padding: 5px 10px;

  border-radius: 5px;
  background-color: var(--main-border-color);
}

.pmm-select--filter.ng-select .ng-select-container .ng-arrow-wrapper:after {
  content: 'Search';
  margin-left: 10px;
}

.pmm-select--filter.ng-select .ng-select-container .ng-arrow-wrapper .ng-arrow {
  margin-top: 0;
  background: url(/assets/search.svg) bottom center / 100% no-repeat;
}

.pmm-select--filter.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: 0;
}

.pmm-select--filter.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: unset;
  padding-bottom: 0;

  font-style: italic;
  font-weight: 100;
  font-size: 0.9em;
}

.pmm-select--filter.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  margin-bottom: 0;
  background-color: transparent;
}

.pmm-select--filter.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  color: rgb(102, 102, 102);
  font-weight: 700;
  font-size: 1.5em;
  border-right: 0;
}

.pmm-select--filter.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: transparent;
}

.ng-select.pmm-select--filter .ng-select-container .ng-clear-wrapper {
  display: flex;
  align-items: center;
  width: auto;
}

.ng-select.pmm-select--filter .ng-select-container .ng-clear-wrapper:after {
  content: 'Reset';
  margin-right: 10px;
  font-size: 0.7em;
  font-weight: 100;
}

.ng-select.pmm-select--filter .ng-select-container .ng-clear-wrapper .ng-clear {
  display: none;
}
