/* You can add global styles to this file, and also import other style files */

main {
  padding-top: 70px;
}

.logo-img-mobile {
  display: block;
  position: absolute;
  width: 105px;
  height: 32px;
  background-size: 100px;
  background: url(assets/footer-logo.png) no-repeat;
}

.logo-text-mobile {
  font-size: 7pt;
  position: absolute;
  bottom: 0;
  left: 35px;
}

.logo-img {
  display: block;
  width: 105px;
  height: 32px;
  background-size: 100px;
  background: url(assets/footer-logo.png) no-repeat;
}

.logo-text {
  font-size: 7pt;
  position: absolute;
  bottom: 14px;
  left: 50px;
}

.query_link:hover {
  position: fixed;
  background: aliceblue;
}

.truncate {
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-free {
  padding: 0;
}

div.magrin-def-tl {
  margin: 15px;
}

div.pull-right-ui-grid-cell > div {
  float: right !important;

}

div[hljs] > pre {
  background: white;
  border: none;
}

.alert-float {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 1050;
}

.load-float {
  position: fixed;
  top: 40%;
  left: 48%;
  width: 50%;
  z-index: 1050;
}

.glyphicon-spin {
  font-size: 4em;
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

div.popover {
  max-width: 600px;
}

.text-bigger {
  font-size: 15px;
}

fieldset {
  border: 1px solid #eee;
  padding: 4px;
  margin: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

legend {
  width: initial; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
  color: grey;
  font-size: 14px;
}

table.metrics td span.sum {
  min-width: 20%;
  display: inline-block;
  text-align: right;
}

.position-static {
  position: static !important;

  span:hover {
    background-color: inherit;
  }
}

.search-input {
  max-width: 370px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    margin-bottom: 0 !important;
    text-align: left;
  }

  .form-control {
    width: 100%;
    padding: 10px 30px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #292929;
    border-radius: unset;
    color: #919191;
    background-color: transparent;

    &::placeholder {
      font-style: italic;
    }
    &:focus,
    &:active {
      border-color: #2e5785;
      background-color: transparent;
    }
  }

  .search-button {
    position: absolute;
    right: 10px;
    z-index: 99;
    width: auto;
    padding: 0;
    color: #cfd0d1;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:disabled {
      background-color: transparent;
    }
  }
}

.table-header-row {
  font-weight: bold;
}

.table-body.grid-container:last-child {
  border-bottom: none;
}

.app-theme-dark {
  .form-control,
  .search-button {
    background-color: transparent !important;
  }

  .search-input .form-control:focus,
  .search-input .form-control:active {
    border-color: #2e5785;
    background-color: transparent;
  }

  .search-button {
    &:hover {
      color: #27b2e5;
    }
  }

  .table-body {
    border-bottom: 1px solid #292929;

    .grid-container {

      > div {
        border: 1px solid #292929;

        &:first-child {
          border-left: 1px solid #292929 !important;
        }
      }
    }
  }

  .table-header-row {
    background-color: #333333;
  }

  .sections-wrapper > section,
  .server-summary {
    margin-bottom: 20px;
  }

  .card {
    box-sizing: border-box;
    border: 1px solid #292929 !important;
    border-radius: 0;
    background-color: #1f1d1d !important;
  }

  .card:not(:last-child) {
    margin-bottom: 20px;
  }

  .card-header {
    padding: 15px !important;
    border-bottom: none !important;

    a {
      display: block;
      color: #d8d9da;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: #d8d9da;
        text-decoration: none;
      }

    }

    h5 {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &::before {
        margin-right: 7px;
        font-size: 1rem;
        font-family: FontAwesome;
        content: "\f054";
      }
    }

    &.active h5::before {
      content: "\f078";
    }
  }

  .card-body {
    border-top: 1px solid #292929;

    .data-output {
      margin: 15px;
    }

    .pre {
      margin-bottom: 0;
    }

    .grid-container {
      display: grid;
      border-right: none;
      grid-template-rows: 40px;
      align-items: center;

      & > .cell-overlay {
        position: relative;
        display: flex;

        span {
          align-self: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      & > div {
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          border-right: 1px solid #292929;
        }
      }
    }

  }

  #metrics-table-header a,
  #statusTab-header a,
  #logTitle-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3 {
      margin-bottom: 0;
    }
  }

  .metrics-table {
    .table-body {
      border-bottom: none;

      .grid-container {
        &:not(:last-child) {
          border-bottom: 1px solid #292929 !important;
        }
        > div {
          border-top: none;
          border-left: none !important;
          border-bottom: none !important;

          &:last-child {
            border-right: none !important;
          }
        }
      }
    }

    .table-body > div:not(:last-child),
    .table-header {
      border-bottom: 1px solid #292929;
    }
  }

  .explain-search-input {
    position: relative;

    i {
      position: absolute;
      left: 10px;
    }

    .form-control {
      padding: 10px 85px 10px 30px;
      color: #ffffff;
    }

    .search-button:hover {
      color: #27b2e5;

      &:active,
      &:focus {
        border: none;
      }
    }
  }

  .first-seen-time {
    color: #27b2e5;
  }
}

.app-theme-light {
  .search-input {

    .form-control {
      border-color: rgba(0, 0, 0, 0.15);
    }

    .search-button {
      color: #0275d8;;
    }
  }

  .table-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    .grid-container {

      > div {
        border: 1px solid rgba(0, 0, 0, 0.15);

        &:first-child {
          border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
        }
      }
    }
  }
}

.unit:after {
  margin-left: 3px;
  font-size: 0.8rem;
  color: #999999;
}

.unit-percent:after {
  content: '%'
}

.unit-avg:after {
  content: 'avg';
}

.unit-qps:after {
  content: 'QPS';
}

.unit-per-sec:after {
  content: '(per sec)';
}

.unit-avg-load:after {
  content: '(avg load)';
}

.unit-load:after {
  content: 'load';
}

.btn-switcher,
.total-queries-amount,
.btn-tables {
  height: 100%;
  margin-top: 0;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  width: 115px;
  border: none;
  outline: none;

  &.checked {
    background-color: #212327;
  }

  &:focus,
  &:active {
    box-shadow: none;
    outline: none !important;
  }
}

.total-queries-amount {
  border: 1px solid #292929;

  &:disabled {
    background-color: #333333;
    cursor: not-allowed !important;
    opacity: .65;
  }
}

.btn-tables {
  width: auto;
  height: 40px;
  margin-right: 20px;
  padding: 0 40px 0 15px;
  border: 1px solid #292929;
}

.btn-tables-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: -28px !important;
  border: none;
  z-index: 99;
}

.tools-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .pmm-button:last-child {
    margin-left: 25px;
  }
}

pre.renderjson {
  margin-bottom: 0;
}

.pmm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 35px;
  padding-bottom: 0;
  font-size: 0.9rem !important;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border: 1px solid #292929;
  background-color: #1a1919;
  box-sizing: border-box;
}

.pmm-button:focus,
.pmm-button:active,
.pmm-button:active,
.pmm-button:focus {
  outline: none !important;
  //background-color: #1a1919;
  box-shadow: none !important;
}

.pmm-button.btn-copied,
.pmm-button.btn-copied:active,
.pmm-button.btn-copied:focus,
.pmm-button.btn-expanded,
.pmm-button.btn-expanded:active,
.pmm-button.btn-expanded:focus {
  background-color: #333333 !important;
  border: none;
  outline: none !important;
}

.card-block {
  padding: 0;
}

label {
  text-align: right;
}

label:not(.form-check-label):after {
  content: ":";
}

.accordion-head-second {
  /*display: inline-block;*/
  float: right;
  color: black;
  text-decoration: none;
}

.pull-right {
  float: right;
}

/* --- charts.css --- */

.load-sparklines {
  height: 15px;
  /* width: inherit; */
  width: auto;
  font: 5px sans-serif;
  cursor: crosshair;
}

.scaling-svg-container {
  position: relative;
  height: 30px; /* 0 */
  max-width: 100px;
  width: 100%;
  padding: 0;
}

.scaling-svg {
  cursor: crosshair;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.line {
  fill: none;
  stroke: #D9721F;
  stroke-width: 1px;
}

.x-axis {
  fill: none;
  stroke: #D9721F;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.circle {
  fill: white;
  stroke: #D9721F;
  stroke-width: 1px;
}

.area {
  fill: #D9721F;
  stroke: none;
  opacity: 0.1;
}

.zeroline {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.zerolinetext {
  fill: red;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: #D9721F;
  stroke-width: 0.5px;
}

.focusCircle {
  fill: #D9721F;
}

/* --------------------- */

.latency-chart {
  width: 150px;
  height: 19px;
  font: 5px sans-serif;
}

.latency-chart-x {
  stroke: #aaa;
  stroke-width: 1px;
}

.latency-chart-line {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-min {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-max {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-avg {
  fill: white;
  stroke: #D9721F;
  stroke-width: 1px;
}

.latency-chart-p95 {
  fill: red;
  stroke: red;
  stroke-width: 1px;
}

.latency-text-min {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.latency-text-max {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.latency-popup {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.latency-popup > li {
  padding-left: 6px;
}

li.li-min:before {
  content: "⌜";
  padding-right: 8px;
  color: #D9721F;
}

li.li-med:before {
  content: "-";
  padding-right: 8px;
  color: #D9721F;
}

li.li-avg:before {
  content: "◦";
  padding-right: 8px;
  color: #D9721F;
}

li.li-p95:before {
  content: "•";
  padding-right: 8px;
  color: red;
}

li.li-max:before {
  content: "⌟";
  padding-right: 8px;
  color: #D9721F;
}

dfn {
  border-bottom: 1px dashed #c0c0c0;
  cursor: help;
}

dfn::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 8.2em;
  font-size: 0.7em;
  padding: 1px 5px;
  white-space: pre;
  display: none;
  color: black;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #afafaf;
  border-radius: 1px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

dfn:hover::before {
  display: inline-block;
}

div.app-tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 1.8em;
  font-size: 0.7em;
  padding: 1px 5px;
  white-space: pre;
  display: none;
  color: black;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #afafaf;
  border-radius: 1px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

div.app-tooltip:hover::before {
  display: inline-block;
}

.loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 10px;
}

.loading-in-front {
  //@extend .loading;
  //position: absolute;
  font-size: 40px;
}

.smart-query-abstract {
  width: 14em;
  white-space: nowrap;
}

.smart-id {
  width: 3em;
}

.smart-latency-time {
  width: 3em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cell-overlay {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover span {
      padding: 0;
    }
  }
}

.cell-overlay {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell-overlay > span:focus, .cell-overlay > span:hover {
  padding: 0 15px 0 0;
  overflow: visible;
  display: inline-block;
  position: absolute;
  z-index: 999;
  //background-color: 161719;
}

.table-active > .cell-overlay > span:focus,
.table-active > .cell-overlay > span:hover {
  padding: 0 15px 0 0;
  overflow: visible;
  display: inline-block;
  position: absolute;
  z-index: 999;
  background: rgb(238, 236, 236);
}

.hosts-list-menu {
  margin: 0;
  padding: 0;
  min-width: 600px;
  max-width: 900px;
  max-height: 70vh;
  overflow: scroll;
}

@media print {

  /* FIXME: rid pagebrakes for media print*/
  body * {
    page-break-before: avoid;
  }

  h1::first-letter {
    margin-top: -10px;
  }
}

.no-nav {
  padding-top: 10px;
}

footer {
  height: 30px;
  background: url(assets/pmm-logo.svg) no-repeat;
  background-position-x: 97%;
  background-size: 2%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

body {
  background: rgba(0, 0, 0, 0);
}

.app-theme-dark {
  body {
    background: #fff;
  }
}

.app-theme-dark {
  // Global values
  // Grays
  // -------------------------
  $black: #000;
  $dark-1: #141414;
  $dark-2: #1f1d1d;
  $dark-3: #292929;
  $dark-4: #333333;
  $dark-5: #444444;
  $gray-1: #555555;
  $gray-2: #666666;
  $gray-3: #b3b3b3;
  $gray-4: #D8D9DA;
  $gray-5: #ECECEC;
  $gray-6: #f4f5f8;
  $gray-7: #fbfbfb;
  $white: #fff;

  // Accent colors
  // -------------------------
  $blue: #27B2E5;
  $blue-dark: #005f81;
  $green: #299c46;
  $red: #d44a3a;
  $yellow: #ECBB13;
  $pink: #FF4444;
  $purple: #9933CC;
  $variable: #32D1DF;
  $orange: #eb7b18;

  $brand-primary: $blue;
  $brand-success: $green;
  $brand-warning: $orange;
  $brand-danger: $red;

  // Status colors
  // -------------------------
  $online: #10a345;
  $warn: #F79520;
  $critical: #ed2e18;

  // Scaffolding
  // -------------------------
  $body-bg: transparent;
  $page-bg: $dark-2;
  $body-color: $gray-4;
  $text-color: $white;
  background: $body-bg;
  color: $gray-4;
  .logo-text {
    color: $gray-4;
  }

  div.dropdown-menu {
    background-color: $dark-3;
  }
  div.dropdown-menu > a {
    background: $dark-4;
    color: $gray-4;
  }

  div.dropdown-menu > a:hover {
    background: $gray-1;
    color: $gray-4;
  }

  a.list-group-item {
    background-color: $dark-4;
    color: $gray-4;
  }

  a.list-group-item:hover {
    background-color: $gray-1;
    color: $gray-4;
  }

  .glyphicon-spin {
    color: $white;
  }

  $enable-rounded: false;
  $border-radius: 0;
  $border-radius-lg: 0;
  $border-radius-sm: 0;

  $btn-border-radius: 0;
  $card-border-radius: 0;
  $card-border-radius-inner: 0;

  $card-bg: $dark-2;
  $card-cap-bg: $dark-2;

  // $border-width: 0;

  // Tables
  // -------------------------
  $table-bg: transparent; // overall background-color
  $table-bg-accent: $dark-3; // for striping
  $table-bg-hover: $dark-4; // for hover
  $table-bg-active: #293a4d; //active table
  $table-border: $dark-2; // table and cell border
  $table-border-width: 0;

  $input-bg: $dark-4;
  $input-color: $white;
  $input-border-color: $dark-4;

  $btn-primary-color: $brand-primary;
  $btn-primary-bg: $dark-4;
  $btn-primary-border: transparent;

  $btn-secondary-color: $brand-success;
  $btn-secondary-bg: $dark-4;
  $btn-secondary-border: transparent;

  $input-group-addon-bg: $dark-4;

  $pre-bg: $dark-2;
  $pre-color: $white;

  .cell-overlay > span:focus, .cell-overlay > span:hover {
    background-color: #161719;
  }

  .first-seen-query,
  .first-seen-query > .cell-overlay > span:focus,
  .first-seen-query > .cell-overlay > span:hover {
    background: #0d233b;
  }

  .table-active > .cell-overlay > span:focus,
  .table-active > .cell-overlay > span:hover {
    background: #293a4d;
  }

  footer {
    filter: invert(0%);
    -webkit-filter: invert(0%);
  }

  // Bootstrap and its default variables
  @import "node_modules/bootstrap/scss/bootstrap";

}
