/* You can add global styles to this file, and also import other style files */

@import "app/global-styles/variables";
@import "app/global-styles/themes/theme-dark";
@import "app/global-styles/themes/theme-light";
@import "app/global-styles/accordion";
@import "app/global-styles/tabset";
@import "app/global-styles/grid-tables";
@import "app/global-styles/slinky-content";
@import "app/global-styles/qan-main-table";
@import "app/global-styles/buttons";
@import "app/global-styles/inputs";
@import "app/global-styles/input-select";
@import "app/global-styles/select.scss";
@import "app/global-styles/scrollbar";
@import "app/global-styles/checkbox";
@import "app/global-styles/configuration-panel";
@import "app/global-styles/search";
@import "app/global-styles/column-configuration";
@import "app/global-styles/switcher";
@import "app/global-styles/overlay";
@import "app/global-styles/units";
@import "app/global-styles/spinner";
@import "app/global-styles/charts";
@import "app/global-styles/app-tooltip";
@import "app/global-styles/close-icon";
@import "app/global-styles/badge";
@import "app/global-styles/not-used";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-text-color, rgb(211, 211, 211));
  background-color: var(--page-background, transparent);
}

main {
  padding-top: 70px;
}

.no-nav {
  padding-top: 10px;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
}

app-json-tree {
  width: 100%;
}

pre,
label {
  margin-bottom: 0;
}

label {
  text-align: right;
}

button:active,
button:focus {
  outline: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  color: var(--main-text-color, rgb(211, 211, 211));
}

.pmm-logo {
  width: 30px;
  height: 30px;
}

.btn {
  border: none;
}

.highlight-content {
  color: var(--main-highlight-color);
}

.highlight-content--success {
  color: var(--success-highlight-color);
}

.cursor-pointer {
  cursor: pointer;
}

div[hljs] > pre {
  background: white;
  border: none;
}

@media print {

  /* FIXME: rid pagebrakes for media print*/
  body * {
    page-break-before: avoid;
  }

  h1::first-letter {
    margin-top: -10px;
  }
}
