/* You can add global styles to this file, and also import other style files */

@import "app/global-styles/variables";
@import "app/global-styles/themes/theme-dark";
@import "app/global-styles/themes/theme-light";
@import "app/global-styles/accordion";
@import "app/global-styles/grid-tables";
@import "app/global-styles/buttons";
@import "app/global-styles/inputs";
@import "app/global-styles/configuration-panel";
@import "app/global-styles/switcher";
@import "app/global-styles/overlay";
@import "app/global-styles/units";
@import "app/global-styles/spinner";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  background-color: transparent;
}

main {
  padding-top: 70px;
}

.no-nav {
  padding-top: 10px;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
}

app-json-tree {
  width: 100%;
}

pre,
label {
  margin-bottom: 0;
}

label {
  text-align: right;
}

label:not(.form-check-label):after {
  content: ":";
}

button:active,
button:focus {
  outline: none;
}

footer {
  height: 30px;
  background: url(assets/pmm-logo.svg) no-repeat;
  background-position-x: 97%;
  background-size: 2%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.logo-img-mobile {
  display: block;
  position: absolute;
  width: 105px;
  height: 32px;
  background-size: 100px;
  background: url(assets/footer-logo.png) no-repeat;
}

.logo-text-mobile {
  font-size: 7pt;
  position: absolute;
  bottom: 0;
  left: 35px;
}

.logo-img {
  display: block;
  width: 105px;
  height: 32px;
  background-size: 100px;
  background: url(assets/footer-logo.png) no-repeat;
}

.logo-text {
  font-size: 7pt;
  position: absolute;
  bottom: 14px;
  left: 50px;
}

//??????????
.query_link:hover {
  position: fixed;
  background: aliceblue;
}

.truncate {
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//??????????
.padding-free {
  padding: 0;
}

//??????????
div.magrin-def-tl {
  margin: 15px;
}

div[hljs] > pre {
  background: white;
  border: none;
}

//??????????
.alert-float {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 1050;
}

//??????????
.load-float {
  position: fixed;
  top: 40%;
  left: 48%;
  width: 50%;
  z-index: 1050;
}

//??????????
div.popover {
  max-width: 600px;
}

//??????????
.text-bigger {
  font-size: 15px;
}

fieldset {
  border: 1px solid #eee;
  padding: 4px;
  margin: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

legend {
  width: initial; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
  color: grey;
  font-size: 14px;
}

//.search-input {
//  max-width: 370px;
//  width: 100%;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//
//  label {
//    margin-bottom: 0 !important;
//    text-align: left;
//  }
//
//  .form-control {
//    width: 100%;
//    padding: 10px 30px 10px 10px;
//    box-sizing: border-box;
//    border-radius: unset;
//    background-color: transparent;
//
//    &::placeholder {
//      font-style: italic;
//    }
//  }
//
//  .search-button {
//    position: absolute;
//    right: 10px;
//    z-index: 99;
//    width: auto;
//    padding: 0;
//    cursor: pointer;
//    border: none;
//  }
//}

//.form-control {
//  box-shadow: none !important;
//  &:focus,
//  &:active {
//    box-shadow: none !important;
//  }
//}

//.explain-search-input {
//  position: relative;
//
//  i {
//    position: absolute;
//    left: 10px;
//  }
//
//  .form-control {
//    padding: 10px 85px 10px 30px !important;
//  }
//
//  .search-button:hover {
//    &:active,
//    &:focus {
//      border: none;
//    }
//  }
//}

//.form-control,
//.search-button {
//  background-color: transparent !important;
//}

//???????????
.pull-right {
  float: right;
}

/* --- charts.css --- */

.load-sparklines {
  height: 15px;
  /* width: inherit; */
  width: auto;
  font: 5px sans-serif;
  cursor: crosshair;
}

.scaling-svg-container {
  position: relative;
  height: 30px; /* 0 */
  max-width: 100px;
  width: 100%;
  padding: 0;
}

.scaling-svg {
  cursor: crosshair;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.line {
  fill: none;
  stroke: #D9721F;
  stroke-width: 1px;
}

.x-axis {
  fill: none;
  stroke: #D9721F;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.circle {
  fill: white;
  stroke: #D9721F;
  stroke-width: 1px;
}

.area {
  fill: #D9721F;
  stroke: none;
  opacity: 0.1;
}

.zeroline {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.zerolinetext {
  fill: red;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: #D9721F;
  stroke-width: 0.5px;
}

.focusCircle {
  fill: #D9721F;
}

/* --------------------- */

.latency-chart {
  width: 150px;
  height: 19px;
  font: 5px sans-serif;
}

.latency-chart-x {
  stroke: #aaa;
  stroke-width: 1px;
}

.latency-chart-line {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-min {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-max {
  stroke: #D9721F;
  fill: #D9721F;
  stroke-width: 2px;
}

.latency-chart-avg {
  fill: white;
  stroke: #D9721F;
  stroke-width: 1px;
}

.latency-chart-p95 {
  fill: red;
  stroke: red;
  stroke-width: 1px;
}

.latency-text-min {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.latency-text-max {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.latency-popup {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.latency-popup > li {
  padding-left: 6px;
}

li.li-min:before {
  content: "⌜";
  padding-right: 8px;
  color: #D9721F;
}

li.li-med:before {
  content: "-";
  padding-right: 8px;
  color: #D9721F;
}

li.li-avg:before {
  content: "◦";
  padding-right: 8px;
  color: #D9721F;
}

li.li-p95:before {
  content: "•";
  padding-right: 8px;
  color: red;
}

li.li-max:before {
  content: "⌟";
  padding-right: 8px;
  color: #D9721F;
}

dfn {
  border-bottom: 1px dashed #c0c0c0;
  cursor: help;
}

dfn::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 8.2em;
  font-size: 0.7em;
  padding: 1px 5px;
  white-space: pre;
  display: none;
  color: black;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #afafaf;
  border-radius: 1px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

dfn:hover::before {
  display: inline-block;
}

div.app-tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 2.2em;
  font-size: 0.7em;
  padding: 1px 5px;
  white-space: pre;
  display: none;
  color: black;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #afafaf;
  border-radius: 1px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

div.app-tooltip:hover::before {
  display: inline-block;
}

.loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin: 10px;
}

.loading-in-front {
  //@extend .loading;
  //position: absolute;
  font-size: 40px;
}

.loading-on-switch {
  margin: 0 auto;
}

.loader-wrapper {
  display: flex;
}

.smart-query-abstract {
  width: 14em;
  white-space: nowrap;
}

.smart-id {
  width: 3em;
}

.smart-latency-time {
  width: 3em;
}

.hosts-list-menu {
  margin: 0;
  padding: 0;
  min-width: 600px;
  max-width: 900px;
  max-height: 70vh;
  overflow: scroll;
}

@media print {

  /* FIXME: rid pagebrakes for media print*/
  body * {
    page-break-before: avoid;
  }

  h1::first-letter {
    margin-top: -10px;
  }
}
