.card-body__content > * {
  --row-gap: 1.5rem;

  width: 50%;
}

.settings-title {
  margin-bottom: var(--row-gap);
  text-align: center;
}

.settings-content {
  display: grid;
  grid-template-columns: .8fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: var(--row-gap);
  grid-column-gap: 1rem;
  align-items: baseline;
  word-break: break-word;
}

.settings-content > *:nth-child(odd) {
  text-align: right;
}

.settings-content + .settings-content {
  margin-top: var(--row-gap);
}

.settings-content__button {
  grid-column-start: 2;
  grid-column-end: 3;
}

.checkbox-wrapper {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-right: 10px;
}

.log-period {
  margin: 0 1rem;
}

.log-period > *:not(:last-child) {
  border-right: none;
}
