<ngb-accordion activeIds="settingsTab" #acSettings="ngbAccordion">
    <ngb-panel id="settingsTab">
        <ng-template ngbPanelTitle>
            <h5>SETTINGS</h5>
        </ng-template>
        <ng-template ngbPanelContent>
            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <form>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">DSN</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{ dbServer.DSN.split('/?')[0] }}</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Version</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{ dbServer.Version }} {{ dbServer.Distro }}</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputInterval" class="col-sm-3 col-form-label">Collect interval</label>
                                <div class="col-sm-2">
                                    <input class="form-control" type="number" min="1" max="60" id="inputInterval" name="interval" aria-describedby="intervalHelpBlock"
                                        [(ngModel)]="interval" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-sm-5">
                                    <span id="intervalHelpBlock" class="form-text"><small>minutes (from 1 to 60)</small></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-7">
                                    <label class="form-check-label">
                                        <input type="checkbox" [(ngModel)]="exampleQueries" [ngModelOptions]="{standalone: true}" class="form-check-input">
                                        Send real query examples
                                    </label>
                                </div>
                            </div>

                            <div *ngIf="dbServer.Subsystem === 'mysql'" class="form-group row">
                                <label for="inputSource" class="col-sm-3 col-form-label">Collect from</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="inputSource" name="source" [(ngModel)]="collectFrom" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let source of [{key: 'slowlog', name: 'Slow log'}, {key: 'perfschema', name: 'Performance Schema'}]"
                                                 [value]="source.key">
                                            {{ source.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-4">
                                    <button id="settings_apply_button" [disabled]="isDemo" type="submit" (click)="setAgentDefaults()" class="btn btn-outline-primary">
                                        <i class="fa fa-check"></i>Apply
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div *ngIf="dbServer.Subsystem === 'mysql'" class="col-md-6">
                    <fieldset *ngIf="agentConf?.qan?.CollectFrom === 'slowlog'">
                        <legend>Slow Log Configuration</legend>

                        <div class="form-group row">
                            <label for="inputLongQueryTime" class="col-sm-5 col-form-label">Long query time</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ agentConf?.qan?.LongQueryTime }}</p>
                            </div>
                            <div class="col-sm-2">
                                <span id="longQueryTimeHelpBlock" class="help-block"><small>second(s)</small></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputMaxSlowLogSize" class="col-sm-5 col-form-label">Max slow log size</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">{{ agentConf?.qan?.MaxSlowLogSize | humanize : 'size' }}</p>
                            </div>
                            <div class="col-sm-2">
                                <span id="maxSlowLogSizeHelpBlock" class="help-block"><small>0 = no max</small></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="RemoveOldSlowLogs" class="col-sm-5 col-form-label">Remove old slow logs</label>
                            <div class="col-sm-3">
                                <p class="form-control-static" id="RemoveOldSlowLogs">{{ agentConf?.qan?.RemoveOldSlowLogs ? 'ON' : 'OFF' }}</p>
                            </div>
                        </div>

                        <!-- Additional settings -->
                        <div *ngIf="dbServer.Distro.toLowerCase().indexOf('percona') === -1 && dbServer.Version.startsWith('5.5')" class="alert alert-warning" role="alert">
                            Upgrade to <a href="https://www.percona.com/software/mysql-database/percona-server">Percona Server</a>
                            to enable more options.
                        </div>
                        <div *ngIf="dbServer.Distro.toLowerCase().indexOf('percona') !== -1 || !dbServer.Version.startsWith('5.5')">
                            <div class="form-group row">
                                <label for="inputLogSlowVerbosity" class="col-sm-5 col-form-label">Slow log verbosity</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ agentConf?.qan?.LogSlowVerbosity }}</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputLogSlowRateLimit" class="col-sm-5 col-form-label">Rate limit</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ agentConf?.qan?.LogSlowRateLimit }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <span id="rateLimitHelpBlock" class="help-block"><small>0 and 1 = disabled</small></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="LogSlowAdminStatements" class="col-sm-5 col-form-label">Log slow admin statements</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ agentConf?.qan?.LogSlowAdminStatements ? 'ON' : 'OFF' }}</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="LogSlowSlaveStatements" class="col-sm-5 col-form-label">Log slow slave statements</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">{{ agentConf?.qan?.LogSlowSlaveStatements ? 'ON' : 'OFF' }}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="statusTab">
        <ng-template ngbPanelTitle>
            <h5>STATUS</h5>
            <span class="accordion-head-second">
                (<i>Updated {{ (statusUpdatedFromNow$ | async) || 'a few seconds ago' }}</i>) |
                <a href="javascript:void(0);" id="refreshStatusLink" title="Refresh status" (click)="getAgentStatus(); $event.stopPropagation();">
                    <i class="fa fa-refresh"></i>
                </a>
            </span>
        </ng-template>
        <ng-template ngbPanelContent>
            <table *ngIf="agentStatus | async as status; else loading" class="table table-bordered table-sm" id="statusTable">
                <tr *ngFor="let item of status | mapToIterable">
                    <td>{{ item.key }}</td>
                    <td>{{ item.val }}</td>
                </tr>
            </table>
            <ng-template #loading>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            </ng-template>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="logTitle">
        <ng-template ngbPanelTitle>
            <h5>LOG</h5>
            <span class="accordion-head-second">
             (<i>Updated {{ (logUpdatedFromNow$ | async) || 'a few seconds ago' }}</i>)
            <div class="btn-group btn-group-sm" role="group" aria-label="Log period">
                <button type="button" id="logPeriod1h" (click)="setLogPeriod(1); $event.stopPropagation(); $event.preventDefault();" [ngClass]="{'active': logPeriod === 1 }" value="1" class="btn btn-secondary">1 h</button>
                <button type="button" id="logPeriod2h" (click)="setLogPeriod(2); $event.preventDefault(); $event.stopPropagation();" [ngClass]="{'active': logPeriod === 2 }" value="2" class="btn btn-secondary">2 h</button>
                <button type="button" id="logPeriod6h" (click)="setLogPeriod(6); $event.preventDefault(); $event.stopPropagation();" [ngClass]="{'active': logPeriod === 6 }" value="6" class="btn btn-secondary">6 h</button>
                <button href="javascript:void(0);" type="button" id="logPeriod12h" (click)="setLogPeriod(12); $event.preventDefault(); $event.stopPropagation();" [ngClass]="{'active': logPeriod === 12 }" value="12"
                    class="btn btn-secondary">12 h</button>
                <button href="javascript:void(0);" type="button" id="logPeriod1d" (click)="setLogPeriod(24); $event.preventDefault(); $event.stopPropagation();" [ngClass]="{'active': logPeriod === 24 }" value="24" class="btn btn-secondary">1 d</button>
                <button href="javascript:void(0);" type="button" id="logPeriod5d" (click)="setLogPeriod(120); $event.preventDefault(); $event.stopPropagation();" [ngClass]="{'active': logPeriod === 120 }" value="120"
                    class="btn btn-secondary">5 d</button>
            </div>
            |
            <a href="javascript:void(0);" id="refreshLogLink" title="Refresh log" (click)="refreshAgentLog(); $event.preventDefault(); $event.stopPropagation();">
                <i class="fa fa-refresh"></i>
            </a>
            </span>
        </ng-template>
        <ng-template ngbPanelContent>
            <table *ngIf="agentLog | async as aLog; else loading"  class="table table-bordered table-sm" id="logTable">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Service</th>
                        <th>Level</th>
                        <th>Msg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of aLog">
                        <td nowrap>{{ log.Ts }}</td>
                        <td nowrap>{{ log.Service }}</td>
                        <td nowrap>{{ severityLeveles[log.Level] }}</td>
                        <td>{{ log.Msg }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #loading>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
            </ng-template>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
