<div *ngIf="isAllSelected" class="alert alert-warning w-75 mx-auto text-center wrap" role="alert">Host name of All is
  not valid, please click the Host dropdown and select a valid host.
</div>
<div *ngIf="isNotExistSelected" class="alert alert-warning w-75 mx-auto text-center wrap" role="alert">Host name is not
  valid, please click the Host dropdown and select a valid host. If the Host list is empty, use
  <code>pmm-admin add</code> to add a monitoring service and check again. For more information on how to add a
  monitoring service,
  consult
  <a href="https://www.percona.com/doc/percona-monitoring-and-management/pmm-admin.html#adding-monitoring-services"
     target="blank">
    PMM documentation.
  </a>
</div>
<ngb-accordion *ngIf="!isNotExistSelected && !isAllSelected" activeIds="settingsTab" #acSettings="ngbAccordion">
  <ngb-panel id="settingsTab">
    <ng-template ngbPanelTitle>
      <header class="card-header__content">
        <h5 class="card-header__title">SETTINGS</h5>
      </header>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body__content">
        <form (ngSubmit)="setAgentDefaults()" class="settings-content">
          <span>DSN:</span>
          <span>{{ dbServer.DSN.split('/?')[0] }}</span>
          <span>Version:</span>
          <span>{{ dbServer.Version }} {{ dbServer.Distro }}</span>
          <span>Collect interval:</span>
          <div>
            <div>
              <input class="input-field input-field--interval" type="number" min="1" max="60" id="inputInterval" name="interval"
                     aria-describedby="intervalHelpBlock"
                     #inputInterval="ngModel"
                     [(ngModel)]="interval"
                     [ngModelOptions]="{standalone: true}"
                     (keyup)="validateValue($event.target.value)"
                     (paste)="validateValue($event.target.value)"
                     (blur)="validateValue($event.target.value)">
              <small>minutes (from 1 to 60)</small>
            </div>
            <label class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="exampleQueries" [ngModelOptions]="{standalone: true}"
                     class="">
              Send real query examples
            </label>
          </div>
          <span *ngIf="dbServer.Subsystem === 'mysql'">Collect from:</span>
          <select *ngIf="dbServer.Subsystem === 'mysql'"
                  [(ngModel)]="collectFrom"
                  [ngModelOptions]="{standalone: true}"
                  class="input-field input-field--select"
                  id="inputSource" name="source">
            <option *ngFor="let source of [{key: 'slowlog', name: 'Slow log'}, {key: 'perfschema', name: 'Performance Schema'}]"
                    [value]="source.key">
              {{ source.name }}
            </option>
          </select>
          <button [class.button--inside-active]="isSuccess || isError" [disabled]="isDemo || interval === ''"
                  id="settings_apply_button" class="button button--inside settings-content__button"
                  type="submit">
            <i class="fa fa-check"></i>
            Apply
          </button>
          <!--todo: Add toast notification-->
        </form>
        <section *ngIf="dbServer.Subsystem === 'mysql' && agentConf?.qan?.CollectFrom === 'slowlog'">
          <h3 class="settings-title">Slow Log Configuration</h3>
          <div class="settings-content">
            <span>Long query time:</span>
            <span>{{ agentConf?.qan?.LongQueryTime }} <small>second(s)</small></span>
            <span>Max slow log size:</span>
            <span>{{ agentConf?.qan?.MaxSlowLogSize | humanize : 'size' }} <small>0 = no max</small></span>
            <span>Slow logs rotation:</span>
            <span>{{ agentConf?.qan?.SlowLogRotation ? 'ON' : 'OFF' }}</span>
            <span>Slow logs to retain on disk:</span>
            <span>{{ agentConf.qan.RetainSlowLogs ? agentConf.qan.RetainSlowLogs : 'N/A' }}</span>
          </div>
          <div *ngIf="dbServer.Distro.toLowerCase().indexOf('percona') === -1 && dbServer.Version.startsWith('5.5')"
               class="alert alert-warning" role="alert">
            Upgrade to <a href="https://www.percona.com/software/mysql-database/percona-server" target="_blank">
            Percona Server</a>
            to enable more options.
          </div>
          <div *ngIf="dbServer.Distro.toLowerCase().indexOf('percona') !== -1 || !dbServer.Version.startsWith('5.5')"
               class="settings-content">
            <span>Slow log verbosity:</span>
            <span>{{ agentConf?.qan?.LogSlowVerbosity }}</span>
            <span>Rate limit:</span>
            <span>{{ agentConf?.qan?.LogSlowRateLimit }} <small>0 and 1 = disabled</small></span>
            <span>Log slow admin statements:</span>
            <span>{{ agentConf?.qan?.LogSlowAdminStatements ? 'ON' : 'OFF' }}</span>
          </div>
        </section>
      </div>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="statusTab">
    <ng-template ngbPanelTitle>
      <header class="card-header__content">
        <h5 class="card-header__title">STATUS</h5>
        <span class="highlight-content">
          (<i>Updated {{ (statusUpdatedFromNow$ | async) || 'a few seconds ago' }}</i>) |
            <span (click)="getAgentStatus(); $event.stopPropagation(); $event.preventDefault();"
                  class="fa fa-refresh" id="refreshStatusLink" title="Refresh status">
            </span>
        </span>
      </header>
    </ng-template>
    <ng-template ngbPanelContent>
      <section *ngIf="agentStatus | async as status; else loading"
               class="grid-table grid-table--auto-row-height grid-table--no-frame" id="statusTable">
        <div *ngFor="let item of status | mapToIterable" class="grid-table__row grid-table__row--status--log">
          <span>{{ item.key }}</span>
          <span>{{ item.val }}</span>
        </div>
      </section>
      <ng-template #loading>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
      </ng-template>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="logTitle">
    <ng-template ngbPanelTitle>
      <header class="card-header__content">
        <h5 class="card-header__title">LOG</h5>
        <section class="center-children highlight-content">
          (<i>Updated {{ (logUpdatedFromNow$ | async) || 'a few seconds ago' }}</i>)
          <div class="center-children log-period" role="group" aria-label="Log period" id="update-group">
            <button type="button" id="logPeriod1h"
                    (click)="setLogPeriod(1); $event.stopPropagation(); $event.preventDefault();"
                    [ngClass]="{'button--inside-active': logPeriod === 1 }" value="1"
                    class="button button--inside">1 h
            </button>
            <button type="button" id="logPeriod2h"
                    (click)="setLogPeriod(2); $event.preventDefault(); $event.stopPropagation();"
                    [ngClass]="{'button--inside-active': logPeriod === 2 }" value="2"
                    class="button button--inside">2 h
            </button>
            <button type="button" id="logPeriod6h"
                    (click)="setLogPeriod(6); $event.preventDefault(); $event.stopPropagation();"
                    [ngClass]="{'button--inside-active': logPeriod === 6 }" value="6"
                    class="button button--inside">6 h
            </button>
            <button href="javascript:void(0);" type="button" id="logPeriod12h"
                    (click)="setLogPeriod(12); $event.preventDefault(); $event.stopPropagation();"
                    [ngClass]="{'button--inside-active': logPeriod === 12 }" value="12"
                    class="button button--inside">12 h
            </button>
            <button href="javascript:void(0);" type="button" id="logPeriod1d"
                    (click)="setLogPeriod(24); $event.preventDefault(); $event.stopPropagation();"
                    [ngClass]="{'button--inside-active': logPeriod === 24 }" value="24"
                    class="button button--inside">1 d
            </button>
            <button href="javascript:void(0);" type="button" id="logPeriod5d"
                    (click)="setLogPeriod(120); $event.preventDefault(); $event.stopPropagation();"
                    [ngClass]="{'button--inside-active': logPeriod === 120 }" value="120"
                    class="button button--inside">5 d
            </button>
          </div>
          <span id="refreshLogLink" title="Refresh log"
             (click)="refreshAgentLog(); $event.preventDefault(); $event.stopPropagation();">
            <i class="fa fa-refresh"></i>
          </span>
        </section>
      </header>
    </ng-template>
    <ng-template ngbPanelContent>
      <section *ngIf="agentLog | async as aLog; else loading" class="grid-table grid-table--auto-row-height grid-table--no-frame"
               id="logTable">
        <header class="grid-table__row grid-table__row--log grid-table__row--highlight">
          <span>Timestamp</span>
          <span>Service</span>
          <span>Level</span>
          <span>Msg</span>
        </header>
        <div *ngFor="let log of aLog" class="grid-table__row grid-table__row--log">
          <span>{{ log.Ts }}</span>
          <span>{{ log.Service }}</span>
          <span>{{ severityLeveles[log.Level] }}</span>
          <span>{{ log.Msg }}</span>
        </div>
      </section>
      <ng-template #loading>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
      </ng-template>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
